unpackaged/main/default/flows/Actualizaci_n_de_campos_cuenta_a_dictaminacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>Var_SubTipoFiscal</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Tipo_Contribuyente_c__c = &quot;PERSONA FISICA&quot;, &quot;Persona Física&quot;, &quot;Persona Moral&quot;)}</expression>
    </formulas>
    <interviewLabel>Actualización de campos cuenta a dictaminacion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualización de campos cuenta a dictaminacion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualiza_Oportunidad</name>
        <label>Actualiza Oportunidad</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dictaminacion__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ya_tiene_Dictaminacion__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_campos_de_Dictaminacion</name>
        <label>Actualizar campos de Dictaminación</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Actualiza_Oportunidad</targetReference>
        </connector>
        <inputAssignments>
            <field>Canal_de_venta__c</field>
            <value>
                <elementReference>$Record.Account__r.Canal_de_Venta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dependientes_economicos__c</field>
            <value>
                <elementReference>$Record.Account__r.DependientesEconomicos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Asignacion_Asesor__c</field>
            <value>
                <elementReference>$Record.Account__r.Fecha_Asignacion_Asesor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ingresos_mensuales__c</field>
            <value>
                <elementReference>$Record.Account__r.Ingresos_Mensuales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Canal_de_Venta__c</field>
            <value>
                <elementReference>$Record.Account__r.Sub_canal_de_venta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Tipo_Fiscal_Picklist__c</field>
            <value>
                <elementReference>Var_SubTipoFiscal</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_campos_de_Dictaminacion</targetReference>
        </connector>
        <object>Dictaminacion__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
