unpackaged/main/default/flows/Actualiza_campo_prospectador_oportunidad.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Si el tipo de registro es igual a prospecto persona física o prospecto persona moral, se tomará el campo prototipo.</description>
        <name>Tipo_de_registro</name>
        <label>Tipo de registro</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Actualiza_campo_prospectador_sin_prototipo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Tipo_de_registro_prospecto</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PROSPECTO PERSONA FISICA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PROSPECTO PERSONA MORAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_campo_prospectador</targetReference>
            </connector>
            <label>Tipo de registro prospecto</label>
        </rules>
    </decisions>
    <description>Actualiza campo Prospectador,Lead Profiler,fraccionamiento,prototipo,colaborador oportunidad</description>
    <environments>Default</environments>
    <interviewLabel>Actualiza campo prospectador oportunidad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualiza campo Prospectador,Lead Profiler,fraccionamiento,prototipo,colaborador oportunidad</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualiza_campo_prospectador</name>
        <label>Actualiza campo prospectador</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>$Record.Account.Asesor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_de_venta__c</field>
            <value>
                <elementReference>$Record.Account.Canal_de_Venta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colaborador_Javer__c</field>
            <value>
                <elementReference>$Record.Account.Colaborador_Javer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Asignacion_Asesor__c</field>
            <value>
                <elementReference>$Record.Account.Fecha_Asignacion_Asesor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financiera__c</field>
            <value>
                <elementReference>$Record.Account.Financiera__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Profiler__c</field>
            <value>
                <elementReference>$Record.Account.Lead_Profiler__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Producto_de_la_Financiera__c</field>
            <value>
                <elementReference>$Record.Account.Producto_Financiera__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Producto_financiero__c</field>
            <value>
                <elementReference>$Record.Account.Producto_Financiero__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prospectador__c</field>
            <value>
                <elementReference>$Record.Account.Prospectador__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Canal_de_Venta__c</field>
            <value>
                <elementReference>$Record.Account.Sub_canal_de_venta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Credito__c</field>
            <value>
                <elementReference>$Record.Account.Tipo_Credito__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_campo_prospectador_sin_prototipo</name>
        <label>Actualiza campo prospectador sin prototipo</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>$Record.Account.Asesor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_de_venta__c</field>
            <value>
                <elementReference>$Record.Account.Canal_de_Venta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colaborador_Javer__c</field>
            <value>
                <elementReference>$Record.Account.Colaborador_Javer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Asignacion_Asesor__c</field>
            <value>
                <elementReference>$Record.Account.Fecha_Asignacion_Asesor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financiera__c</field>
            <value>
                <elementReference>$Record.Account.Financiera__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Profiler__c</field>
            <value>
                <elementReference>$Record.Account.Lead_Profiler__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Producto_de_la_Financiera__c</field>
            <value>
                <elementReference>$Record.Account.Producto_Financiera__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Producto_financiero__c</field>
            <value>
                <elementReference>$Record.Account.Producto_Financiero__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prospectador__c</field>
            <value>
                <elementReference>$Record.Account.Prospectador__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prototipo__c</field>
            <value>
                <elementReference>$Record.Account.Prototipo_lookup__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Canal_de_Venta__c</field>
            <value>
                <elementReference>$Record.Account.Sub_canal_de_venta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Credito__c</field>
            <value>
                <elementReference>$Record.Account.Tipo_Credito__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tipo_de_registro</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
