unpackaged/main/default/flows/Actualizar_campo_oportunidad.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Genera_Digito_Verificador</name>
        <label>Genera Digito Verificador</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>CLASS_Oportunidad</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Actualizacion_de_nombre_oportunidad</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>num</name>
            <value>
                <elementReference>fNumeroVenta10digits</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vDigitoVer</assignToReference>
            <name>validationDigit</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Obtener_Numero_de_Venta</name>
        <label>Obtener Numero de Venta</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>vNumeroVenta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Numero_Proceso_de_Venta__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Genera_Digito_Verificador</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>fNumeroVenta10digits</name>
        <dataType>String</dataType>
        <expression>RIGHT({!vNumeroVenta}, 10)</expression>
    </formulas>
    <formulas>
        <name>vNumeroVentaDigito</name>
        <dataType>String</dataType>
        <expression>{!vNumeroVenta} &amp; &quot;-&quot; &amp; {!vDigitoVer}</expression>
    </formulas>
    <interviewLabel>Actualizar campo oportunidad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar campo oportunidad</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualizacion_de_nombre_oportunidad</name>
        <label>Actualización de nombre oportunidad</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>vNumeroVenta</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Obtener_Numero_de_Venta</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>vDigitoVer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNumeroVenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
