unpackaged/main/default/flows/Actualizar_Fecha_aviso_de_retencion_Titulacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Aviso_de_retenci_n_checked</name>
        <label>Aviso de retención checked</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Aviso_de_Retencion__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_campo_Fecha_de_Recepcion_de_aviso_de_Retencion</targetReference>
            </connector>
            <label>checked</label>
        </rules>
        <rules>
            <name>Vivienda_cobrada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vivienda_cobrada__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Fecha_de_cobro</targetReference>
            </connector>
            <label>Vivienda cobrada</label>
        </rules>
        <rules>
            <name>DTI_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DTI__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fecha_DTI</targetReference>
            </connector>
            <label>DTI checked</label>
        </rules>
        <rules>
            <name>DTU_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DTU__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fecha_DTU</targetReference>
            </connector>
            <label>DTU checked</label>
        </rules>
        <rules>
            <name>Fecha_Entrega</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fecha_Entrega__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cambia_SubEstatus_del_Proceso_a_Entregado</targetReference>
            </connector>
            <label>Fecha Entrega</label>
        </rules>
    </decisions>
    <description>added Fecha DTI, Fecha DTU</description>
    <environments>Default</environments>
    <interviewLabel>Actualizar Fecha aviso de retencion Titulacion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar Fecha aviso de retencion Titulacion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualizar_campo_Fecha_de_Recepcion_de_aviso_de_Retencion</name>
        <label>Actualizar campo Fecha de Recepcion de aviso de Retencion</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Fecha_Aviso_de_recepcion_aviso__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Fecha_de_cobro</name>
        <label>Actualizar Fecha de Cobro</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Fecha_de_cobro__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Cambia_SubEstatus_del_Proceso_a_Entregado</name>
        <label>Cambia SubEstatus del Proceso a Entregado</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Sub_Estatus_del_Proceso__c</field>
            <value>
                <stringValue>Entregado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Fecha_DTI</name>
        <label>Fecha DTI</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Fecha_DTI__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Fecha_DTU</name>
        <label>Fecha DTU</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Fecha_DTU__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Aviso_de_retenci_n_checked</targetReference>
        </connector>
        <object>Titulacion__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TODAY</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;TODAY()&lt;/p&gt;</text>
    </textTemplates>
</Flow>
