unpackaged/main/default/flows/Actualiza_Direcciones_en_Dictaminaci_n.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Suma_100_Direccion_Empresa</name>
        <label>Suma 100 Dirección Empresa</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>VAR_Direcciones_Capturadas</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_registro_Dictaminacion.Direcciones_Capturadas__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Direcciones_Capturadas</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualiza_Direccion_Empresa_en_Dictaminacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Suma_10_Direccion_Laboral</name>
        <label>Suma 10 Dirección Laboral</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>VAR_Direcciones_Capturadas</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_registro_Dictaminacion.Direcciones_Capturadas__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Direcciones_Capturadas</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualiza_Direccion_Laboral_en_Dictaminacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Suma_1_Direccion_Principal</name>
        <label>Suma 1 Dirección Principal</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>VAR_Direcciones_Capturadas</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_registro_Dictaminacion.Direcciones_Capturadas__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Direcciones_Capturadas</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualiza_Direccion_Principal_en_Dictaminacion</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Evalua el tipo de Dirección para actualizar el campo correcto</description>
        <name>Evalua_el_Tipo_de_Direccion</name>
        <label>Evalúa el Tipo de Dirección</label>
        <locationX>2030</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Direccion_Principal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dirección Principal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suma_1_Direccion_Principal</targetReference>
            </connector>
            <label>Dirección Principal</label>
        </rules>
        <rules>
            <name>Direcci_n_Laboral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dirección Laboral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suma_10_Direccion_Laboral</targetReference>
            </connector>
            <label>Dirección Laboral</label>
        </rules>
        <rules>
            <name>Direccion_Empresa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dirección Empresa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suma_100_Direccion_Empresa</targetReference>
            </connector>
            <label>Dirección Empresa</label>
        </rules>
        <rules>
            <name>Direcci_n_Principal_CO_Acreditado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dirección Principal CO Acreditado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Registro_Co_Acreditado</targetReference>
            </connector>
            <label>Dirección Principal CO Acreditado</label>
        </rules>
        <rules>
            <name>Direccion_Laboral_CO_Acreditado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dirección Laboral CO Acreditado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Co_Acreditado_Dir_Laboral</targetReference>
            </connector>
            <label>Dirección Laboral CO Acreditado</label>
        </rules>
        <rules>
            <name>Direccion_Rep_Legal_Apoderado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dirección Rep Legal / Apoderado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Rep_Legal_Dir_Principal</targetReference>
            </connector>
            <label>Dirección Rep Legal / Apoderado</label>
        </rules>
        <rules>
            <name>Direccion_Rep_Legal_Laboral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dirección Rep Legal Laboral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Rep_Legal_Dir_Laboral</targetReference>
            </connector>
            <label>Dirección Rep Legal Laboral</label>
        </rules>
        <rules>
            <name>Direccion_Tercero_Persona_Fisica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dirección Tercero Persona Física</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Perfil_Tercero_Fisica</targetReference>
            </connector>
            <label>Dirección Tercero Persona Física</label>
        </rules>
        <rules>
            <name>Direccion_Tercero_Laboral_Persona_Fisica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dirección Tercero Laboral Persona Física</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Perfil_Tercero_Fisica_Laboral</targetReference>
            </connector>
            <label>Dirección Tercero Laboral Persona Física</label>
        </rules>
        <rules>
            <name>Direccion_3ro_PM_Principal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direccion_3ro_Moral_Principal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Perfil_Tercero_Moral_Principal</targetReference>
            </connector>
            <label>Dirección 3ro PM Principal</label>
        </rules>
        <rules>
            <name>Direccion_Tercero_Moral_Laboral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direccion_3ro_Laboral_Moral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Perfil_Tercero_Moral_Laboral</targetReference>
            </connector>
            <label>Dirección Tercero Moral Laboral</label>
        </rules>
        <rules>
            <name>Direccion_Cesion_Principal_PF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dirección Cesión Principal PF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Cesion_Principal_PF</targetReference>
            </connector>
            <label>Dirección Cesión Principal PF</label>
        </rules>
        <rules>
            <name>Direccion_Cesion_Laboral_PF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dirección Cesión Laboral PF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Cesion_Laboral_PF</targetReference>
            </connector>
            <label>Dirección Cesión Laboral PF</label>
        </rules>
        <rules>
            <name>Direccion_Cesion_Principal_PM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dirección Cesión Principal PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Cesion_Principal_PM</targetReference>
            </connector>
            <label>Dirección Cesión Principal PM</label>
        </rules>
        <rules>
            <name>Direccion_Cesion_Laboral_PM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dirección Cesión Laboral PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Cesion_Laboral_PM</targetReference>
            </connector>
            <label>Dirección Cesión Laboral PM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Tipo</name>
        <label>Tiene Tipo?</label>
        <locationX>2030</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Actualiza_tipo_de_Direcci_n</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Tiene_Tipo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tiene_Tipo_Direcion</targetReference>
            </connector>
            <label>Si Tiene Tipo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Tipo_Direcion</name>
        <label>Tiene Tipo Direción?</label>
        <locationX>1876</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Obtiene_registro_Dictaminacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tipo_Direccion_Vacio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Direccion_txt__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Tipo_Direccion_TXT</targetReference>
            </connector>
            <label>Tipo Dirección Vacio</label>
        </rules>
    </decisions>
    <description>Actualiza la Dirección Principal, la Dirección Laboral y la de Empresa en Dictaminación. También suma un valor especifico dependiendo del tipo de dirección capturada (1, 10, 100, 1000, etc.)</description>
    <environments>Default</environments>
    <interviewLabel>Actualiza Direcciones en Dictaminación y Suma x tipo de Dirección {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualiza Direcciones en Dictaminación</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtiene_registro_Dictaminacion</name>
        <label>Obtiene registro Dictaminación</label>
        <locationX>2030</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evalua_el_Tipo_de_Direccion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dictaminacion__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dictaminacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Cesion_Laboral_PF</name>
        <label>Actualiza Cesion Laboral PF</label>
        <locationX>3218</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cesion_a_Otra_Persona__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Check_Direccion_Laboral__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Cesion_a_Otra_Persona_Fisica_o_Moral__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Cesion_Laboral_PM</name>
        <label>Actualiza Cesion Laboral PM</label>
        <locationX>3746</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cesion_a_Otra_Persona__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Check_Direccion_Laboral__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Cesion_a_Otra_Persona_Fisica_o_Moral__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Cesion_Principal_PF</name>
        <label>Actualiza Cesion Principal PF</label>
        <locationX>2954</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cesion_a_Otra_Persona__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Check_Direccion_Principal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Cesion_a_Otra_Persona_Fisica_o_Moral__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Cesion_Principal_PM</name>
        <label>Actualiza Cesion Principal PM</label>
        <locationX>3482</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cesion_a_Otra_Persona__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Check_Direccion_Principal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Cesion_a_Otra_Persona_Fisica_o_Moral__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Co_Acreditado_Dir_Laboral</name>
        <label>Actualiza Co Acreditado Dir Laboral</label>
        <locationX>1106</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Co_Acreditado__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Check_Direccion_Laboral__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Co_Acreditado__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza la Dirección normalizada en la Dictaminación</description>
        <name>Actualiza_Direccion_Empresa_en_Dictaminacion</name>
        <label>Actualiza Dirección Empresa en Dictaminación</label>
        <locationX>578</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dictaminacion__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Direccion_Empresa__c</field>
            <value>
                <elementReference>$Record.Direccion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direcciones_Capturadas__c</field>
            <value>
                <elementReference>VAR_Direcciones_Capturadas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValidationBypassDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Dictaminacion__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza la Dirección normalizada en la Dictaminación</description>
        <name>Actualiza_Direccion_Laboral_en_Dictaminacion</name>
        <label>Actualiza Dirección Laboral en Dictaminación</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dictaminacion__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Direccion_Laboral__c</field>
            <value>
                <elementReference>$Record.Direccion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direcciones_Capturadas__c</field>
            <value>
                <elementReference>VAR_Direcciones_Capturadas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValidationBypassDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Dictaminacion__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza la Dirección normalizada en la Dictaminación</description>
        <name>Actualiza_Direccion_Principal_en_Dictaminacion</name>
        <label>Actualiza Dirección Principal en Dictaminación</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dictaminacion__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Direccion_Principal__c</field>
            <value>
                <elementReference>$Record.Direccion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direcciones_Capturadas__c</field>
            <value>
                <elementReference>VAR_Direcciones_Capturadas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_de_Residencia__c</field>
            <value>
                <elementReference>$Record.Estado__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValidationBypassDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Dictaminacion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Perfil_Tercero_Fisica</name>
        <label>Actualiza Perfil Tercero Fisica</label>
        <locationX>1898</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Perfil_Tercero_Persona_F_sica__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Check_Direccion_Principal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Perfil_Tercero_Fisico__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Perfil_Tercero_Fisica_Laboral</name>
        <label>Actualiza Perfil Tercero Fisica Laboral</label>
        <locationX>2162</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Perfil_Tercero_Persona_F_sica__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Check_Direcci_n_Laboral__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Perfil_Tercero_Fisico__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Perfil_Tercero_Moral_Laboral</name>
        <label>Actualiza Perfil Tercero Moral Laboral</label>
        <locationX>2690</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Perfil_Tercero_Persona_Moral__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Check_Direccion_Laboral__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Perfil_Tercero_Moral__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Perfil_Tercero_Moral_Principal</name>
        <label>Actualiza Perfil Tercero Moral Principal</label>
        <locationX>2426</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Perfil_Tercero_Persona_Moral__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Check_Direccion_Principal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Perfil_Tercero_Moral__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Registro_Co_Acreditado</name>
        <label>Actualiza Registro Co Acreditado</label>
        <locationX>842</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Co_Acreditado__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Check_Direccion_Personal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Co_Acreditado__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Rep_Legal_Dir_Laboral</name>
        <label>Actualiza Rep Legal Dir Laboral</label>
        <locationX>1634</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Informacion_Representante_Legal__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Check_Direccion_Laboral__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Informacion_representante_legal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Rep_Legal_Dir_Principal</name>
        <label>Actualiza Rep Legal Dir Principal</label>
        <locationX>1370</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Informacion_Representante_Legal__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Check_Direccion_Principal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Informacion_representante_legal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_tipo_de_Direcci_n</name>
        <label>Actualiza tipo de Dirección</label>
        <locationX>2184</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Obtiene_registro_Dictaminacion</targetReference>
        </connector>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <elementReference>$Record.Tipo_de_Direccion_txt__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Tipo_Direccion_TXT</name>
        <label>Actualiza Tipo Dirección TXT</label>
        <locationX>1744</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Obtiene_registro_Dictaminacion</targetReference>
        </connector>
        <inputAssignments>
            <field>Tipo_de_Direccion_txt__c</field>
            <value>
                <elementReference>$Record.Tipo__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1904</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tiene_Tipo</targetReference>
        </connector>
        <object>Direcciones__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VAR_Direcciones_Capturadas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
