unpackaged/main/default/flows/Actualiza_Datos_de_Titulacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>ResetContador</name>
        <label>ResetContador</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>VarContadorVueltas</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForPagar_sFinanciera</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Suma_1_al_Contador</name>
        <label>Suma 1 al Contador</label>
        <locationX>666</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>VarContadorVueltas</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForPagar_sFinanciera</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>EvaluaElN_merodePagar</name>
        <label>EvaluaElNúmerodePagaré</label>
        <locationX>666</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Suma_1_al_Contador</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pagar_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarContadorVueltas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Info_Monto_1</targetReference>
            </connector>
            <label>Pagaré 1</label>
        </rules>
        <rules>
            <name>Pagar_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarContadorVueltas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Info_Monto_2</targetReference>
            </connector>
            <label>Pagaré 2</label>
        </rules>
        <rules>
            <name>Pagar_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarContadorVueltas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Info_Monto_3</targetReference>
            </connector>
            <label>Pagaré 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>EvaulaNombe</name>
        <label>EvaulaNombe</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Ya esta Actualizado</defaultConnectorLabel>
        <rules>
            <name>Ya_esta_Actualizado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Proceso_de_Venta__r.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Titulaci_n</targetReference>
            </connector>
            <label>No esta Actualizado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Actualiza Datos de Titulación {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualiza Datos de Titulación</label>
    <loops>
        <name>ForPagar_sFinanciera</name>
        <label>ForPagarésFinanciera</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <collectionReference>GetPagaresFinaciera</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>EvaluaElN_merodePagar</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EvaulaNombe</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetPagaresFinaciera</name>
        <label>GetPagarésFinaciera</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ResetContador</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Titulacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PAGARE_FINANCIERA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Documento__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_idTitulacion_enOportunidad</name>
        <label>Actualiza_idTitulacion_enOportunidad</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>GetPagaresFinaciera</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>EvaulaNombe</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Proceso_de_Venta__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Titulacion__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Info_Monto_1</name>
        <label>Actualiza Info Monto 1</label>
        <locationX>270</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Suma_1_al_Contador</targetReference>
        </connector>
        <inputAssignments>
            <field>Monto_de_Credito_Definitivo__c</field>
            <value>
                <elementReference>ForPagar_sFinanciera.Importe__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Info_Monto_2</name>
        <label>Actualiza Info Monto 2</label>
        <locationX>534</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Suma_1_al_Contador</targetReference>
        </connector>
        <inputAssignments>
            <field>Monto_de_Credito_Definitivo_2__c</field>
            <value>
                <elementReference>ForPagar_sFinanciera.Importe__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Info_Monto_3</name>
        <label>Actualiza Info Monto 3</label>
        <locationX>798</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Suma_1_al_Contador</targetReference>
        </connector>
        <inputAssignments>
            <field>Monto_de_Credito_Definitivo_3__c</field>
            <value>
                <elementReference>ForPagar_sFinanciera.Importe__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Titulaci_n</name>
        <label>Actualiza Titulación</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Proceso_de_Venta__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualiza_idTitulacion_enOportunidad</targetReference>
        </connector>
        <object>Titulacion__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarContadorVueltas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
