unpackaged/main/default/flows/ALP_Actualiza_Datos_de_LP_para_Correo_de_Aprobacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>ALP - Actualiza Datos de LP para Correo de Aprobación {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALP - Actualiza Datos de LP para Correo de Aprobación</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetDatosListaPrecios</name>
        <label>GetDatosListaPrecios</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActualizaDatosRegistroAprobacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lista_de_precios__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ActualizaDatosRegistroAprobacion</name>
        <label>ActualizaDatosRegistroAprobacion</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Beneficio__c</field>
            <value>
                <elementReference>GetDatosListaPrecios.Beneficio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Periodo_Fin__c</field>
            <value>
                <elementReference>GetDatosListaPrecios.Periodo_Fin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Periodo_Inicio__c</field>
            <value>
                <elementReference>GetDatosListaPrecios.Periodo_Inicio__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetDatosListaPrecios</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Estatus_Aprobaci_n__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nueva</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estatus_Aprobaci_n__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En Progreso</stringValue>
            </value>
        </filters>
        <object>Aprobacion_Lista_de_Precios__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
