unpackaged/main/default/flows/Aprobaciones_Plan_de_Venta_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval_Descuento_Empleado_Javer</name>
        <label>Approval Descuento Empleado Javer</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Debug</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Descuento_Empleado_JAVER2</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Bonificacion_Approval</name>
        <label>Bonificacion Approval</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Copy_1_of_Debug</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Bonificacion_Excepcion_de_Plan_de_Venta3</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_10_of_Debug</name>
        <label>Copy 10 of Debug</label>
        <locationX>5066</locationX>
        <locationY>458</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <stringValue>Descuento Empleado Javer - No Cumple con los Criterios de Entrada</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Debug</name>
        <label>Copy 1 of Debug</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <stringValue>Descuento Empleado Javer - No Cumple con los Criterios de Entrada</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Debug</name>
        <label>Copy 2 of Debug</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <stringValue>Descuento Empleado Javer - No Cumple con los Criterios de Entrada</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Debug</name>
        <label>Copy 3 of Debug</label>
        <locationX>1898</locationX>
        <locationY>458</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <stringValue>Descuento Empleado Javer - No Cumple con los Criterios de Entrada</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_4_of_Debug</name>
        <label>Copy 4 of Debug</label>
        <locationX>2426</locationX>
        <locationY>458</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <stringValue>Descuento Empleado Javer - No Cumple con los Criterios de Entrada</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_5_of_Debug</name>
        <label>Copy 5 of Debug</label>
        <locationX>2954</locationX>
        <locationY>458</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <stringValue>Descuento Empleado Javer - No Cumple con los Criterios de Entrada</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_6_of_Debug</name>
        <label>Copy 6 of Debug</label>
        <locationX>3482</locationX>
        <locationY>458</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <stringValue>Descuento Empleado Javer - No Cumple con los Criterios de Entrada</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_7_of_Debug</name>
        <label>Copy 7 of Debug</label>
        <locationX>4010</locationX>
        <locationY>458</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <stringValue>Descuento Empleado Javer - No Cumple con los Criterios de Entrada</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_8_of_Debug</name>
        <label>Copy 8 of Debug</label>
        <locationX>4538</locationX>
        <locationY>458</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <stringValue>Descuento Empleado Javer - No Cumple con los Criterios de Entrada</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_9_of_Debug</name>
        <label>Copy 9 of Debug</label>
        <locationX>5594</locationX>
        <locationY>458</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <stringValue>Descuento Empleado Javer - No Cumple con los Criterios de Entrada</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Debug</name>
        <label>Debug</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <stringValue>Descuento Empleado Javer - No Cumple con los Criterios de Entrada</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Excepci_n_Descuento_Empleado_JAVER_Approval</name>
        <label>Excepción Descuento Empleado JAVER Approval</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Copy_2_of_Debug</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Aprobaci_n_Excepci_n_Descuento_Empleado2</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Excepcion_Fondo_de_Garantia_ApprovalProcess</name>
        <label>Excepcion Fondo de Garantia</label>
        <locationX>4802</locationX>
        <locationY>350</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Copy_10_of_Debug</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Aprobacion_Exepcion_Fondo_de_Garantia2</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Financiemiento_Enganche</name>
        <label>Financiemiento Enganche</label>
        <locationX>5330</locationX>
        <locationY>350</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Copy_9_of_Debug</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Aprobacion_Financiamiento_Enganche3</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Fondo_de_Garantia_aP</name>
        <label>Fondo de Garantia</label>
        <locationX>4274</locationX>
        <locationY>350</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Copy_8_of_Debug</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Aprobaci_n_Fondo_de_Garant_a3</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Paq_Promo_de_Venta_Duplicadas</name>
        <label>Paquetes/Promociones de Venta Duplicadas</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Copy_3_of_Debug</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Aprobacion_Paquetes_Promos_Duplicadas2</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Producto_Bonif_menor_a_P_Min_Venta</name>
        <label>Producto + Bonif menor a P Min Venta</label>
        <locationX>2690</locationX>
        <locationY>350</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Copy_5_of_Debug</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Aprobacion_Prod_Bonif_Menor_P_Min_Venta2</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Reubicacion_AP</name>
        <label>Reubicacion</label>
        <locationX>3746</locationX>
        <locationY>350</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Copy_7_of_Debug</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Aprobacion_Reubicacion2</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>VO_menor_a_P_Min_de_Venta</name>
        <label>VO menor a P Min de Venta</label>
        <locationX>3218</locationX>
        <locationY>350</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Copy_6_of_Debug</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Aprobacion_VO_menor_a_P_MIN_Venta3</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>X1_Regalos_Marketing</name>
        <label>+1 Regalos MKT</label>
        <locationX>2162</locationX>
        <locationY>350</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Copy_4_of_Debug</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Aprobacion_1_Regalos_MKT2</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Entry_Criteria</name>
        <label>Entry Criteria</label>
        <locationX>3086</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Descuento_Empleado_JAVER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Casilla_Descuento_Empleado_Javer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Chk_Aprob_Decuento_Empleado_JAVER__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.En_aprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Descuento_Empleado_Javer</targetReference>
            </connector>
            <label>Descuento Empleado JAVER</label>
        </rules>
        <rules>
            <name>Bonificaci_n_Excepci_n_de_Plan_de_Venta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Bonificacion_Excepcion_de_Plan_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Chk_Aprob_Excepcion_Bonif_Plan_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.En_aprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bonificacion_Approval</targetReference>
            </connector>
            <label>Bonificación Excepción de Plan de Venta</label>
        </rules>
        <rules>
            <name>Excepci_n_Descuento_Empleado_JAVER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Excepci_n_Descuento_Empleado_JVR_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Chk_Aprob_Excepcion_Desc_Empleado_JAVER__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.En_aprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Excepci_n_Descuento_Empleado_JAVER_Approval</targetReference>
            </connector>
            <label>Excepción Descuento Empleado JAVER</label>
        </rules>
        <rules>
            <name>Paquetes_Promociones_de_Venta_Duplicadas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Paquetes_Promociones_de_Venta_Duplicadas__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Chk_Aprob_Paq_Promo_Venta_Duplicadas__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.En_aprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Paq_Promo_de_Venta_Duplicadas</targetReference>
            </connector>
            <label>Paquetes/Promociones de Venta Duplicadas</label>
        </rules>
        <rules>
            <name>X1_Regalos_MKT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPlanDeVenta.X1_Regalos_MKT2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Chk_Aprob_1_Regalos_MKT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.En_aprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_Regalos_Marketing</targetReference>
            </connector>
            <label>+1 Regalos MKT</label>
        </rules>
        <rules>
            <name>Prod_Bonif_menor_a_P_Min_Venta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Prod_Bonif_menor_P_Min_Venta_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Chk_Aprob_Prod_Bonif_Menor_P_Min_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.En_aprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Producto_Bonif_menor_a_P_Min_Venta</targetReference>
            </connector>
            <label>Prod + Bonif menor a P Mín Venta</label>
        </rules>
        <rules>
            <name>V_O_menor_a_P_M_nimo_de_Venta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPlanDeVenta.VO_menor_a_P_Minimo_de_Venta_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Chk_Aprob_VO_menor_P_Min_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.En_aprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VO_menor_a_P_Min_de_Venta</targetReference>
            </connector>
            <label>V.O. menor a P. Mínimo de Venta</label>
        </rules>
        <rules>
            <name>Reubicaci_n</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Reubicacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Chk_Aprob_Reubiciacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.En_aprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reubicacion_AP</targetReference>
            </connector>
            <label>Reubicación</label>
        </rules>
        <rules>
            <name>Fondo_de_Garant_a</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Fondo_de_Garantia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Chk_Aprob_Fondo_Garantia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.En_aprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fondo_de_Garantia_aP</targetReference>
            </connector>
            <label>Fondo de Garantía</label>
        </rules>
        <rules>
            <name>Excepcion_Fondo_de_Garantia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Excepcion_Fondo_de_Garantia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Chk_Aprob_Excepcion_Fondo_Garntia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.En_aprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Excepcion_Fondo_de_Garantia_ApprovalProcess</targetReference>
            </connector>
            <label>Excepción Fondo de Garantía</label>
        </rules>
        <rules>
            <name>Financiamiento_Enganche</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Financiamiento_Enganche__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Chk_Aprob_Financiamiento_Enganche__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.En_aprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Financiemiento_Enganche</targetReference>
            </connector>
            <label>Financiamiento Enganche</label>
        </rules>
        <rules>
            <name>Rutas_Aprobadas_Anteriormente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPlanDeVenta.En_aprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.El_Registro_Esta_Totalmente_Aprobado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Rutas_de_Aprobacion_Pendientes__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPlanDeVenta.En_aprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Plan_de_Venta</targetReference>
            </connector>
            <label>Rutas Aprobadas Anteriormente</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Aprobaciones - Plan de Venta SubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aprobaciones - Plan de Venta SubFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetPlanDeVenta</name>
        <label>GetPlanDeVenta</label>
        <locationX>3086</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Entry_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Plan_de_Venta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Plan_de_Venta</name>
        <label>Actualiza Plan de Venta</label>
        <locationX>5858</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Enviar_Rutas_a_Aprobacion__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estatus_Plan_de_venta__c</field>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </inputAssignments>
        <object>Plan_de_Venta__c</object>
    </recordUpdates>
    <start>
        <locationX>2960</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPlanDeVenta</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarContador</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
