unpackaged/main/default/flows/Aprobaciones_Rol_Venta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cambio_Asesor_Approval</name>
        <label>Cambio Asesor Approval</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Cambio_Asesor</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Cambio_Lead_Profiler_Approval</name>
        <label>Cambio Lead Profiler Approval</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Cambio_Lead_Profiler</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Colaborador_Approval</name>
        <label>Colaborador Approval</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Colaborador</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Entry_Criteria</name>
        <label>Entry Criteria</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cambio_Asesor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rol_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cambio_Asesor_Approval</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Cambio Asesor</label>
        </rules>
        <rules>
            <name>Cambio_Lead_Profiler</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rol_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cambio_Lead_Profiler_Approval</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Cambio Lead Profiler</label>
        </rules>
        <rules>
            <name>Colaborador</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rol_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Colaborador_Approval</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Colaborador</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Aprobaciones - Ventas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aprobaciones - Rol Venta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Entry_Criteria</targetReference>
        </connector>
        <object>Rol_Venta__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
