unpackaged/main/default/flows/Aprobaciones_Post_Venta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cancelaci_n_de_Escritura_APC_Approval</name>
        <label>Cancelación de Escritura APC Approval</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Cancelaci_n_de_Escritura_APC</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Cancelaci_n_de_Escritura_Approval</name>
        <label>Cancelación de Escritura Approval</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Cancelaci_n_de_Escritura</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Condonaci_n_Fallecimiento_Titular_Approval</name>
        <label>Condonación Fallecimiento Titular Approval</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Condonaci_n_Fallecimiento_Titular</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Condonaci_n_Saldos_Menores_Approval</name>
        <label>Condonación Saldos Menores Approval</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Condonaci_n_Saldos_Menores	</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Financiamiento_Post_Venta_Approval</name>
        <label>Financiamiento Post Venta Approval</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Financiamiento_Post_Venta</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Financiamiento_Postventa_Empleado_Javer_Approval</name>
        <label>Financiamiento Postventa Empleado Javer Approval</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Financiamiento_Postventa_Empleado_Javer</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Financiamiento_Reestructura_Postventa_Approval</name>
        <label>Financiamiento Reestructura Postventa Approval</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Financiamiento_Reestructura_Postventa</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Reembolso_por_Escritura_Approval</name>
        <label>Reembolso por Escritura Approval</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Reembolso_por_Escritura</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Entry_Criteria</name>
        <label>Entry Criteria</label>
        <locationX>1106</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Condonaci_n_Saldos_Menores</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FinanciamientoPostVentaAutorizadaMes_Mnt__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Condonaci_n_Saldos_Menores_Approval</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Condonación Saldos Menores</label>
        </rules>
        <rules>
            <name>Condonaci_n_Fallecimiento_Titular</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cliente_Nombre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Condonaci_n_Fallecimiento_Titular_Approval</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Condonación Fallecimiento Titular</label>
        </rules>
        <rules>
            <name>Cancelaci_n_de_Escritura_APC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rechazada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancelaci_n_de_Escritura_APC_Approval</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Cancelación de Escritura APC</label>
        </rules>
        <rules>
            <name>Cancelaci_n_de_Escritura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rechazada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancelaci_n_de_Escritura_Approval</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Cancelación de Escritura</label>
        </rules>
        <rules>
            <name>Financiamiento_Post_Venta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FinanciamientoPostVentaAutorizadaMes_Pct__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plazo_Autorizado__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Financiamiento_Post_Venta_Approval</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Financiamiento Post Venta</label>
        </rules>
        <rules>
            <name>Reembolso_por_Escritura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Escritura__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reembolso</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reembolso_por_Escritura_Approval</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Reembolso por Escritura</label>
        </rules>
        <rules>
            <name>Financiamiento_Postventa_Empleado_Javer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Financiamiento_Autorizado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1000000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Financiamiento_Autorizado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2000000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Financiamiento_Autorizado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>400000</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Financiamiento_Postventa_Empleado_Javer_Approval</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Financiamiento Postventa Empleado Javer</label>
        </rules>
        <rules>
            <name>Financiamiento_Reestructura_Postventa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprobada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Financiamiento_Reestructura_Postventa_Approval</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Financiamiento Reestructura Postventa</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Aprobaciones - Ventas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aprobaciones - Post Venta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Entry_Criteria</targetReference>
        </connector>
        <object>Post_Venta__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
