unpackaged/main/default/flows/Asignaci_n_campos_en_rechazo_de_aprobaci_n_proceso_de_venta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Camino_a_seguir</name>
        <label>Camino a seguir</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Asesor_Previo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado_de_aprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rechazado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado_de_aprobacion__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Asesor_Previo</targetReference>
            </connector>
            <label>Asesor Previo</label>
        </rules>
        <rules>
            <name>Lead_Profiler_Previo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado_de_aprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rechazado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado_de_aprobacion__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Profiler__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Lead_Profiler__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Lead_Profiler_Previo</targetReference>
            </connector>
            <label>Lead Profiler Previo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Asignaci贸n campos en rechazo de aprobaci贸n proceso de venta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asignaci贸n campos en rechazo de aprobaci贸n proceso de venta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Asignar_Asesor_Previo</name>
        <label>Asignar Asesor Previo</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>$Record__Prior.Asesor__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Asignar_Lead_Profiler_Previo</name>
        <label>Asignar Lead Profiler Previo</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Lead_Profiler__c</field>
            <value>
                <elementReference>$Record__Prior.Lead_Profiler__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Camino_a_seguir</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
