unpackaged/main/default/flows/CAJA_MenuPrincipal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Opiones_del_Menu_Principal</name>
        <label>Opiones del Menú Principal</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pagos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MenuPrincipalChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pagos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BusquedaCliente_Pagos</targetReference>
            </connector>
            <label>Pagos</label>
        </rules>
        <rules>
            <name>Estados_de_Cuenta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MenuPrincipalChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estado de Cuenta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BusquedaCliente_EstadoDeCuenta</targetReference>
            </connector>
            <label>Estados de Cuenta</label>
        </rules>
        <rules>
            <name>Corte_de_Caja</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MenuPrincipalChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corte de Caja</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Corte_de_Caja_Flow</targetReference>
            </connector>
            <label>Corte de Caja</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>VarCustomerSeachOption</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>ChoicePicklist__c</picklistField>
        <picklistObject>Update_Statging_Table__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarMEnuChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>CajaOpcionesMenuPrincipal__c</picklistField>
        <picklistObject>Update_Statging_Table__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CAJA - MenuPrincipal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAJA - MenuPrincipal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>SCR001_MenuPrincipal</name>
        <label>SCR001_MenuPrincipal</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Opiones_del_Menu_Principal</targetReference>
        </connector>
        <fields>
            <name>MSG001_Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Módulo de Caja - &lt;/strong&gt;&lt;em style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(150, 150, 150);&quot;&gt;Menú Principal&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(150, 150, 150);&quot;&gt;﻿&lt;/span&gt;&lt;em style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(150, 150, 150);&quot;&gt;A continuación se muestran las opciones del menú principal del módulo de caja. Seleccione una opción y presione &quot;continuar&quot;.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SCR001_MenuPrincipal_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR001_MenuPrincipal_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MenuPrincipalChoice</name>
                    <choiceReferences>VarMEnuChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Seleccione una Opción</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SCR001_MenuPrincipal</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>BusquedaCliente_EstadoDeCuenta</name>
        <label>BusquedaCliente_EstadoDeCuenta</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Estado_de_Cuenta</targetReference>
        </connector>
        <flowName>CAJA_Busqueda_Cliente_Proceso_de_Venta_Ubicacion</flowName>
        <outputAssignments>
            <assignToReference>VarClienteID</assignToReference>
            <name>VarClientetId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCobranzaComercialID</assignToReference>
            <name>VarCobranzaComercial_ID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProcesoDeVentaID</assignToReference>
            <name>VarProcesoDeVentaID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>BusquedaCliente_Pagos</name>
        <label>BusquedaCliente_Pagos</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Pagos_y_Pagos_a_Cuernta</targetReference>
        </connector>
        <flowName>CAJA_Busqueda_Cliente_Proceso_de_Venta_Ubicacion</flowName>
        <outputAssignments>
            <assignToReference>VarClienteID</assignToReference>
            <name>VarClientetId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCobranzaComercialID</assignToReference>
            <name>VarCobranzaComercial_ID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProcesoDeVentaID</assignToReference>
            <name>VarProcesoDeVentaID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Corte_de_Caja_Flow</name>
        <label>Corte de Caja</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <flowName>CAJA_Corte_de_Caja</flowName>
    </subflows>
    <subflows>
        <name>Estado_de_Cuenta</name>
        <label>Estado de Cuenta</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SCR001_MenuPrincipal</targetReference>
        </connector>
        <flowName>Caja_Estado_de_Cuenta</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>VarCobranzaComercialID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarCobranzaComercialID</name>
            <value>
                <elementReference>VarCobranzaComercialID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Pagos_y_Pagos_a_Cuernta</name>
        <label>Pagos y Pagos a Cuernta</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <flowName>Caja_Pagos</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>VarCobranzaComercialID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarAccountID</name>
            <value>
                <elementReference>VarClienteID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>VarClienteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarCobranzaComercialID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarProcesoDeVentaID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
