unpackaged/main/default/flows/CAJA_Busqueda_Cliente_Proceso_de_Venta_Ubicacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Asigna_Account_Id_x_Nombre</name>
        <label>Asigna Account Id x Nombre</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>VarClientetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TablaCliente_Nombre.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Account_Id_x_NSS</name>
        <label>Asigna Account Id x NSS</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>VarClientetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TablaClientes_NSS.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Account_Id_x_RFC</name>
        <label>Asigna Account Id x RFC</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>VarClientetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TablaClientes_RFC.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Account_Id_x_Telefono</name>
        <label>Asigna Account Id x Telefono</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>VarClientetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TablaClientes_Telefono.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Numero_de_Registros_de_Oportunidad</name>
        <label>Asigna Número de  Registros de Oportunidad</label>
        <locationX>1106</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>VarCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cuantos_Registros_de_Oportunidad_Hay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignaCantidadDeProceosDeVenta</name>
        <label>AsignaCantidadDeProceosDeVenta</label>
        <locationX>2558</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>VarProcesosDeVentaCantidad</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetProcesoDeVenta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EvaluaVarOppotunityCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignaCobranzaComercialID</name>
        <label>AsignaCobranzaComercialID</label>
        <locationX>1106</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>VarClientetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SeleccionaOportunidad.firstSelectedRow.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarProcesoDeVentaID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SeleccionaOportunidad.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCobranzaComercial_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SeleccionaOportunidad.firstSelectedRow.Cobranza_Comercial__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AsignaProcesoDeVentaYCliente</name>
        <label>AsignaProcesoDeVentaYCliente</label>
        <locationX>2426</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>VarProcesoDeVentaID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TablaProcesosDeVenta.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarClientetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TablaProcesosDeVenta.firstSelectedRow.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCobranzaComercial_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TablaProcesosDeVenta.firstSelectedRow.Cobranza_Comercial__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Cuantos_Registros_de_Oportunidad_Hay</name>
        <label>Cuantos Registros de Oportunidad Hay?</label>
        <locationX>1106</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>SCR007_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_hay_Registros_de_Oportunidad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>No hay Registros de Oportunidad</label>
        </rules>
        <rules>
            <name>Si_Hay_Registros_de_Oportunidad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR06_SeleccionaOportunidad</targetReference>
            </connector>
            <label>Si Hay Registros de Oportunidad</label>
        </rules>
    </decisions>
    <decisions>
        <name>EvaluaVarOppotunityCount</name>
        <label>EvaluaVarOppotunityCount</label>
        <locationX>2558</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>SCR009_NoHayOpporunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay Proceso de Venta</defaultConnectorLabel>
        <rules>
            <name>Si_Hay_Proceso_de_Venta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarProcesosDeVentaCantidad</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR008_Opportunity</targetReference>
            </connector>
            <label>Si Hay Proceso de Venta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_B_squeda</name>
        <label>Tipo de Búsqueda</label>
        <locationX>2030</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Buscar_x_Cliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Busqueda</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cliente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valida_Valores_de_Busqueda</targetReference>
            </connector>
            <label>Buscar x Cliente</label>
        </rules>
        <rules>
            <name>Busqueda_x_ProcesoVenta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Busqueda</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proceso de Venta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProcesoDeVenta</targetReference>
            </connector>
            <label>Busqueda x #ProcesoVenta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_Valores_de_Busqueda</name>
        <label>Valida Valores de Busqueda</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>SCR_ERR_No_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Busqueda_por_Nombre</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Nombre_Completo3</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cuentas_by_Full_Name</targetReference>
            </connector>
            <label>Busqueda por Nombre</label>
        </rules>
        <rules>
            <name>Busqueda_por_No_de_Telefono</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Telefono4.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cuentas_by_Phone</targetReference>
            </connector>
            <label>Busqueda por No de Teléfono</label>
        </rules>
        <rules>
            <name>Busqueda_por_NSS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NSS2.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cuentas_by_NSS</targetReference>
            </connector>
            <label>Busqueda por NSS</label>
        </rules>
        <rules>
            <name>Busqueda_por_RFC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RFC2.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cuentas_by_RFC</targetReference>
            </connector>
            <label>Busqueda por RFC</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>VarPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>ChoicePicklist__c</picklistField>
        <picklistObject>Update_Statging_Table__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CAJA - Busqueda - Cliente / Proceso de Venta / Ubicacion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAJA - Busqueda - Cliente / Proceso de Venta / Ubicacion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Cuentas_by_Full_Name</name>
        <label>Get Cuentas by Full Name</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCR002_BuscaClientePorNombre</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SCR_001</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Nombre__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Nombre_Completo3</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cuentas_by_NSS</name>
        <label>Get Cuentas by NSS</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCR004_BuscaPor_NSS</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SCR_001</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>NSS__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NSS2.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cuentas_by_Phone</name>
        <label>Get Cuentas by Phone</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCR003_BuscaPorTelefono</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SCR_001</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Telefono4.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cuentas_by_RFC</name>
        <label>Get Cuentas by RFC</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCR005_BuscaPor_RFC</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SCR_001</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RFC_Completo__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>RFC2.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCobranzaComercialFromOpporunity</name>
        <label>GetCobranzaComercialFromOpporunity</label>
        <locationX>2690</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Proceso_Venta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarProcesoDeVentaID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cobranza_Comercial__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>1106</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asigna_Numero_de_Registros_de_Oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarClientetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPicklist</name>
        <label>GetPicklist</label>
        <locationX>2030</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCR_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estatus_UST__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nuevo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Update_Statging_Table__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProcesoDeVenta</name>
        <label>GetProcesoDeVenta</label>
        <locationX>2558</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignaCantidadDeProceosDeVenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Proceso_de_Venta</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>SCR002_BuscaClientePorNombre</name>
        <label>SCR002_BuscaClientePorNombre</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asigna_Account_Id_x_Nombre</targetReference>
        </connector>
        <fields>
            <name>TITLE001</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 24px; color: rgb(68, 68, 68);&quot;&gt;Módulo de Caja - &lt;/strong&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(150, 150, 150);&quot;&gt;Búsqueda de Cliente&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TablaCliente_Nombre</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Listado Por Nombre y Apellidos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Cuentas_by_Full_Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Nombre__c&quot;,&quot;guid&quot;:&quot;column-566b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nombre Completo&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nombre Completo&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Phone&quot;,&quot;guid&quot;:&quot;column-31e5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Phone&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;RFC_Completo__c&quot;,&quot;guid&quot;:&quot;column-5b0d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;RFC Completo&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;NSS__c&quot;,&quot;guid&quot;:&quot;column-5049&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;NSS&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR003_BuscaPorTelefono</name>
        <label>SCR003_BuscaPorTelefono</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asigna_Account_Id_x_Telefono</targetReference>
        </connector>
        <fields>
            <name>Title002</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 24px; color: rgb(68, 68, 68);&quot;&gt;Módulo de Caja - &lt;/strong&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(150, 150, 150);&quot;&gt;Búsqueda de Cliente&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TablaClientes_Telefono</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Listado de Prospectos / Clientes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Cuentas_by_Phone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Nombre__c&quot;,&quot;guid&quot;:&quot;column-566b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nombre Completo&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nombre Completo&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Phone&quot;,&quot;guid&quot;:&quot;column-31e5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Phone&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;RFC_Completo__c&quot;,&quot;guid&quot;:&quot;column-5b0d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;RFC Completo&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;NSS__c&quot;,&quot;guid&quot;:&quot;column-5049&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;NSS&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR004_BuscaPor_NSS</name>
        <label>SCR004_BuscaPor_NSS</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asigna_Account_Id_x_NSS</targetReference>
        </connector>
        <fields>
            <name>Title004</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 24px; color: rgb(68, 68, 68);&quot;&gt;Módulo de Caja - &lt;/strong&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(150, 150, 150);&quot;&gt;Búsqueda de Cliente&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TablaClientes_NSS</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Listado de Prospectos / Clientes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Cuentas_by_NSS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Nombre__c&quot;,&quot;guid&quot;:&quot;column-566b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nombre Completo&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nombre Completo&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Phone&quot;,&quot;guid&quot;:&quot;column-31e5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Phone&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;RFC_Completo__c&quot;,&quot;guid&quot;:&quot;column-5b0d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;RFC Completo&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;NSS__c&quot;,&quot;guid&quot;:&quot;column-5049&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;NSS&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR005_BuscaPor_RFC</name>
        <label>SCR005_BuscaPor_RFC</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asigna_Account_Id_x_RFC</targetReference>
        </connector>
        <fields>
            <name>Title005</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 24px; color: rgb(68, 68, 68);&quot;&gt;Módulo de Caja - &lt;/strong&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(150, 150, 150);&quot;&gt;Búsqueda de Cliente&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TablaClientes_RFC</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Listado de Prospectos / Clientes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Cuentas_by_RFC</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Nombre__c&quot;,&quot;guid&quot;:&quot;column-566b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nombre Completo&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nombre Completo&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Phone&quot;,&quot;guid&quot;:&quot;column-31e5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Phone&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;RFC_Completo__c&quot;,&quot;guid&quot;:&quot;column-5b0d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;RFC Completo&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;NSS__c&quot;,&quot;guid&quot;:&quot;column-5049&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;NSS&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR007_Error</name>
        <label>SCR007_Error</label>
        <locationX>1370</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Title010</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 24px; color: rgb(68, 68, 68);&quot;&gt;Módulo de Caja -&lt;/strong&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(150, 150, 150);&quot;&gt; Selección del Proceso&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MSG007_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001n39H?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;warning icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Algo Salio mal!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR008_Opportunity</name>
        <label>SCR008_Opportunity</label>
        <locationX>2426</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AsignaProcesoDeVentaYCliente</targetReference>
        </connector>
        <fields>
            <name>MSG008_Instrucciones</name>
            <fieldText>&lt;p&gt;Ingrese el número de proceso de venta con el siguiente formato &quot;&lt;strong&gt;2-0000000000&lt;/strong&gt;&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Title007</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 24px; color: rgb(68, 68, 68);&quot;&gt;Módulo de Caja - &lt;/strong&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(150, 150, 150);&quot;&gt;Búsqueda de Cliente&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TablaProcesosDeVenta</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Listado de Procesos de Venta</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetProcesoDeVenta</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-cd69&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Proceso de Venta&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Cliente__c&quot;,&quot;guid&quot;:&quot;column-f2fc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Cliente&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Estatus_Formula__c&quot;,&quot;guid&quot;:&quot;column-3216&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Estatus&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Cobranza_Comercial__c&quot;,&quot;guid&quot;:&quot;column-5132&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Cobranza Comercial&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR009_NoHayOpporunities</name>
        <label>SCR009_NoHayOpporunities</label>
        <locationX>2690</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetCobranzaComercialFromOpporunity</targetReference>
        </connector>
        <fields>
            <name>Title008</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 24px; color: rgb(68, 68, 68);&quot;&gt;Módulo de Caja - &lt;/strong&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(150, 150, 150);&quot;&gt;Búsqueda de Cliente&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MSG009_NoHayOpps</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001n3YB?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Equis.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;No se encontraron Procesos de Venta. &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Intente la búsqueda por Cliente o por Ubicación. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR06_SeleccionaOportunidad</name>
        <label>SCR06_SeleccionaOportunidad</label>
        <locationX>1106</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AsignaCobranzaComercialID</targetReference>
        </connector>
        <fields>
            <name>Title009</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 24px; background-color: rgb(255, 255, 255);&quot;&gt;Módulo de Caja -&lt;/strong&gt;&lt;em style=&quot;color: rgb(150, 150, 150); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt; Selección del Proceso&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MSG006_CC_Selection</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(150, 150, 150);&quot;&gt;De la siguiente tabla, selecciona y confirma el registro de cobranza comercial al que será asociado el pago.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SeleccionaOportunidad</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Procesos de Venta</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetOpportunity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-184d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Proceso de Venta&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Cliente__c&quot;,&quot;guid&quot;:&quot;column-a056&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cliente&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Cliente&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;StageName&quot;,&quot;guid&quot;:&quot;column-7546&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Estatus del Proceso&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:2,&quot;label&quot;:&quot;Stage&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR_001</name>
        <label>SCR_001</label>
        <locationX>2030</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Tipo_de_B_squeda</targetReference>
        </connector>
        <fields>
            <name>MSG_001</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Módulo de Caja&lt;/strong&gt;&lt;strong style=&quot;font-size: 24px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; - &lt;/strong&gt;&lt;em style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(150, 150, 150);&quot;&gt;Búsqueda de Cliente&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MSG02_Title</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(150, 150, 150); font-size: 10px;&quot;&gt;Para realizar un pago ó consultar el estado de cuenta, selecciona un criterio para realizar la búsqueda por los datos del cliente (Nombre, apellido paterno materno, télefono, número de seguro social o registro federal de contribuyentes) ó número de proceso de venta.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Busqueda</name>
            <choiceReferences>VarPicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecciona un criterio de busqueda</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SCR_001_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR_001_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TEXT_001</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Búsqueda por Datos del Cliente&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Nombre_Completo3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue></stringValue>
                    </defaultValue>
                    <fieldText>Nombre Completo</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Telefono4</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>^(\+\d{1,2})?(\s)?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Teléfono</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>RFC2</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>RFC</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>NSS2</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>NSS</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>^(\+\d{1,2})?(\s)?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Busqueda</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cliente</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SCR_001_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR_001_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MSG002</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Busqueda por Proceso de Venta&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Proceso_de_Venta</name>
                    <dataType>String</dataType>
                    <fieldText>Proceso de Venta</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Para buscar un proceso de venta ingrese el número con el sigiuiente formato: &lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;em&gt;2-0000000000&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Busqueda</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Proceso de Venta</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SCR_001_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR_001_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MSG03</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Búsqueda por Ubicación&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Busqueda</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Ubicación</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR_ERR_No_Info</name>
        <label>SCR_ERR, No Info</label>
        <locationX>2162</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SCR_001</targetReference>
        </connector>
        <fields>
            <name>Title006</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 24px; color: rgb(68, 68, 68);&quot;&gt;Módulo de Caja - &lt;/strong&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(150, 150, 150);&quot;&gt;Búsqueda de Cliente&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MSG_002</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mpw2?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;warning icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Debe ingresar información en al menos 1 campo para poder realizar la búsqueda. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1904</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPicklist</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VarClientetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarCobranzaComercial_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VarProcesoDeVentaID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarProcesosDeVentaCantidad</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
