unpackaged/main/default/flows/CAJA_Corte_de_Caja.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>A_ade_Pago</name>
        <label>Añade Pago</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>VarTotalMontoPagos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Suma_Pagos.Importe__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTotalCountPagos</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Suma_Pagos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_ade_Pago_a_Cuenta</name>
        <label>Añade Pago a Cuenta</label>
        <locationX>270</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>VarTotalMontoPagos_a_Cuenta</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Suma_Pagos_a_Cuenta.Importe__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTotalCountPagos_a_Cuenta</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Suma_Pagos_a_Cuenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Anade_Pago_a_Cuenta_Cancleado</name>
        <label>Añade Pago a Cuenta Cancleado</label>
        <locationX>270</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>VarTotalMontoDevoluciones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Suma_Pagos_a_Cuenta_Cancelados.Importe__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTotalCountDevoluciones</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Suma_Pagos_a_Cuenta_Cancelados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Anade_Pago_Cancelado</name>
        <label>Añade Pago Cancelado</label>
        <locationX>270</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>VarTotalPagosCancelados</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Suma_Pagos_Cancelados.Importe__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTotalCountPagosCancelados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Suma_Pagos_Cancelados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_CorteCaja_Id</name>
        <label>Asigna CorteCaja Id</label>
        <locationX>50</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>VarCorteDeCajaID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crea_Registro_de_Corte_de_Caja</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Marca_Pagos_Procesados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Marca_Pago</name>
        <label>Marca Pago</label>
        <locationX>138</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>VarPago.Corte_de_Caja__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarCorteDeCajaID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPago.Pago_Asociado_a_Corte_de_Caja__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPago.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marca_Pagos_Procesados.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPagosCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarPago</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Marca_Pagos_Procesados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Marca_Pago_a_Cuenta</name>
        <label>Marca Pago a Cuenta</label>
        <locationX>138</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>VarPago_a_Cuenta.Corte_de_Caja__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarCorteDeCajaID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPago_a_Cuenta.Pago_Asociado_a_Corte_de_Caja__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPago_a_Cuenta.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marca_Pagos_a_Cuenta.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPago_a_CuentaCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarPago_a_Cuenta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Marca_Pagos_a_Cuenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Marca_Pago_a_CuentaCancelado</name>
        <label>Marca Pago a CuentaCancelado</label>
        <locationX>138</locationX>
        <locationY>3314</locationY>
        <assignmentItems>
            <assignToReference>VarPago_a_Cuenta.Corte_de_Caja__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarCorteDeCajaID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPago_a_Cuenta.Pago_Asociado_a_Corte_de_Caja__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPago_a_Cuenta.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marca_Pagos_a_Cuenta_Cancelados.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPago_a_CuentaCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarPago_a_Cuenta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Marca_Pagos_a_Cuenta_Cancelados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Marca_Pago_Cancelado</name>
        <label>Marca Pago Cancelado</label>
        <locationX>138</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>VarPago.Corte_de_Caja__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarCorteDeCajaID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPago.Pago_Asociado_a_Corte_de_Caja__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPago.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marca_Pagos_Cancelados.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPagosCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarPago</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Marca_Pagos_Cancelados</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Hay_Registros_de_Pago</name>
        <label>Hay Registros de Pago?</label>
        <locationX>182</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>SCR_005_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Si_hay_Registros</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarHayElementosQueProcesar</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_SCR001_Captura</targetReference>
            </connector>
            <label>Si, Si hay Registros</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>VarFraccionamiento</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>FRACCIONAMIENTOS__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>VarHayElementosQueProcesar</name>
        <dataType>Number</dataType>
        <expression>{!VarTotalCountPagos} + {!VarTotalCountPagos_a_Cuenta} + {!VarTotalCountDevoluciones} + {!VarTotalCountPagosCancelados}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>VarMontoTotalFinal</name>
        <dataType>Currency</dataType>
        <expression>{!VarTotalMontoPagos} + {!VarTotalMontoPagos_a_Cuenta}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CAJA - Corte de Caja {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAJA - Corte de Caja Appicación</label>
    <loops>
        <name>Marca_Pagos_a_Cuenta</name>
        <label>Marca Pagos a Cuenta</label>
        <locationX>50</locationX>
        <locationY>2906</locationY>
        <collectionReference>GetPagos_a_Cuenta</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Marca_Pago_a_Cuenta</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Marca_Pagos_a_Cuenta_Cancelados</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Marca_Pagos_a_Cuenta_Cancelados</name>
        <label>Marca Pagos a Cuenta Cancelados</label>
        <locationX>50</locationX>
        <locationY>3206</locationY>
        <collectionReference>GetPagos_a_Cuenta_Cancelados</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Marca_Pago_a_CuentaCancelado</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Marca_Pagos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Marca_Pagos_Cancelados</name>
        <label>Marca Pagos Cancelados</label>
        <locationX>50</locationX>
        <locationY>2606</locationY>
        <collectionReference>GetCancelaciones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Marca_Pago_Cancelado</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Marca_Pagos_a_Cuenta</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Marca_Pagos_Procesados</name>
        <label>Marca Pagos Procesados</label>
        <locationX>50</locationX>
        <locationY>2306</locationY>
        <collectionReference>GetPagos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Marca_Pago</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Marca_Pagos_Cancelados</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Suma_Pagos</name>
        <label>Suma Pagos</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <collectionReference>GetPagos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>A_ade_Pago</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Suma_Pagos_a_Cuenta</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Suma_Pagos_a_Cuenta</name>
        <label>Suma Pagos a Cuenta</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <collectionReference>GetPagos_a_Cuenta</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>A_ade_Pago_a_Cuenta</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Suma_Pagos_Cancelados</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Suma_Pagos_a_Cuenta_Cancelados</name>
        <label>Suma Pagos a Cuenta Cancelados</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <collectionReference>GetPagos_a_Cuenta_Cancelados</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Anade_Pago_a_Cuenta_Cancleado</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Hay_Registros_de_Pago</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Suma_Pagos_Cancelados</name>
        <label>Suma Pagos Cancelados</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <collectionReference>GetCancelaciones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Anade_Pago_Cancelado</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Suma_Pagos_a_Cuenta_Cancelados</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Registro_de_Corte_de_Caja</name>
        <label>Crea Registro de Corte de Caja</label>
        <locationX>50</locationX>
        <locationY>2090</locationY>
        <connector>
            <targetReference>Asigna_CorteCaja_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Cajero__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compania__c</field>
            <value>
                <elementReference>Compania.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fin_del_Corte__c</field>
            <value>
                <elementReference>Fin_del_Corte</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inicio_del_Corte__c</field>
            <value>
                <elementReference>Inicio_del_Corte</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_Devoluciones_Pagos__c</field>
            <value>
                <elementReference>VarTotalCountPagosCancelados</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_Devoluciones_Pagos_a_Cuenta__c</field>
            <value>
                <elementReference>VarTotalCountDevoluciones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_Pagos_a_Cuenta__c</field>
            <value>
                <elementReference>VarTotalCountPagos_a_Cuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Pagos__c</field>
            <value>
                <elementReference>VarTotalCountPagos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Monto_Final__c</field>
            <value>
                <elementReference>VarMontoTotalFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Monto_Pagos_Cancelados__c</field>
            <value>
                <elementReference>VarTotalPagosCancelados</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Monto_Pagos__c</field>
            <value>
                <elementReference>VarMontoTotalFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Monto_Pagos_a_Cuenta_Cancelados__c</field>
            <value>
                <elementReference>VarTotalMontoDevoluciones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Monto_Pagos_a_Cuenta__c</field>
            <value>
                <elementReference>VarMontoTotalFinal</elementReference>
            </value>
        </inputAssignments>
        <object>Corte_de_Caja__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCancelaciones</name>
        <label>GetCancelaciones</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPagos_a_Cuenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fecha_de_Pago__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Inicio_del_Corte</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fecha_de_Pago__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Fin_del_Corte</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estatus_del_Pago__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pago_Asociado_a_Corte_de_Caja__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pago__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPagos</name>
        <label>GetPagos</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCancelaciones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fecha_de_Pago__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Inicio_del_Corte</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fecha_de_Pago__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Fin_del_Corte</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estatus_del_Pago__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pago_Asociado_a_Corte_de_Caja__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pago__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPagos_a_Cuenta</name>
        <label>GetPagos_a_Cuenta</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPagos_a_Cuenta_Cancelados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fecha_de_Pago__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Inicio_del_Corte</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fecha_de_Pago__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Fin_del_Corte</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estatus_del_Pago__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pago_Asociado_a_Corte_de_Caja__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pago_a_Cuenta__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPagos_a_Cuenta_Cancelados</name>
        <label>GetPagos_a_Cuenta_Cancelados</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Suma_Pagos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fecha_de_Pago__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Inicio_del_Corte</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fecha_de_Pago__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Fin_del_Corte</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estatus_del_Pago__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pago_a_Cuenta__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Marca_Pagos</name>
        <label>Marca Pagos</label>
        <locationX>50</locationX>
        <locationY>3506</locationY>
        <connector>
            <targetReference>Marca_Pagos_a_Cuenta_Update</targetReference>
        </connector>
        <inputReference>VarPagosCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Marca_Pagos_a_Cuenta_Update</name>
        <label>Marca Pagos a Cuenta</label>
        <locationX>50</locationX>
        <locationY>3614</locationY>
        <inputReference>VarPago_a_CuentaCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_SCR001_Captura</name>
        <label>Copy 1 of SCR001_Captura</label>
        <locationX>50</locationX>
        <locationY>1982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Crea_Registro_de_Corte_de_Caja</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_SCR001_Captura_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_SCR001_Captura_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_MSG001_Title</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mpvx?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Caja Registradora S.jpg&quot;&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 24px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Corte de Caja&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_SCR001_Captura_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TEXT02_Row1_Column2</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 22px; color: rgb(150, 150, 150);&quot;&gt;Corte de Caja - XXXXX&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 8px; color: rgb(0, 0, 0);&quot;&gt;El folio  se asignará una vez que se termine de procesar el corte.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_SCR001_Captura_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_SCR001_Captura_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Text001_Row1_Column1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Usuario: &lt;/strong&gt;{!$User.FirstName} {!$User.LastName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Compañía: &lt;/strong&gt;{!Compania.recordName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Inicio del Corte:&lt;/strong&gt; {!Inicio_del_Corte}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_SCR001_Captura_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Text001_Row1_Column3</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Fecha:&lt;/strong&gt; {!$Flow.CurrentDate}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fraccionamiento: &lt;/strong&gt;{!Fraccionamiento}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fin del Corte:&lt;/strong&gt; {!Fin_del_Corte}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_SCR001_Captura_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_SCR001_Captura_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TEXT02_Row2_Column1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Total de Pagos: &lt;/strong&gt;&lt;em&gt;{!VarTotalMontoPagos}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_SCR001_Captura_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TEXT02_Row2_Column2</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Total de Reversas:  &lt;/strong&gt;&lt;em&gt;{!VarTotalMontoDevoluciones}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_SCR001_Captura_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TEXT02_Row2_Column3</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;Total de Separaciones: &lt;/strong&gt;&lt;em&gt;{!VarTotalMontoPagos_a_Cuenta}&lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;Total Monto Final: &lt;/strong&gt;&lt;em&gt;{!VarMontoTotalFinal}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>TablaDePagos</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Pago__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pagos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetPagos</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Cliente__c&quot;,&quot;guid&quot;:&quot;column-e0d0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Cliente&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Estatus_del_Pago__c&quot;,&quot;guid&quot;:&quot;column-1041&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Estatus del Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Metodo_Pago__c&quot;,&quot;guid&quot;:&quot;column-59e6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:2,&quot;label&quot;:&quot;Método de Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Tipo_de_Pago__c&quot;,&quot;guid&quot;:&quot;column-4457&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:3,&quot;label&quot;:&quot;Tipo de Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Numero_de_Pago__c&quot;,&quot;guid&quot;:&quot;column-ec22&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:4,&quot;label&quot;:&quot;Número de Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Fecha_de_Pago__c&quot;,&quot;guid&quot;:&quot;column-c78f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:5,&quot;label&quot;:&quot;Fecha de Pago&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Importe__c&quot;,&quot;guid&quot;:&quot;column-8be7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Monto&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:6,&quot;label&quot;:&quot;Importe&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TablaPagos_a_Cuenta</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Pago_a_Cuenta__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pagos a Cuenta</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetPagos_a_Cuenta</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Cliente__c&quot;,&quot;guid&quot;:&quot;column-a17b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Cliente&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Estatus_del_Pago__c&quot;,&quot;guid&quot;:&quot;column-2006&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Estatus del Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Metodo_de_Pago__c&quot;,&quot;guid&quot;:&quot;column-d9ff&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:2,&quot;label&quot;:&quot;Método de Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Tipo_de_Pago__c&quot;,&quot;guid&quot;:&quot;column-c541&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:3,&quot;label&quot;:&quot;Tipo de Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Numero_de_Pago__c&quot;,&quot;guid&quot;:&quot;column-0aa7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:4,&quot;label&quot;:&quot;Número de Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Fecha_de_Pago__c&quot;,&quot;guid&quot;:&quot;column-cf98&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:5,&quot;label&quot;:&quot;Fecha de Pago&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Importe__c&quot;,&quot;guid&quot;:&quot;column-0a5f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Monto&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:6,&quot;label&quot;:&quot;Importe&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TablaDevoluciones</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Pago_a_Cuenta__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Reversas</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetPagos_a_Cuenta_Cancelados</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Cliente__c&quot;,&quot;guid&quot;:&quot;column-c8ba&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Cliente&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Estatus_del_Pago__c&quot;,&quot;guid&quot;:&quot;column-be9e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Estatus del Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Metodo_de_Pago__c&quot;,&quot;guid&quot;:&quot;column-bc8d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:2,&quot;label&quot;:&quot;Método de Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Tipo_de_Pago__c&quot;,&quot;guid&quot;:&quot;column-4972&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:3,&quot;label&quot;:&quot;Tipo de Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Numero_de_Pago__c&quot;,&quot;guid&quot;:&quot;column-d0ed&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:4,&quot;label&quot;:&quot;Número de Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Fecha_de_Pago__c&quot;,&quot;guid&quot;:&quot;column-e4db&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:5,&quot;label&quot;:&quot;Fecha de Pago&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Importe__c&quot;,&quot;guid&quot;:&quot;column-7f01&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Monto&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:6,&quot;label&quot;:&quot;Importe&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR001_Captura</name>
        <label>SCR001_Captura</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetPagos</targetReference>
        </connector>
        <fields>
            <name>MSG001_Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mpvx?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Caja Registradora S.jpg&quot;&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 24px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Corte de Caja&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SCR001_Captura_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR001_Captura_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Text001_Row1_Column1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Usuario: &lt;/strong&gt;{!$User.FirstName} {!$User.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR001_Captura_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Text001_Row1_Column2</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR001_Captura_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Text001_Row1_Column3</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Fecha:&lt;/strong&gt; {!$Flow.CurrentDate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SCR001_Captura_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR001_Captura_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Compania</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Compania__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Compañía</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Corte_de_Caja__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Inicio_del_Corte</name>
                    <dataType>Date</dataType>
                    <fieldText>Inicio del Corte</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR001_Captura_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fraccionamiento</name>
                    <choiceReferences>VarFraccionamiento</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Fraccionamiento</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Fin_del_Corte</name>
                    <dataType>Date</dataType>
                    <fieldText>Fin del Corte</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR_005_Error</name>
        <label>SCR_005_Error</label>
        <locationX>314</locationX>
        <locationY>1982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MSG003_NoHayElementos</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001nDGm?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Equis.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;No se encontraron registros de Pagos / Pagos a Cuenta para procesar el corte de caja &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;en el rengo de fechas del &lt;strong&gt;&lt;em&gt;{!Inicio_del_Corte} &lt;/em&gt;&lt;/strong&gt;al&lt;strong&gt;&lt;em&gt; {!Fin_del_Corte}.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Intente nuevamente con otro rango de fechas&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SCR001_Captura</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VarCorteDeCajaID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarPago</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pago__c</objectType>
    </variables>
    <variables>
        <name>VarPago_a_Cuenta</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pago_a_Cuenta__c</objectType>
    </variables>
    <variables>
        <name>VarPago_a_CuentaCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pago_a_Cuenta__c</objectType>
    </variables>
    <variables>
        <name>VarPagosCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pago__c</objectType>
    </variables>
    <variables>
        <name>VarTotalCountDevoluciones</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarTotalCountPagos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarTotalCountPagos_a_Cuenta</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarTotalCountPagosCancelados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarTotalMontoDevoluciones</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarTotalMontoPagos</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarTotalMontoPagos_a_Cuenta</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarTotalPagosCancelados</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
