unpackaged/main/default/flows/Caja_Pagos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Asigna_Variables</name>
        <label>Asigna Variables</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>VarPlazo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCobranzaComercial.Plazo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFrecuencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCobranzaComercial.Frecuencia__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFechaVencimiento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCobranzaComercial.Fecha_Inicio_de_Financiamiento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFechaInicioPago</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCobranzaComercial.Fecha_Inicio_de_Financiamiento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarImporteFinanciemiento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCobranzaComercial.Importe_Financiamiento__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pago_SCR_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Limpia_Variables</name>
        <label>Limpia Variables</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>VarFechaInicioPago</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFechaVencimiento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPlazo</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFrecuencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mensual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SumaSaldoVencido</name>
        <label>SumaSaldoVencido</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>VarSumaTotalPagaresVencidos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SumaTotalSaldoVencido.Saldo__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SumaTotalSaldoVencido</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Anticipo</name>
        <choiceText>Anticipo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Anticipo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cr_dito</name>
        <choiceText>CREDITO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CREDITO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Enganche</name>
        <choiceText>Enganche</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Enganche</stringValue>
        </value>
    </choices>
    <choices>
        <name>Post_Venta</name>
        <choiceText>Post Venta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Post Venta</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tarjeta</name>
        <choiceText>TARJETA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tarjeta</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tarjeta_de_D_bito</name>
        <choiceText>DEBITO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DEBITO</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Todos_los_Pagares_Vencidos</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Todos los Pagares Vencidos</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Todos_los_Pagares_Vencidos_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetPagares_Todos</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Todos_los_Pagares_Vencidos_0.Fecha_Vencimiento__c</leftValueReference>
            <operator>LessThan</operator>
            <rightValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Todos_los_Pagares_Vencidos_0.Estatus__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>ABIERTO</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>SumaTotalSaldoVencido</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>EvaluaRecordID</name>
        <label>EvaluaRecordID</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Pago_a_Cuenta_SCR_01</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No tiene RecordId</defaultConnectorLabel>
        <rules>
            <name>Si_Tiene_RecordID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCobranzaComercial</targetReference>
            </connector>
            <label>Si Tiene RecordID</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>VarPicklistFrecuencia</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Frecuencia__c</picklistField>
        <picklistObject>Cobranza_Comercial__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>VarPAgoSugerido</name>
        <dataType>Currency</dataType>
        <expression>{!VarSumaTotalPagaresVencidos} + {!GetProximoPagare.Importe__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Caja - Pagos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Caja - Pagos</label>
    <loops>
        <name>SumaTotalSaldoVencido</name>
        <label>SumaTotalSaldoVencido</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <collectionReference>Todos_los_Pagares_Vencidos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SumaSaldoVencido</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetProximoPagare</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Pago</name>
        <label>Crea Pago</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>PantallaExito</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Clasificacion__c</field>
            <value>
                <elementReference>Clasificaci_n_del_Pago</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cliente__c</field>
            <value>
                <elementReference>GetCobranzaComercial.Cliente__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cobranza_Comercial__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estatus_del_Pago__c</field>
            <value>
                <stringValue>Abierto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Pago__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>Importe_Pago</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metodo_Pago__c</field>
            <value>
                <elementReference>Metodo_de_Pago</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_del_Pago__c</field>
            <value>
                <stringValue>Recibo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Pago__c</field>
            <value>
                <elementReference>Tipo_de_Pago</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Titulacion__c</field>
            <value>
                <elementReference>GetCobranzaComercial.Titulacion__c</elementReference>
            </value>
        </inputAssignments>
        <object>Pago__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crea_Pago_a_Cuenta</name>
        <label>Crea Pago a Cuenta</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Copy_1_of_PantallaExito</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_PantallaError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Clasificacion__c</field>
            <value>
                <elementReference>PAC_Clasificaci_n_del_Pago</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cliente__c</field>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Pago__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>PAC_Importe_Pago</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metodo_de_Pago__c</field>
            <value>
                <stringValue>CAJA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_de_Tarjeta__c</field>
            <value>
                <elementReference>PAC_No_de_Tarjeta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referencia__c</field>
            <value>
                <elementReference>PAC_No_de_Referencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Pago__c</field>
            <value>
                <elementReference>Tarjeta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Pago__c</field>
            <value>
                <stringValue>TARJETA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Titular_Tarjeta__c</field>
            <value>
                <elementReference>PAC_Titular</elementReference>
            </value>
        </inputAssignments>
        <object>Pago_a_Cuenta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EvaluaRecordID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCobranzaComercial</name>
        <label>GetCobranzaComercial</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPagares_Todos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cobranza_Comercial__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPagares_Todos</name>
        <label>GetPagares(Todos)</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Todos_los_Pagares_Vencidos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cobranza_Comercial__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Documento__c</object>
        <sortField>Fecha_Vencimiento__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProximoPagare</name>
        <label>GetProximoPagare</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asigna_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cobranza_Comercial__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ABIERTO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fecha_Vencimiento__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Documento__c</object>
        <sortField>Fecha_Vencimiento__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Copy_1_of_PantallaError</name>
        <label>Copy 1 of PantallaError</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Title006</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Módulo de Caja -&lt;/strong&gt;&lt;em style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(150, 150, 150);&quot;&gt; Pagos&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Exito</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001lcIo?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;warning icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(150, 150, 150); font-size: 22px;&quot;&gt;&lt;em&gt;No fue posible crear el &quot;Pago a Cuenta&quot;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cerrar Ventana</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_PantallaExito</name>
        <label>Copy 1 of PantallaExito</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Title005</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Módulo de Caja -&lt;/strong&gt;&lt;em style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(150, 150, 150);&quot;&gt; Pagos&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_2_of_Exito</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001lNzm?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Ok Icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(150, 150, 150); font-size: 22px;&quot;&gt;&lt;em&gt;El &quot;Pago a Cuenta&quot; se creó con éxito.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pago_a_Cuenta_SCR_01</name>
        <label>Pago_a_Cuenta_SCR_01</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Crea_Pago_a_Cuenta</targetReference>
        </connector>
        <fields>
            <name>Title004</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 24px; color: rgb(68, 68, 68);&quot;&gt;Módulo de Caja -&lt;/strong&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(150, 150, 150);&quot;&gt; Pagos&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pago_a_Cuenta_SCR_01_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pago_a_Cuenta_SCR_01_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Pagos_SCR01_Title01</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 36px;&quot;&gt;Pago a Cuenta&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pago_a_Cuenta_SCR_01_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Pagos_SCR01_Title02</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 36px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;                         &lt;/strong&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(150, 150, 150);&quot;&gt;{!$Flow.CurrentDate}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Pago_a_Cuenta_SCR_01_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pago_a_Cuenta_SCR_01_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_DisplayText_Row1_Col1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Nombre:&lt;/strong&gt; {!GetAccount.Nombre__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fraccionamiento: &lt;/strong&gt;{!GetAccount.Fraccionamiento_cta__r.Name}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pago_a_Cuenta_SCR_01_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_DisplayText_Row1_Col3</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Line001</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001n4Hi?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Linea Separadora.jpg&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pago_a_Cuenta_SCR_01_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pago_a_Cuenta_SCR_01_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PAC_Clasificaci_n_del_Pago</name>
                    <choiceReferences>Enganche</choiceReferences>
                    <choiceReferences>Post_Venta</choiceReferences>
                    <choiceReferences>Anticipo</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Enganche</defaultSelectedChoiceReference>
                    <fieldText>Clasificación del Pago</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PAC_Cliente_Titular</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Cliente Titular</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PAC_Titular</name>
                    <dataType>String</dataType>
                    <fieldText>Titular</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>PAC_Cliente_Titular</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pago_a_Cuenta_SCR_01_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PAC_Tipo_de_Pago</name>
                    <choiceReferences>Tarjeta</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Tarjeta</defaultSelectedChoiceReference>
                    <fieldText>Tipo de Pago</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PAC_No_de_Referencia</name>
                    <dataType>String</dataType>
                    <fieldText>No de Referencia</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pago_a_Cuenta_SCR_01_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PAC_Metodo_de_Pago</name>
                    <choiceReferences>Tarjeta_de_D_bito</choiceReferences>
                    <choiceReferences>Cr_dito</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Método de Pago</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PAC_No_de_Tarjeta</name>
                    <dataType>String</dataType>
                    <fieldText>No de Tarjeta</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;El número de tajeta debe ser de 16 digitos, en grupos de 4 separados por un guión &quot;-&quot;  Ej.- 0000&lt;strong&gt;-&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;0000&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;-&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;0000&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;-&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;0000&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Solo debe introducir números&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!PAC_No_de_Tarjeta}
, &quot;[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>PAC_Importe_Pago</name>
                    <dataType>Currency</dataType>
                    <fieldText>Importe</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Pago_a_Cuenta_SCR_01_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pago_a_Cuenta_SCR_01_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_TEXT_Row4_Column1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Usuario:&lt;/strong&gt; {!$User.FirstName} {!$User.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pago_a_Cuenta_SCR_01_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_TEXT_Row4_Column2</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pago_a_Cuenta_SCR_01_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_TEXT_Row4_Column3</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Pago_a_Cuenta_SCR_01_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pago_a_Cuenta_SCR_01_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Generar Pago</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pago_SCR_01</name>
        <label>Pago_SCR_01</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Crea_Pago</targetReference>
        </connector>
        <fields>
            <name>Title001</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 24px; color: rgb(68, 68, 68);&quot;&gt;Módulo de Caja -&lt;/strong&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(150, 150, 150);&quot;&gt; Pagos&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pago_SCR_01_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pago_SCR_01_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pagos_SCR01_Title01</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 36px;&quot;&gt;Pagos&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pago_SCR_01_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pagos_SCR01_Title02</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 36px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;                         &lt;/strong&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(150, 150, 150);&quot;&gt;{!$Flow.CurrentDate}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Pago_SCR_01_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pago_SCR_01_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayText_Row1_Col1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Nombre:&lt;/strong&gt; {!GetAccount.Nombre__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fraccionamiento: &lt;/strong&gt;{!GetCobranzaComercial.Fraccionamiento__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Prototipo: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!GetCobranzaComercial.Prototipo__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pago_SCR_01_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayText_Row1_Col3</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;Estatus Proceso de Venta: &lt;/strong&gt;{!GetCobranzaComercial.Estatus_Proceso__c}&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;Proceso de Venta: &lt;/strong&gt;{!GetCobranzaComercial.Oportunidad__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Line001</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001n4Hi?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Linea Separadora.jpg&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pago_SCR_01_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pago_SCR_01_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TEXT_001</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Total Vencido: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!VarSumaTotalPagaresVencidos}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Pago Sugerido: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!VarPAgoSugerido}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pago_SCR_01_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TEXT002</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Fecha Próximo Vencimiento: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!GetProximoPagare.Fecha_Vencimiento__c}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Monto Próximo Vencimiento: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;${!GetProximoPagare.Importe__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Line002</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001n4Hn?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Linea Separadora.jpg&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pago_SCR_01_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pago_SCR_01_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Clasificaci_n_del_Pago</name>
                    <choiceReferences>Enganche</choiceReferences>
                    <choiceReferences>Post_Venta</choiceReferences>
                    <choiceReferences>Anticipo</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Enganche</defaultSelectedChoiceReference>
                    <fieldText>Clasificación del Pago</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Cliente_Titular</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Cliente Titular</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Titular</name>
                    <dataType>String</dataType>
                    <fieldText>Titular</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Cliente_Titular</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pago_SCR_01_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tipo_de_Pago</name>
                    <choiceReferences>Tarjeta</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Tarjeta</defaultSelectedChoiceReference>
                    <fieldText>Tipo de Pago</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>No_de_Referencia</name>
                    <dataType>String</dataType>
                    <fieldText>No de Referencia</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pago_SCR_01_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Metodo_de_Pago</name>
                    <choiceReferences>Tarjeta_de_D_bito</choiceReferences>
                    <choiceReferences>Cr_dito</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Método de Pago</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>No_de_Tarjeta</name>
                    <dataType>String</dataType>
                    <fieldText>No de Tarjeta</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;El número de tajeta debe ser de 16 digitos, en grupos de 4 separados por un guión &quot;-&quot;  Ej.- 0000&lt;strong&gt;-&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;0000&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;-&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;0000&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;-&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;0000&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Solo debe introducir números&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!No_de_Tarjeta}
, &quot;[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Importe_Pago</name>
                    <dataType>Currency</dataType>
                    <fieldText>Importe</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Pago_SCR_01_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pago_SCR_01_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TEXT_Row4_Column1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Usuario:&lt;/strong&gt; {!$User.FirstName} {!$User.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pago_SCR_01_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TEXT_Row4_Column2</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pago_SCR_01_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TEXT_Row4_Column3</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Pago_SCR_01_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pago_SCR_01_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TablaDePagares</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Documento__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Pagarés</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GetPagares_Todos</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-f2ea&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Documento&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Importe__c&quot;,&quot;guid&quot;:&quot;column-23f9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Importe&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Fecha_Vencimiento__c&quot;,&quot;guid&quot;:&quot;column-c666&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:2,&quot;label&quot;:&quot;Fecha Vencimiento&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Estatus__c&quot;,&quot;guid&quot;:&quot;column-d0b2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:3,&quot;label&quot;:&quot;Estatus&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Estatus_AR__c&quot;,&quot;guid&quot;:&quot;column-4634&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:4,&quot;label&quot;:&quot;Estatus AR&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Generar Pago</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PantallaError</name>
        <label>PantallaError</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Title003</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 24px; color: rgb(68, 68, 68);&quot;&gt;Módulo de Caja -&lt;/strong&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(150, 150, 150);&quot;&gt; Pagos&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Exito</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001lcIo?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;warning icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(150, 150, 150); font-size: 22px;&quot;&gt;&lt;em&gt;No fue posible crear el pago&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cerrar Ventana</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PantallaExito</name>
        <label>PantallaExito</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Title002</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 24px; color: rgb(68, 68, 68);&quot;&gt;Módulo de Caja -&lt;/strong&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(150, 150, 150);&quot;&gt; Pagos&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Exito</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001lNzm?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Ok Icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(150, 150, 150); font-size: 22px;&quot;&gt;&lt;em&gt;El pago se creó con éxito.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Limpia_Variables</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Todos_los_Pagares_Vencidos_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Documento__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarCountLoop</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarFechaInicioPago</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarFechaVencimiento</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarFrecuencia</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarImporteFinanciemiento</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarListaPagarePostVenta</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Documento__c</objectType>
    </variables>
    <variables>
        <name>VarMultiplicadorFechaVencimiento</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarPago</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pago__c</objectType>
    </variables>
    <variables>
        <name>VarPlazo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarResultadoLoop</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VarSumaTotalPagaresVencidos</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
