unpackaged/main/default/flows/CAJA_Corte_de_Caja_Visor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <collectionProcessors>
        <name>SubSet_de_Pagos_a_Cuenta_Cancelados</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>SubSet de Pagos a Cuenta Cancelados</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>currentItem_SubSet_de_Pagos_a_Cuenta_Cancelados</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetPagos_a_Cuenta</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_SubSet_de_Pagos_a_Cuenta_Cancelados.Estatus_del_Pago__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Cancelado</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_1_of_SCR001_Captura</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>SubSet_de_Pagos_Cancelados</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>SubSet de Pagos Cancelados</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_SubSet_de_Pagos_Cancelados</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetPagos</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_SubSet_de_Pagos_Cancelados.Estatus_del_Pago__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Cancelado</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>SubSet_de_Pagos_a_Cuenta_Cancelados</targetReference>
        </connector>
    </collectionProcessors>
    <dynamicChoiceSets>
        <name>VarFraccionamiento</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>FRACCIONAMIENTOS__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>VarMontoTotalFinal</name>
        <dataType>Currency</dataType>
        <expression>{!VarTotalMontoPagos} + {!VarTotalMontoPagos_a_Cuenta}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CAJA - Corte de Caja Visor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAJA - Corte de Caja Visor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCorteDeCaja</name>
        <label>GetCorteDeCaja</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPagos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Corte_de_Caja__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPagos</name>
        <label>GetPagos</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPagos_a_Cuenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Corte_de_Caja__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pago__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPagos_a_Cuenta</name>
        <label>GetPagos_a_Cuenta</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SubSet_de_Pagos_Cancelados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Corte_de_Caja__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pago_a_Cuenta__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_SCR001_Captura</name>
        <label>Copy 1 of SCR001_Captura</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_SCR001_Captura_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_SCR001_Captura_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_MSG001_Title</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mpvx?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Caja Registradora S.jpg&quot;&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 24px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Corte de Caja&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_SCR001_Captura_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TEXT02_Row1_Column2</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(150, 150, 150); font-size: 22px; background-color: rgb(255, 255, 255);&quot;&gt;{!GetCorteDeCaja.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_SCR001_Captura_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_SCR001_Captura_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Text001_Row1_Column1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Usuario: &lt;/strong&gt;{!GetCorteDeCaja.Cajero__r.FirstName} {!GetCorteDeCaja.Cajero__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Compañía: &lt;/strong&gt;{!GetCorteDeCaja.Compania__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Inicio del Corte:&lt;/strong&gt; {!GetCorteDeCaja.Inicio_del_Corte__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_SCR001_Captura_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Text001_Row1_Column3</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Fecha:&lt;/strong&gt; {!GetCorteDeCaja.CreatedDate}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fraccionamiento: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fin del Corte:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!GetCorteDeCaja.Fin_del_Corte__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_SCR001_Captura_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_SCR001_Captura_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TEXT02_Row2_Column1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Total de Pagos: &lt;/strong&gt;{!GetCorteDeCaja.Total_Monto_Pagos__c}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_SCR001_Captura_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TEXT02_Row2_Column2</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Total de Reversas:  &lt;/strong&gt;{!GetCorteDeCaja.Total_Monto_Final_Devoluciones__c}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_SCR001_Captura_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TEXT02_Row2_Column3</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;Total de Separaciones:  &lt;/strong&gt;{!GetCorteDeCaja.Total_Monto_Pagos_a_Cuenta__c}&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;Total Monto Final: &lt;/strong&gt;{!GetCorteDeCaja.Total_Monto_Final__c}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>TablaDePagos</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Pago__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pagos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetPagos</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Cliente__c&quot;,&quot;guid&quot;:&quot;column-e0d0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Cliente&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Estatus_del_Pago__c&quot;,&quot;guid&quot;:&quot;column-1041&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Estatus del Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Metodo_Pago__c&quot;,&quot;guid&quot;:&quot;column-59e6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:2,&quot;label&quot;:&quot;Método de Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Tipo_de_Pago__c&quot;,&quot;guid&quot;:&quot;column-4457&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:3,&quot;label&quot;:&quot;Tipo de Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Numero_de_Pago__c&quot;,&quot;guid&quot;:&quot;column-ec22&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:4,&quot;label&quot;:&quot;Número de Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Fecha_de_Pago__c&quot;,&quot;guid&quot;:&quot;column-c78f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:5,&quot;label&quot;:&quot;Fecha de Pago&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Importe__c&quot;,&quot;guid&quot;:&quot;column-8be7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Monto&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:6,&quot;label&quot;:&quot;Importe&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TablaPagos_a_Cuenta</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Pago_a_Cuenta__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pagos a Cuenta</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetPagos_a_Cuenta</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Cliente__c&quot;,&quot;guid&quot;:&quot;column-a17b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Cliente&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Estatus_del_Pago__c&quot;,&quot;guid&quot;:&quot;column-2006&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Estatus del Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Metodo_de_Pago__c&quot;,&quot;guid&quot;:&quot;column-d9ff&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:2,&quot;label&quot;:&quot;Método de Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Tipo_de_Pago__c&quot;,&quot;guid&quot;:&quot;column-c541&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:3,&quot;label&quot;:&quot;Tipo de Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Numero_de_Pago__c&quot;,&quot;guid&quot;:&quot;column-0aa7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:4,&quot;label&quot;:&quot;Número de Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Fecha_de_Pago__c&quot;,&quot;guid&quot;:&quot;column-cf98&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:5,&quot;label&quot;:&quot;Fecha de Pago&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Importe__c&quot;,&quot;guid&quot;:&quot;column-0a5f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Monto&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:6,&quot;label&quot;:&quot;Importe&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TablaDevoluciones</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Pago_a_Cuenta__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Reversas</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>SubSet_de_Pagos_a_Cuenta_Cancelados</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Cliente__c&quot;,&quot;guid&quot;:&quot;column-c8ba&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Cliente&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Estatus_del_Pago__c&quot;,&quot;guid&quot;:&quot;column-be9e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Estatus del Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Metodo_de_Pago__c&quot;,&quot;guid&quot;:&quot;column-bc8d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:2,&quot;label&quot;:&quot;Método de Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Tipo_de_Pago__c&quot;,&quot;guid&quot;:&quot;column-4972&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:3,&quot;label&quot;:&quot;Tipo de Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Numero_de_Pago__c&quot;,&quot;guid&quot;:&quot;column-d0ed&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:4,&quot;label&quot;:&quot;Número de Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Fecha_de_Pago__c&quot;,&quot;guid&quot;:&quot;column-e4db&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:5,&quot;label&quot;:&quot;Fecha de Pago&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Importe__c&quot;,&quot;guid&quot;:&quot;column-7f01&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Monto&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:6,&quot;label&quot;:&quot;Importe&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCorteDeCaja</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_SubSet_de_Pagos_a_Cuenta_Cancelados</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pago_a_Cuenta__c</objectType>
    </variables>
    <variables>
        <name>currentItem_SubSet_de_Pagos_Cancelados</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pago__c</objectType>
    </variables>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarCorteDeCajaID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarPago</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pago__c</objectType>
    </variables>
    <variables>
        <name>VarPago_a_Cuenta</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pago_a_Cuenta__c</objectType>
    </variables>
    <variables>
        <name>VarPago_a_CuentaCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pago_a_Cuenta__c</objectType>
    </variables>
    <variables>
        <name>VarPagosCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pago__c</objectType>
    </variables>
    <variables>
        <name>VarTotalCountDevoluciones</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarTotalCountPagos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarTotalCountPagos_a_Cuenta</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarTotalCountPagosCancelados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarTotalMontoDevoluciones</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarTotalMontoPagos</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarTotalMontoPagos_a_Cuenta</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarTotalPagosCancelados</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
