unpackaged/main/default/flows/CANCELACIONES_Actualiza_Informacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Asigna_Documento_a_Lista_de_Documentos</name>
        <label>Asigna Documento a Lista de Documentos</label>
        <locationX>1018</locationX>
        <locationY>2999</locationY>
        <assignmentItems>
            <assignToReference>VarDocumento_PAG_NCs_Lista</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarDocumentoPAG_NC_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actuliza_Estatus_Documentos_Pagares_NCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Estatus_a_Documento_Single</name>
        <label>Asigna Estatus a Documento Single</label>
        <locationX>1018</locationX>
        <locationY>2891</locationY>
        <assignmentItems>
            <assignToReference>VarDocumentoPAG_NC_Single.Estatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CANCELADO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDocumentoPAG_NC_Single.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actuliza_Estatus_Documentos_Pagares_NCs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDocumentoPAG_NC_Single.Se_puede_Borrar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asigna_Documento_a_Lista_de_Documentos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Estatus_a_Pagare_Single</name>
        <label>Asigna Estatus a Pagare Single</label>
        <locationX>1018</locationX>
        <locationY>2375</locationY>
        <assignmentItems>
            <assignToReference>VarPagarePreVentaSingle.Estatus_Pagare__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPagarePreVentaSingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actuliza_Estatus_Pagares_PreVenta.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPagarePreVentaSingle.Se_puede_Borrar_o_Editar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asigna_PagarePreVenta_a_Lista_de_Pagares</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Estatus_Opportunity</name>
        <label>Asigna Estatus Opportunity</label>
        <locationX>1326</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>VarOpportunityStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.StageName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPlanDeVenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_PagarePreVenta_a_Lista_de_Pagares</name>
        <label>Asigna PagarePreVenta a Lista de Pagares</label>
        <locationX>1018</locationX>
        <locationY>2483</locationY>
        <assignmentItems>
            <assignToReference>VarPagaresPreVenta_Lista</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarPagarePreVentaSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actuliza_Estatus_Pagares_PreVenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CatchRecordsId</name>
        <label>CatchRecordsId</label>
        <locationX>1326</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>VarOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CPPTS_Oportunidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPlanDeVentaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Plan_de_Venta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTitulacionId_2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Titulaci_n__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCobranzaComercialId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cobranza_Comercial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarViviendaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetVivienda.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copia_Valores_UEN</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>VarEmptyString</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>EstatusOpportunidad</name>
        <label>EstatusOpportunidad</label>
        <locationX>1326</locationX>
        <locationY>2159</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Formalizado</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VarOpportunityStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarOpportunityStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reservado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarOpportunityStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formalizado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actuliza_Estatus_Pagares_PreVenta</targetReference>
            </connector>
            <label>Formalizado</label>
        </rules>
        <rules>
            <name>Escriturado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escriturado</stringValue>
                </rightValue>
            </conditions>
            <label>Escriturado</label>
        </rules>
        <rules>
            <name>Entregado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entregado</stringValue>
                </rightValue>
            </conditions>
            <label>Entregado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evalua_Estatus_Cancelacion</name>
        <label>Evalua Estatus Cancelacion</label>
        <locationX>1216</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Otro</defaultConnectorLabel>
        <rules>
            <name>Estatus_No_Iniciado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CPPTS_Estatus_Cancelacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No iniciado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Registro_de_Cancelacion</targetReference>
            </connector>
            <label>Estatus No Iniciado</label>
        </rules>
        <rules>
            <name>Estatus_Por_Aprobar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CPPTS_Estatus_Cancelacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Por Aprobar</stringValue>
                </rightValue>
            </conditions>
            <label>Estatus: Por Aprobar</label>
        </rules>
        <rules>
            <name>Estatus_Aprobado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CPPTS_Estatus_Cancelacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprobado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Registro_de_Cancelaci_n</targetReference>
            </connector>
            <label>Estatus: Aprobado</label>
        </rules>
        <rules>
            <name>Estatus_Rechazado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CPPTS_Estatus_Cancelacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rechazado</stringValue>
                </rightValue>
            </conditions>
            <label>Estatus: Rechazado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evalua_tipo_de_Cancelacion</name>
        <label>Evalua tipo de Cancelacion</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Actualiza_Informacion_Resolicitud_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancelación Por Resolicitud</defaultConnectorLabel>
        <rules>
            <name>Cancelaci_n_Definitiva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Cancelaci_n__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Definitiva</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Informacion_Resolicitud_False</targetReference>
            </connector>
            <label>Cancelación Definitiva</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>VarCheckReembolso</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.CPPTS_Saldo_a_Cuenta__c} &gt;= 1, True, False)</expression>
    </formulas>
    <interviewLabel>CANCELACIONES - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CANCELACIONES - Proceso de Cancelación</label>
    <loops>
        <name>Actuliza_Estatus_Documentos_Pagares_NCs</name>
        <label>Actuliza Estatus Documentos Pagares &amp; NCs</label>
        <locationX>930</locationX>
        <locationY>2783</locationY>
        <collectionReference>GetPagares_Documentos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asigna_Estatus_a_Documento_Single</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cancela_Documentos_PAG_NCs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Actuliza_Estatus_Pagares_PreVenta</name>
        <label>Actuliza Estatus Pagares PreVenta</label>
        <locationX>930</locationX>
        <locationY>2267</locationY>
        <collectionReference>GetPagaresPreventa</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asigna_Estatus_a_Pagare_Single</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualiza</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCobranzaComercial</name>
        <label>GetCobranzaComercial</label>
        <locationX>1326</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPagares_Documentos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cobranza_Comercial__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cobranza_Comercial__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>1326</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asigna_Estatus_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CPPTS_Oportunidad__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPagares_Documentos</name>
        <label>GetPagares(Documentos)</label>
        <locationX>1326</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CatchRecordsId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cobranza_Comercial__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCobranzaComercial.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Documento__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPagaresPreventa</name>
        <label>GetPagaresPreventa</label>
        <locationX>1326</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTitulacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plan_de_Venta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPlanDeVenta.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pagare_Preventa__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPlanDeVenta</name>
        <label>GetPlanDeVenta</label>
        <locationX>1326</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetVivienda</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Plan_de_Venta__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Plan_de_Venta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTitulacion</name>
        <label>GetTitulacion</label>
        <locationX>1326</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCobranzaComercial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Titulaci_n__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Titulacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVivienda</name>
        <label>GetVivienda</label>
        <locationX>1326</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPagaresPreventa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPlanDeVenta.Vivienda__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vivienda__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza</name>
        <label>Cancela Pagares PreVenta</label>
        <locationX>930</locationX>
        <locationY>2675</locationY>
        <connector>
            <targetReference>Actuliza_Estatus_Documentos_Pagares_NCs</targetReference>
        </connector>
        <inputReference>VarPagaresPreVenta_Lista</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Informacion_Resolicitud_False</name>
        <label>Actualiza Informacion Resolicitud False</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>CPPTS_Proceso_con_Resolicitud__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Informacion_Resolicitud_True</name>
        <label>Actualiza Informacion Resolicitud True</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>CPPTS_Proceso_con_Resolicitud__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Registro_de_Cancelaci_n</name>
        <label>Actualiza Registro de Cancelación</label>
        <locationX>1326</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Cancela_Proceso_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_Cancela_Proceso__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reembolso_Check__c</field>
            <value>
                <elementReference>VarCheckReembolso</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Registro_de_Cancelacion</name>
        <label>Actualiza Registro de Cancelación</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Evalua_tipo_de_Cancelacion</targetReference>
        </connector>
        <inputAssignments>
            <field>Sub_UEN_Aprobaciones_TXT__c</field>
            <value>
                <elementReference>$Record.Sub_UEN_Aprobaciones__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UEN_APROBACIONES_TXT__c</field>
            <value>
                <elementReference>$Record.UEN_APROBACIONES__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Cancela_Cobranza_Comercial</name>
        <label>Cancela Cobranza Comercial</label>
        <locationX>1326</locationX>
        <locationY>2051</locationY>
        <connector>
            <targetReference>EstatusOpportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCobranzaComercialId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fecha_de_Cancelacion__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Estatus_Proceso__c</field>
            <value>
                <stringValue>CANCELADO</stringValue>
            </value>
        </inputAssignments>
        <object>Cobranza_Comercial__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Cancela_Documentos_PAG_NCs</name>
        <label>Cancela Documentos PAG &amp; NCs</label>
        <locationX>930</locationX>
        <locationY>3191</locationY>
        <inputReference>VarDocumento_PAG_NCs_Lista</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Cancela_Plan_de_Venta</name>
        <label>Cancela Plan de Venta</label>
        <locationX>1326</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>LiberaVivienda</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarPlanDeVentaId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estatus_Plan_de_venta__c</field>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Cancelacion__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vivienda__c</field>
            <value>
                <elementReference>VarEmptyString</elementReference>
            </value>
        </inputAssignments>
        <object>Plan_de_Venta__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Cancela_Proceso_de_Venta</name>
        <label>Cancela Proceso de Venta</label>
        <locationX>1326</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>Cancela_Plan_de_Venta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fecha_Cancelacion__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Cancela_Titulacion</name>
        <label>Cancela Titulacion</label>
        <locationX>1326</locationX>
        <locationY>1943</locationY>
        <connector>
            <targetReference>Cancela_Cobranza_Comercial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTitulacionId_2</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fecha_Cancelaci_n__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Estatus_del_Proceso__c</field>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </inputAssignments>
        <object>Titulacion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copia_Valores_UEN</name>
        <label>Copia Valores UEN</label>
        <locationX>1326</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Cancela_Proceso_de_Venta</targetReference>
        </connector>
        <inputAssignments>
            <field>Sub_UEN_Aprobaciones_TXT__c</field>
            <value>
                <elementReference>$Record.Sub_UEN_Aprobaciones__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UEN_APROBACIONES_TXT__c</field>
            <value>
                <elementReference>$Record.UEN_APROBACIONES__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>LiberaVivienda</name>
        <label>LiberaVivienda</label>
        <locationX>1326</locationX>
        <locationY>1835</locationY>
        <connector>
            <targetReference>Cancela_Titulacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarViviendaId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estatus_Vivienda__c</field>
            <value>
                <stringValue>Disponible</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estatus__c</field>
            <value>
                <stringValue>17</stringValue>
            </value>
        </inputAssignments>
        <object>Vivienda__c</object>
    </recordUpdates>
    <start>
        <locationX>1090</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evalua_Estatus_Cancelacion</targetReference>
        </connector>
        <object>CPPT_Cancelacion__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarCobranzaComercialId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>VarEmptyString</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarDocumento_PAG_NCs_Lista</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Documento__c</objectType>
    </variables>
    <variables>
        <name>VarDocumentoPAG_NC_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Documento__c</objectType>
    </variables>
    <variables>
        <name>VarFecha</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>VarEmptyString</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarOpportunityStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>VarEmptyString</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarPagarePreVentaSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pagare_Preventa__c</objectType>
    </variables>
    <variables>
        <name>VarPagaresPreVenta_Lista</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pagare_Preventa__c</objectType>
    </variables>
    <variables>
        <name>VarPlanDeVentaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>VarEmptyString</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarTEMP</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VarTitulacionId_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>VarEmptyString</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarViviendaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>VarEmptyString</elementReference>
        </value>
    </variables>
    <variables>
        <name>VatTitulacionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>VarEmptyString</elementReference>
        </value>
    </variables>
</Flow>
