unpackaged/main/default/flows/CANCELACIONES_Crear_Registro_de_Cancelacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Asigna_Opportunity_Id</name>
        <label>Asigna Opportunity Id</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>VarOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oportunidades.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOpportunityInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CopyOpportunityId</name>
        <label>CopyOpportunityId</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>OpportunityId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Oportunidades.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuscaCancelacionesExistentes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Limpia_Variables</name>
        <label>Limpia Variables</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Listas_Inactivas</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Obtiene_Procesos_de_Venta</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Valida_Si_existe_Cancelacion</name>
        <label>Valida Si existe Cancelacion</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>SCR04_Warning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si, ya Existe una cancelación</defaultConnectorLabel>
        <rules>
            <name>No_hay_una_Cancelacion_Existente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuscaCancelacionesExistentes.CPPTS_Oportunidad__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR05_InputValues</targetReference>
            </connector>
            <label>No hay una Cancelacion Existente</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>VarRazonRechazoChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>CPPTS_Razon_Rechazo__c</picklistField>
        <picklistObject>CPPT_Cancelacion__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarTipoCancelacionChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Tipo_de_Cancelaci_n__c</picklistField>
        <picklistObject>CPPT_Cancelacion__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FechadeAprobacion</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>CANCELACIONES - Crear Registro de Cancelación {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CANCELACIONES - Crear Registro de Cancelación</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Registro_de_Cancelcion</name>
        <label>Crea Registro de Cancelcion</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>SCR02_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_SCR02_Success</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CPPTS_Estatus_Cancelacion__c</field>
            <value>
                <stringValue>No iniciado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPPTS_Motivo_Cierre__c</field>
            <value>
                <elementReference>Motivo_de_Cierre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPPTS_Oportunidad__c</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPPTS_Razon_Rechazo__c</field>
            <value>
                <elementReference>RazonRechazo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cobranza_Comercial__c</field>
            <value>
                <elementReference>Oportunidades.firstSelectedRow.Cobranza_Comercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direccion_Oficial__c</field>
            <value>
                <elementReference>GetVivienda.Direccion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estatus_Vivienda__c</field>
            <value>
                <elementReference>GetVivienda.Estatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lote__c</field>
            <value>
                <elementReference>GetVivienda.Lote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manzana__c</field>
            <value>
                <elementReference>GetVivienda.Manzana__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_Interno_del__c</field>
            <value>
                <elementReference>GetVivienda.Num_Interno__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero__c</field>
            <value>
                <elementReference>GetVivienda.Num_Interior__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_de_Venta__c</field>
            <value>
                <elementReference>Oportunidades.firstSelectedRow.Plan_de_Venta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sector__c</field>
            <value>
                <elementReference>GetVivienda.Sector__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_UEN_Aprobaciones_TXT__c</field>
            <value>
                <elementReference>GetFraccionamiento.UEN_Sub_Aprobaciones__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Cancelaci_n__c</field>
            <value>
                <elementReference>TipoCancelacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Titulaci_n__c</field>
            <value>
                <elementReference>Oportunidades.firstSelectedRow.Titulacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UEN_APROBACIONES_TXT__c</field>
            <value>
                <elementReference>GetPlaza.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unidad_Privativa__c</field>
            <value>
                <elementReference>GetVivienda.Unidad_Privativa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vivienda__c</field>
            <value>
                <elementReference>GetVivienda.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CPPT_Cancelacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Busca cancelaciones que ya existan sobre el Proceso de Venta seleccionado</description>
        <name>BuscaCancelacionesExistentes</name>
        <label>BuscaCancelacionesExistentes</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valida_Si_existe_Cancelacion</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Crea_Registro_de_Cancelcion</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CPPTS_Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CPPT_Cancelacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFraccionamiento</name>
        <label>GetFraccionamiento</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPlaza</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetVivienda.Fraccionamiento__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fraccionamiento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunityInfo</name>
        <label>GetOpportunityInfo</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetVivienda</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPlaza</name>
        <label>GetPlaza</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crea_Registro_de_Cancelcion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetFraccionamiento.Plaza_Relacionada__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Plaza__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVivienda</name>
        <label>GetVivienda</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetFraccionamiento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunityInfo.Plan_de_Venta__r.Vivienda__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vivienda__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_Procesos_de_Venta</name>
        <label>Obtiene Procesos de Venta</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ListaDeOportunidades</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Validación</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reservado</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Formalizado</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Escriturado</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Entregado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Copy_1_of_SCR02_Success</name>
        <label>SCR03_Error</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_MSG02_Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mQ4D?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;warning icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;No fue posible crear el registro de cancelación&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cerrar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Listas de Procesos de Venta Formalizados o Entregados</description>
        <name>ListaDeOportunidades</name>
        <label>ListaDeOportunidades</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CopyOpportunityId</targetReference>
        </connector>
        <fields>
            <name>MSG01_Titulo</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mQIb?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Cancelacion S.jpg&quot;&gt; &lt;strong style=&quot;font-size: 24px;&quot;&gt;Módulo de Cancelaciones&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Seleccione un Proceso de Venta de la lista que se presenta a continuación. Puede localizar el registro utilizando el buscador que se encuentra en la parte superior derecha.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Oportunidades</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Obtiene_Procesos_de_Venta</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-efe7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StageName&quot;,&quot;guid&quot;:&quot;column-73b1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Stage&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Cliente__c&quot;,&quot;guid&quot;:&quot;column-a520&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Cliente&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Tipo_de_Credito__c&quot;,&quot;guid&quot;:&quot;column-bde5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Tipo de Crédito&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Cancelar Proceso de Venta Seleccionado</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR02_Success</name>
        <label>SCR02_Success</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MSG02_Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mQ3j?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Ok Icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;El registro de cancelación se creó con éxito. Haga click en el siguente vínculo para continuar con el proceso de cancelación.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/lightning/r/CPPT_Cancelacion__c/{!Crea_Registro_de_Cancelcion}/view &quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;/lightning/r/CPPT_Cancelacion__c/{!Crea_Registro_de_Cancelcion}/view &lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cerrar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR04_Warning</name>
        <label>SCR04_Warning</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Regresar</backButtonLabel>
        <fields>
            <name>Copy_1_of_Copy_1_of_MSG02_Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mQ4m?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Equis.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Ya existe un registro de cancelación para el proceso de venta {!Oportunidades.firstSelectedRow.Name}.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;En la siguente liga se encuentra el registro de cancelación asociado:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/lightning/r/CPPT_Cancelacion__c/{!BuscaCancelacionesExistentes.Id}/view &quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;/lightning/r/CPPT_Cancelacion__c/{!BuscaCancelacionesExistentes.Id}/view &lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cerrar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR05_InputValues</name>
        <label>SCR05_InputValues</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Asigna_Opportunity_Id</targetReference>
        </connector>
        <fields>
            <name>MSG01_Titulo2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Información Requerida&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TipoCancelacion</name>
            <choiceReferences>VarTipoCancelacionChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de Cancelación</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RazonRechazo</name>
            <choiceReferences>VarRazonRechazoChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Razón Rechazo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Motivo_de_Cierre</name>
            <dataType>String</dataType>
            <fieldText>Motivo de Cierre</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Continuar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Limpia_Variables</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Listas_Inactivas</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarMotivoCierre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarRazonRechazo</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTipoDeCancelacion</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
