unpackaged/main/default/flows/CANCELACIONES_Actualiza_Valor_UEN_Aprobaciones.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Asigna_Fraccionamiento_x_Opportunity</name>
        <label>Asigna Fraccionamiento x Opportunity</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>VarFraccionamientoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.Fraccionamiento__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetFraccionamiento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Fraccionamiento_x_Vivienda</name>
        <label>Asigna Fraccionamiento x Vivienda</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>VarFraccionamientoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetVivienda.Fraccionamiento__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetFraccionamiento</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Evalua_ViviendaId</name>
        <label>Evalua ViviendaId</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>GetOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Encontro Vivienda</defaultConnectorLabel>
        <rules>
            <name>Si_hay_Vivienda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetVivienda.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Fraccionamiento_x_Vivienda</targetReference>
            </connector>
            <label>Si hay Vivienda</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_Valores_UEN_Actualizados</name>
        <label>Valida Valores UEN Actualizados</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_SCR01_Valores_Actualizados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Los Valores UEN estan Actualizados</defaultConnectorLabel>
        <rules>
            <name>No_se_han_Actualizado</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetCancelacionInfo.Valores_UEN_Actualizados__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCancelacionInfo.Valores_UEN_Actualizados__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCancelacionInfo</targetReference>
            </connector>
            <label>No se han Actualizado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CANCELACIONES - Actualiza Valor UEN Aprobaciones {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CANCELACIONES - Actualiza Valor UEN Aprobaciones</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCancelacionInfo</name>
        <label>GetCancelacionInfo</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetVivienda</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CPPT_Cancelacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFraccionamiento</name>
        <label>GetFraccionamiento</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCancelacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarFraccionamientoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fraccionamiento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asigna_Fraccionamiento_x_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCancelacionInfo.CPPTS_Oportunidad__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVivienda</name>
        <label>GetVivienda</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evalua_ViviendaId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCancelacionInfo.Vivienda__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vivienda__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCancelacion</name>
        <label>UpdateCancelacion</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>SCR01_Valores_Actualizados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sub_UEN_Aprobaciones_TXT__c</field>
            <value>
                <elementReference>GetFraccionamiento.UEN_Sub_Aprobaciones__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UEN_APROBACIONES_TXT__c</field>
            <value>
                <elementReference>GetFraccionamiento.Plaza_Relacionada__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valores_UEN_Actualizados__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>CPPT_Cancelacion__c</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_SCR01_Valores_Actualizados</name>
        <label>Copy 1 of SCR01_Valores Actualizados</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_txt01</name>
            <fieldText>&lt;p&gt;SI SE EJECUTO EL UPDATE&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;UEN APROBACIONES: {!GetCancelacionInfo.UEN_APROBACIONES_TXT__c} / {!GetCancelacionInfo.UEN_APROBACIONES__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;SUB UEN APROBACIONES: {!GetCancelacionInfo.Sub_UEN_Aprobaciones_TXT__c} / {!GetCancelacionInfo.Sub_UEN_Aprobaciones__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR01_Valores_Actualizados</name>
        <label>SCR01_Valores Actualizados</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_txt01</name>
            <fieldText>&lt;p&gt;SI SE EJECUTO EL UPDATE&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;UEN APROBACIONES: {!GetCancelacionInfo.UEN_APROBACIONES_TXT__c} / {!GetCancelacionInfo.UEN_APROBACIONES__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;SUB UEN APROBACIONES: {!GetCancelacionInfo.Sub_UEN_Aprobaciones_TXT__c} / {!GetCancelacionInfo.Sub_UEN_Aprobaciones__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Valida_Valores_UEN_Actualizados</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BlankValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarFraccionamientoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarUEN_Aprobaciones</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarUEN_Sub_Aprobaciones</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
