unpackaged/main/default/flows/Cobranza_Comercial_Actualiza_Datos_II.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Evalua_Si_es_Nuevo</name>
        <label>Evalua Si es Nuevo</label>
        <locationX>512</locationX>
        <locationY>1979</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nueva_Cobranza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Es_Nuevo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Cobranza_Comercial</targetReference>
            </connector>
            <label>Nueva Cobranza</label>
        </rules>
        <rules>
            <name>Cobranza_Existente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Es_Nuevo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Cobranza_Comercial_Update</targetReference>
            </connector>
            <label>Cobranza Existente</label>
        </rules>
    </decisions>
    <decisions>
        <name>EvaluaDatosExistentes_01</name>
        <label>EvaluaDatosExistentes_01</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>GetDatosTitulacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_tiene_CC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDatosOpportunity.Cobranza_Comercial__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ActualizaOpportunidad</targetReference>
            </connector>
            <label>No tiene CC</label>
        </rules>
    </decisions>
    <decisions>
        <name>EvaluaDatosExistentes_02</name>
        <label>EvaluaDatosExistentes_02</label>
        <locationX>512</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>GetDatosPlanVenta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_tiene_Cobranza_Comercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDatosTitulacion.Ya_tiene_Cobranza__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualiaTitulacion</targetReference>
            </connector>
            <label>No tiene Cobranza Comercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>EvaluaDatosExistentes_03</name>
        <label>EvaluaDatosExistentes_03</label>
        <locationX>512</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>GetDatosVivienda</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PlanVenta_No_tiene_Cobranza_Comercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDatosPlanVenta.Ya_tiene_Cobranza_Comercial__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Plan_de_Venta</targetReference>
            </connector>
            <label>PlanVenta No tiene Cobranza Comercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_Pagares_de_Enganche</name>
        <label>Hay Pagares de Enganche?</label>
        <locationX>182</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Pagare_Financiera_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_hay_Pagares_de_Enganche</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetDatosPlanVenta.Crear_Pagare_Enganche_en_CC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_Pagare_PreVenta</targetReference>
            </connector>
            <label>Si hay Pagares de Enganche</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pagar_Gastos_Notariales</name>
        <label>Pagaré Gastos Notariales</label>
        <locationX>182</locationX>
        <locationY>3503</locationY>
        <defaultConnector>
            <targetReference>Tiene_Titulacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Requiere_Pagar_Gastos_Notariales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDatosPlanVenta.Otros_Gastos_Count__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_Pagar_Gastos_Notariales</targetReference>
            </connector>
            <label>Si Requiere Pagaré Gastos Notariales</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pagare_Financiera_1</name>
        <label>Pagaré Financiera 1</label>
        <locationX>182</locationX>
        <locationY>2603</locationY>
        <defaultConnector>
            <targetReference>Pagare_Financiera_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existe_Pagre_Fianciera_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDatosPlanVenta.Monto_de_Credito_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_Pagare_Financiera_1</targetReference>
            </connector>
            <label>Existe Pagré Fianciera 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pagare_Financiera_2</name>
        <label>Pagaré Financiera 2</label>
        <locationX>182</locationX>
        <locationY>2903</locationY>
        <defaultConnector>
            <targetReference>Pagare_Financiera_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existe_Pagre_Fianciera_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDatosPlanVenta.Monto_de_Credito_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_Pagare_Financiera_2</targetReference>
            </connector>
            <label>Existe Pagré Fianciera 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pagare_Financiera_3</name>
        <label>Pagaré Financiera 3</label>
        <locationX>182</locationX>
        <locationY>3203</locationY>
        <defaultConnector>
            <targetReference>Pagar_Gastos_Notariales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existe_Pagre_Fianciera_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDatosPlanVenta.Monto_de_Credito_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_Pagare_Financiera_3</targetReference>
            </connector>
            <label>Existe Pagré Fianciera 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Titulacion</name>
        <label>Tiene Titulación?</label>
        <locationX>182</locationX>
        <locationY>3911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Tiene_Titulacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Titulacion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Actualiza_Cobranza_Comercial</targetReference>
            </connector>
            <label>No Tiene Titulación</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>VarFechaVencimiento</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 30</expression>
    </formulas>
    <interviewLabel>Cobranza Comercial - Actualiza Datos II {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cobranza Comercial - Actualiza Datos II</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Crea Pagaré de Preventa en Base a los Datos del Plan de Venta de la sección de Financiemiento PreVenta</description>
        <name>Crea_NC_Gastos_Notariales</name>
        <label>Crea NC Gastos Notariales</label>
        <locationX>50</locationX>
        <locationY>3719</locationY>
        <connector>
            <targetReference>Tiene_Titulacion</targetReference>
        </connector>
        <inputAssignments>
            <field>Cobranza_Comercial__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estatus__c</field>
            <value>
                <stringValue>ABIERTO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Vencimiento__c</field>
            <value>
                <elementReference>VarFechaVencimiento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>GetDatosPlanVenta.Otros_Gastos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120r000000FWYEAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>NC_GASTOS_NOTARIALES</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Titulacion__c</field>
            <value>
                <elementReference>GetDatosTitulacion.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Documento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crea Pagaré de Preventa en Base a los Datos del Plan de Venta de la sección de Financiemiento PreVenta</description>
        <name>Crea_Pagar_Gastos_Notariales</name>
        <label>Crea Pagaré Gastos Notariales</label>
        <locationX>50</locationX>
        <locationY>3611</locationY>
        <connector>
            <targetReference>Crea_NC_Gastos_Notariales</targetReference>
        </connector>
        <inputAssignments>
            <field>Cobranza_Comercial__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estatus__c</field>
            <value>
                <stringValue>ABIERTO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Vencimiento__c</field>
            <value>
                <elementReference>VarFechaVencimiento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>GetDatosPlanVenta.Otros_Gastos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120r000000FWY9AAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>PAGARE_GASTOS_NOTARIALES</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Titulacion__c</field>
            <value>
                <elementReference>GetDatosTitulacion.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Documento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crea Pagaré de Preventa en Base a los Datos del Plan de Venta de la sección de Financiemiento PreVenta</description>
        <name>Crea_Pagare_Financiera_1</name>
        <label>Crea Pagaré Financiera 1</label>
        <locationX>50</locationX>
        <locationY>2711</locationY>
        <connector>
            <targetReference>Pagare_Financiera_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Cobranza_Comercial__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estatus__c</field>
            <value>
                <stringValue>ABIERTO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Vencimiento__c</field>
            <value>
                <elementReference>VarFechaVencimiento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>GetDatosPlanVenta.Credito_Neto_Final_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120r000000FWY9AAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>PAGARE_FINANCIERA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Titulacion__c</field>
            <value>
                <elementReference>GetDatosTitulacion.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Documento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crea Pagaré de Preventa en Base a los Datos del Plan de Venta de la sección de Financiemiento PreVenta</description>
        <name>Crea_Pagare_Financiera_2</name>
        <label>Crea Pagaré Financiera 2</label>
        <locationX>50</locationX>
        <locationY>3011</locationY>
        <connector>
            <targetReference>Pagare_Financiera_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Cobranza_Comercial__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estatus__c</field>
            <value>
                <stringValue>ABIERTO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Vencimiento__c</field>
            <value>
                <elementReference>VarFechaVencimiento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>GetDatosPlanVenta.Credito_Neto_Final_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120r000000FWY9AAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>PAGARE_FINANCIERA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Titulacion__c</field>
            <value>
                <elementReference>GetDatosTitulacion.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Documento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crea Pagaré de Preventa en Base a los Datos del Plan de Venta de la sección de Financiemiento PreVenta</description>
        <name>Crea_Pagare_Financiera_3</name>
        <label>Crea Pagaré Financiera 3</label>
        <locationX>50</locationX>
        <locationY>3311</locationY>
        <connector>
            <targetReference>Pagar_Gastos_Notariales</targetReference>
        </connector>
        <inputAssignments>
            <field>Cobranza_Comercial__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estatus__c</field>
            <value>
                <stringValue>ABIERTO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Vencimiento__c</field>
            <value>
                <elementReference>VarFechaVencimiento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>GetDatosPlanVenta.Credito_Neto_Final_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120r000000FWY9AAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>PAGARE_FINANCIERA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Titulacion__c</field>
            <value>
                <elementReference>GetDatosTitulacion.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Documento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crea Pagaré de Preventa en Base a los Datos del Plan de Venta de la sección de Financiemiento PreVenta</description>
        <name>Crea_Pagare_PreVenta</name>
        <label>Crea Pagare PreVenta</label>
        <locationX>50</locationX>
        <locationY>2411</locationY>
        <connector>
            <targetReference>Pagare_Financiera_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Cobranza_Comercial__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estatus__c</field>
            <value>
                <stringValue>ABIERTO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Vencimiento__c</field>
            <value>
                <elementReference>VarFechaVencimiento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frecuencia__c</field>
            <value>
                <elementReference>GetDatosPlanVenta.Frecuencia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>GetDatosPlanVenta.Diferencia_a_Pagar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plazo__c</field>
            <value>
                <elementReference>GetDatosPlanVenta.Plazo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120r000000FWY9AAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>PAGARE_ENGANCHE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Titulacion__c</field>
            <value>
                <elementReference>GetDatosTitulacion.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Documento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetDatosOpportunity</name>
        <label>GetDatosOpportunity</label>
        <locationX>512</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EvaluaDatosExistentes_01</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Proceso_Venta__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDatosPlanVenta</name>
        <label>GetDatosPlanVenta</label>
        <locationX>512</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Debugg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDatosOpportunity.Plan_de_Venta__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Plan_de_Venta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDatosTitulacion</name>
        <label>GetDatosTitulación</label>
        <locationX>512</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_IdTitulacion_enCobranza</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDatosOpportunity.Titulacion__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Titulacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDatosVivienda</name>
        <label>GetDatosVivienda</label>
        <locationX>512</locationX>
        <locationY>1871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evalua_Si_es_Nuevo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDatosPlanVenta.Vivienda__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vivienda__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ActualiaTitulacion</name>
        <label>ActualiaTitulacion</label>
        <locationX>380</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>GetDatosPlanVenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Titulacion__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cobranza_Comercial__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ya_tiene_Cobranza__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Titulacion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Cobranza_Comercial</name>
        <label>Actualiza Cobranza Comercial</label>
        <locationX>182</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Relaciona_Proceso_de_Venta</targetReference>
        </connector>
        <inputAssignments>
            <field>Actualiza_Datos__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Es_Nuevo__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fraccionamiento__c</field>
            <value>
                <elementReference>GetDatosOpportunity.Fraccionamiento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GetDatosOpportunity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prototipo__c</field>
            <value>
                <elementReference>GetDatosOpportunity.Prototipo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Titulacion__c</field>
            <value>
                <elementReference>GetDatosTitulacion.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Operacion_Plain_Field__c</field>
            <value>
                <elementReference>GetDatosPlanVenta.Valor_Operacion_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vivienda__c</field>
            <value>
                <elementReference>GetDatosPlanVenta.Vivienda__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Cobranza_Comercial_Update</name>
        <label>Actualiza Cobranza Comercial (Update)</label>
        <locationX>578</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Actualiza_Proceso_de_Venta_Oportunidad</targetReference>
        </connector>
        <inputAssignments>
            <field>Actualiza_Datos__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Es_Nuevo__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fraccionamiento__c</field>
            <value>
                <elementReference>GetDatosOpportunity.Fraccionamiento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GetDatosOpportunity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Otros_Gastos__c</field>
            <value>
                <elementReference>GetDatosPlanVenta.Otros_Gastos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prototipo__c</field>
            <value>
                <elementReference>GetDatosOpportunity.Prototipo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Titulacion__c</field>
            <value>
                <elementReference>GetDatosTitulacion.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Operacion_Plain_Field__c</field>
            <value>
                <elementReference>GetDatosPlanVenta.Valor_Operacion_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vivienda__c</field>
            <value>
                <elementReference>GetDatosPlanVenta.Vivienda__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Plan_de_Venta</name>
        <label>Actualiza Plan de Venta</label>
        <locationX>380</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Copy_1_of_Debugg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDatosPlanVenta.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cobranza_Comercial__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ya_tiene_Cobranza_Comercial__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Plan_de_Venta__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Proceso_de_Venta_Oportunidad</name>
        <label>Actualiza Proceso de Venta (Oportunidad)</label>
        <locationX>578</locationX>
        <locationY>2195</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDatosOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cobranza_Comercial__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizaOpportunidad</name>
        <label>ActualizaOpportunidad</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>GetDatosTitulacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Proceso_Venta__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cobranza_Comercial__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Actualiza_Cobranza_Comercial</name>
        <label>Copy 1 of Actualiza Cobranza Comercial</label>
        <locationX>50</locationX>
        <locationY>4019</locationY>
        <inputAssignments>
            <field>Actualiza_Datos__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Es_Nuevo__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fraccionamiento__c</field>
            <value>
                <elementReference>GetDatosOpportunity.Fraccionamiento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lote_PlainField__c</field>
            <value>
                <elementReference>GetDatosVivienda.Lote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GetDatosOpportunity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Otros_Gastos__c</field>
            <value>
                <elementReference>GetDatosPlanVenta.Otros_Gastos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prototipo__c</field>
            <value>
                <elementReference>GetDatosOpportunity.Prototipo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Titulacion__c</field>
            <value>
                <elementReference>GetDatosTitulacion.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vivienda__c</field>
            <value>
                <elementReference>GetDatosPlanVenta.Vivienda__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Debugg</name>
        <label>Copy 1 of Debugg</label>
        <locationX>380</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>GetDatosVivienda</targetReference>
        </connector>
        <inputAssignments>
            <field>debugg__c</field>
            <value>
                <stringValue>Si actualizó el registro</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Debugg</name>
        <label>Debugg</label>
        <locationX>512</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>EvaluaDatosExistentes_03</targetReference>
        </connector>
        <inputAssignments>
            <field>debugg__c</field>
            <value>
                <stringValue>Llego hasta aqui</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Relaciona_Proceso_de_Venta</name>
        <label>Relaciona Proceso de Venta (Oportunidad)</label>
        <locationX>182</locationX>
        <locationY>2195</locationY>
        <connector>
            <targetReference>Hay_Pagares_de_Enganche</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDatosOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cobranza_Comercial__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_IdTitulacion_enCobranza</name>
        <label>Update_IdTitulacion_enCobranza</label>
        <locationX>512</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>EvaluaDatosExistentes_02</targetReference>
        </connector>
        <inputAssignments>
            <field>Titulacion__c</field>
            <value>
                <elementReference>GetDatosTitulacion.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetDatosOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sub_Estatus_Proceso__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CANCELADO POR REUBICACION</stringValue>
            </value>
        </filters>
        <object>Cobranza_Comercial__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
