unpackaged/main/default/flows/COBRANZA_Genera_Pagar_Financiamiento_PostVenta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Actualiza_Variables</name>
        <label>Actualiza Variables</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>VarCountLoop</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarMultiplicadorFechaVencimiento</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarResultadoLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Valida_Count_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Loop_Count</name>
        <label>Asigna Loop Count</label>
        <locationX>248</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>VarCountLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plazo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valida_Count_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Variables</name>
        <label>Asigna Variables</label>
        <locationX>545</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>VarPlazo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_Valores_de_Cobranza_Comercial.Plazo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFrecuencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_Valores_de_Cobranza_Comercial.Frecuencia__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFechaVencimiento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_Valores_de_Cobranza_Comercial.Fecha_Inicio_de_Financiamiento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFechaInicioPago</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_Valores_de_Cobranza_Comercial.Fecha_Inicio_de_Financiamiento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarImporteFinanciemiento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_Valores_de_Cobranza_Comercial.Diferencia_a_Pagar__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pantalla_Fin_Post_Venta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InfoPagareIndividual</name>
        <label>InfoPagaréIndividual</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>VarSinglePagarePostVenta.Cobranza_Comercial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_Valores_de_Cobranza_Comercial.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSinglePagarePostVenta.Estatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ABIERTO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSinglePagarePostVenta.Frecuencia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarFrecuencia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSinglePagarePostVenta.Tipo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PAGARE_POSTVENTA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSinglePagarePostVenta.Fecha_Documento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSinglePagarePostVenta.Fecha_Vencimiento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarFechaVencimientoPagareIndividual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSinglePagarePostVenta.Importe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarImportePagareIndividual</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewPagare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Limpia_Variables</name>
        <label>Limpia Variables</label>
        <locationX>825</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>VarFechaInicioPago</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFechaVencimiento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPlazo</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFrecuencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mensual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtiene_Valores_de_Cobranza_Comercial</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Evalua_Resultado_Loop</name>
        <label>Evalua Resultado Loop</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>PantallaError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Genero_Pagares</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarResultadoLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizaCobranzaComercial</targetReference>
            </connector>
            <label>Si Generó Pagarés</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_Count_Loop</name>
        <label>Valida Count Loop</label>
        <locationX>248</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Evalua_Resultado_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CountLoop_diferente_de_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCountLoop</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InfoPagareIndividual</targetReference>
            </connector>
            <label>CountLoop diferente de 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_Diferencia_a_Pagar</name>
        <label>Valida Diferencia a Pagar</label>
        <locationX>825</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_PantallaError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Diferencia_a_pagar_Mayor_a_Cero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Valores_de_Cobranza_Comercial.Diferencia_a_Pagar__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Variables</targetReference>
            </connector>
            <label>Diferencia a pagar Mayor a Cero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_Fecha_Inicio_Pago</name>
        <label>Valida Fecha Inicio Pago</label>
        <locationX>545</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>PantallaFechaInicioPagar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fecha_Ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarFechaInicioPagoOk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Loop_Count</targetReference>
            </connector>
            <label>Fecha Ok</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>VarPicklistFrecuencia</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Frecuencia__c</picklistField>
        <picklistObject>Cobranza_Comercial__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>VarFechaInicioPagoOk</name>
        <dataType>Boolean</dataType>
        <expression>IF( {!VAR_Fecha_de_Inicio_de_Financiamiento} &lt;= (Today()+30), True, False)</expression>
    </formulas>
    <formulas>
        <name>VarFechaVencimientoPagareIndividual</name>
        <dataType>Date</dataType>
        <expression>{!VAR_Fecha_de_Inicio_de_Financiamiento} + ({!VarSumadorFecha} * {!VarMultiplicadorFechaVencimiento})</expression>
    </formulas>
    <formulas>
        <name>VarImportePagareIndividual</name>
        <dataType>Currency</dataType>
        <expression>{!Importe}/{!Plazo}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>VarSumadorFecha</name>
        <dataType>Number</dataType>
        <expression>CASE({!Frecuencia_de_Pago}, &quot;Semanal&quot;, 7, &quot;Quincenal&quot;, 14, &quot;Mensual&quot;, 30, 30)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>COBRANZA - Genera Pagaré Financiamiento PostVenta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>COBRANZA - Genera Pagaré Financiamiento PostVenta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>NewPagare</name>
        <label>NewPagaré</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Actualiza_Variables</targetReference>
        </connector>
        <inputReference>VarSinglePagarePostVenta</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Obtiene_Valores_de_Cobranza_Comercial</name>
        <label>Obtiene Valores de Cobranza Comercial</label>
        <locationX>825</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valida_Diferencia_a_Pagar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cobranza_Comercial__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ActualizaCobranzaComercial</name>
        <label>ActualizaCobranzaComercial</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>PantallaExito</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fecha_Inicio_de_Financiamiento__c</field>
            <value>
                <elementReference>VAR_Fecha_de_Inicio_de_Financiamiento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frecuencia__c</field>
            <value>
                <elementReference>Frecuencia_de_Pago</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plazo__c</field>
            <value>
                <elementReference>Plazo</elementReference>
            </value>
        </inputAssignments>
        <object>Cobranza_Comercial__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Copy_1_of_PantallaError</name>
        <label>Copy 1 of PantallaError</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Exito</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001lsf1?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Equis.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(150, 150, 150); font-size: 18px;&quot;&gt;La diferencia a pagar es {!Obtiene_Valores_de_Cobranza_Comercial.Diferencia_a_Pagar__c}, &lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(150, 150, 150); font-size: 18px;&quot;&gt;por lo tanto no es posible generar los pagarés.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cerrar Ventana</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Fin_Post_Venta</name>
        <label>Pantalla Fin Post Venta</label>
        <locationX>545</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Valida_Fecha_Inicio_Pago</targetReference>
        </connector>
        <fields>
            <name>TopTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Pagarés Post Venta&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pantalla_Fin_Post_Venta_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pantalla_Fin_Post_Venta_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Importe</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>VarImporteFinanciemiento</elementReference>
                    </defaultValue>
                    <fieldText>Importe</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Frecuencia_de_Pago</name>
                    <choiceReferences>VarPicklistFrecuencia</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>VarFrecuenciaDefaultValue</elementReference>
                    </defaultValue>
                    <fieldText>Frecuencia de Pago</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pantalla_Fin_Post_Venta_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VAR_Fecha_de_Inicio_de_Financiamiento</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>VarFechaInicioPago</elementReference>
                    </defaultValue>
                    <fieldText>Fecha de Inicio de Financiamiento</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Plazo</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>VarPlazo</elementReference>
                    </defaultValue>
                    <fieldText>Plazo</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Crear Pagarés Postventa</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PantallaError</name>
        <label>PantallaError</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Exito</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001lcIo?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;warning icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(150, 150, 150); font-size: 22px;&quot;&gt;&lt;em&gt;No fue posible crear los pagarés postventa.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cerrar Ventana</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PantallaExito</name>
        <label>PantallaExito</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Exito</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001lNzm?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Ok Icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(150, 150, 150); font-size: 22px;&quot;&gt;&lt;em&gt;Se crearon con éxito los pagarés postventa.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PantallaFechaInicioPagar</name>
        <label>PantallaFechaInicioPagaré</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Pantalla_Fin_Post_Venta</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Exito</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001luP9?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;warning icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(150, 150, 150); font-size: 18px;&quot;&gt;La fecha de inicio de pago es mayor a 30 días, oprima continuar y modifique la fecha.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continuar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>699</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Limpia_Variables</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarCobranzaRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Cobranza_Comercial__c</objectType>
    </variables>
    <variables>
        <name>VarCountLoop</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarFechaInicioPago</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarFechaVencimiento</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarFrecuencia</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarFrecuenciaDefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Obtiene_Valores_de_Cobranza_Comercial.Frecuencia__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarImporteFinanciemiento</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarListaPagarePostVenta</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Documento__c</objectType>
    </variables>
    <variables>
        <name>VarMultiplicadorFechaVencimiento</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarPlazo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarResultadoLoop</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VarSinglePagarePostVenta</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Documento__c</objectType>
    </variables>
</Flow>
