unpackaged/main/default/flows/COBRANZA_Actualiza_Fecha_de_Cobro.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Integracion_EBS_Clientes</name>
        <label>Integracion EBS Clientes</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Integracion_EBS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ClaveRequisicion</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PlanVentaId</name>
            <value>
                <elementReference>$Record.Plan_Venta__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Vivienda_Cobrada</name>
        <label>Vivienda Cobrada?</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vivienda_Cobrada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Integracion_EBS_Clientes</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Actualiza la fecha de Vivienda Cobrada cuando la formula que valida el saldo en ceros o menor a cero de los pagarés Financiera</description>
    <environments>Default</environments>
    <interviewLabel>COBRANZA - Actualiza Fecha de Cobro {!$Flow.CurrentDateTime}</interviewLabel>
    <label>COBRANZA - Actualiza Fecha de Cobro</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualiza_Check_Vivienda_Cobrada</name>
        <label>Actualiza Check Vivienda Cobrada</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Vivienda_Cobrada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pagare_financiera_Cantidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pagares_Financiera_Cerrados__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Check_Fecha_Vivienda_Cobrada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Cobro__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vivienda_Cobrada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualiza_Check_Vivienda_Cobrada</targetReference>
        </connector>
        <object>Cobranza_Comercial__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
