unpackaged/main/default/flows/Cobranza_Comercial_Validacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Se_puede_hacer_la_Validacion_Comercial</name>
        <label>Se puede hacer la Validación Comercial?</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_estan_completas_las_validaciones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CONTADO_TODO_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Estatus_Formalizado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Sub_Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.CHK_Valor_Operacion_OK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Ley_Antilavado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Importe_Escritura__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Tipo_Credito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTADO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Gasos_Notariales__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Valor_Avaluo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Diferencia_a_Pagar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Pagare_Enganche_Cubierto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Estatus_Plan_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprobado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR_CONTADO_Validaci_n_Comercial</targetReference>
            </connector>
            <label>CONTADO - TODO OK</label>
        </rules>
        <rules>
            <name>CONTADO_NO_Ok</name>
            <conditionLogic>1 AND 11 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Tipo_Credito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTADO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Estatus_Formalizado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Sub_Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Ley_Antilavado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Importe_Escritura__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.CHK_Valor_Operacion_OK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Gasos_Notariales__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Valor_Avaluo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Diferencia_a_Pagar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Pagare_Enganche_Cubierto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Estatus_Plan_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprobado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR_CONTADO_CHKs_NO_OK</targetReference>
            </connector>
            <label>CONTADO - NO Ok</label>
        </rules>
        <rules>
            <name>CREDITO_ENG_TODO_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.CHK_Valor_Operacion_OK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Ley_Antilavado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Nmero_de_Credito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Importe_Escritura__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Sub_Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Estatus_Formalizado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Pagare_Enganche_Cubierto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Chk_Pagares_Fin_Info_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Gasos_Notariales__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Tipo_Credito__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CONTADO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.CHK_Es_Fondo_de_Garantia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Valor_Avaluo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Diferencia_a_Pagar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Estatus_Plan_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprobado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR_CRED_ENG_TodoOK</targetReference>
            </connector>
            <label>CREDITO+ENG - TODO OK</label>
        </rules>
        <rules>
            <name>CREDITO_ENG_NO_Ok</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 12 or 13 OR 14) and 10 and 11</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Estatus_Formalizado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Sub_Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.CHK_Valor_Operacion_OK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Pagare_Enganche_Cubierto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Ley_Antilavado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Chk_Pagares_Fin_Info_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Nmero_de_Credito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Importe_Escritura__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Gasos_Notariales__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Tipo_Credito__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CONTADO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.CHK_Es_Fondo_de_Garantia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Valor_Avaluo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Diferencia_a_Pagar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Estatus_Plan_de_Venta__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Aprobado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR_CRED_ENG_NO_OK</targetReference>
            </connector>
            <label>CREDITO+ENG - NO Ok</label>
        </rules>
        <rules>
            <name>CREDITO_FOND_TODO_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Estatus_Formalizado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Sub_Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.CHK_Valor_Operacion_OK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Recibos_Fondo_Gar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Ley_Antilavado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Chk_Pagares_Fin_Info_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Nmero_de_Credito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Importe_Escritura__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Gasos_Notariales__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Tipo_Credito__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CONTADO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.CHK_Es_Fondo_de_Garantia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Valor_Avaluo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Diferencia_a_Pagar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Estatus_Plan_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprobado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR_CRED_FOND_Todo_Ok</targetReference>
            </connector>
            <label>CREDITO+FOND - TODO OK</label>
        </rules>
        <rules>
            <name>CREDITO_FOND_NO_Ok</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 12 OR 13 OR 14) AND 10 AND 11</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Estatus_Formalizado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Sub_Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.CHK_Valor_Operacion_OK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Recibos_Fondo_Gar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Ley_Antilavado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Chk_Pagares_Fin_Info_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Nmero_de_Credito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Importe_Escritura__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Gasos_Notariales__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Tipo_Credito__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CONTADO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.CHK_Es_Fondo_de_Garantia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Valor_Avaluo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Diferencia_a_Pagar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Estatus_Plan_de_Venta__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Aprobado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR_CRED_FOND_NO_OK</targetReference>
            </connector>
            <label>CREDITO+FOND - NO Ok</label>
        </rules>
        <rules>
            <name>Ya_tiene_Validaci_n_Comercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Sub_Estatus_Proceso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APROBADO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ya_se_valido_antes</targetReference>
            </connector>
            <label>Ya tiene Validación Comercial</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FechaActual</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Cobranza Comercial - Validación {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cobranza Comercial - Validación</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obtiene_Datos_de_Cobranza_Comercial</name>
        <label>Obtiene Datos de Cobranza Comercial</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Se_puede_hacer_la_Validacion_Comercial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cobranza_Comercial__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CONTADO_Actualiza_Datos_CC</name>
        <label>CONTADO - Actualiza Datos CC</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estatus_de_Aprobaci_n__c</field>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Estatus_Proceso__c</field>
            <value>
                <stringValue>APROBADO</stringValue>
            </value>
        </inputAssignments>
        <object>Cobranza_Comercial__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>CREDITO_ENGANCHE_Actualiza_Datos_CC</name>
        <label>CREDITO+ENGANCHE - Actualiza Datos CC</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estatus_de_Aprobaci_n__c</field>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Estatus_Proceso__c</field>
            <value>
                <stringValue>APROBADO</stringValue>
            </value>
        </inputAssignments>
        <object>Cobranza_Comercial__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>CREDITO_FONDO_Actualiza_Datos_CC</name>
        <label>CREDITO +FONDO - Actualiza Datos CC</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estatus_de_Aprobaci_n__c</field>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Estatus_Proceso__c</field>
            <value>
                <stringValue>APROBADO</stringValue>
            </value>
        </inputAssignments>
        <object>Cobranza_Comercial__c</object>
    </recordUpdates>
    <screens>
        <name>No_estan_completas_las_validaciones</name>
        <label>No estan completas las validaciones</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeNoActualiza</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(231, 14, 14);&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001Xsfj?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;warning icon.jpg&quot;&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(231, 14, 14);&quot;&gt;No es posible realizar la validación comercial del registro de cobranza comercial:  {!Obtiene_Datos_de_Cobranza_Comercial.Name}. Existen validaciones que estan pendientes.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(231, 14, 14);&quot;&gt;Por favor revíse la sección de validaciones en el registro de titulación.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Aceptar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR_CONTADO_CHKs_NO_OK</name>
        <label>SCR_CONTADO_CHKs_NO_OK</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SCR01_Titulo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Validación Comercial&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SCR01_Mensaje</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;Tipo de Crédito - {!Obtiene_Datos_de_Cobranza_Comercial.Tipo_Credito__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;Revise los mensajes de error que se presentan a continuación, ya que el registro de cobranza comercial no cumple con los criterios para realizar la validación comercial.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProcesoVentaFormalizado</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m0Ax?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt;   El Proceso de Venta No esta en etapa &quot;Formalizado&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Estatus_Formalizado__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SubestatusEnProgreso</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m0B2?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; El Subestatus del Proceso no esta en etapa &quot;En Progreso&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Sub_Estatus__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CheckValorOperacion</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m0B7?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; El Valor &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Escritura&lt;/span&gt; no coincide con la suma de Pagares y el &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Importe&lt;/span&gt; Escritura&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.CHK_Valor_Operacion_OK__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CheckEngancheCubierto</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m2Ig?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; Los pagos no cubren la cantidad del pagaré enganche&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Pagare_Enganche_Cubierto__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CheckLeyAntilavado</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m0BC?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; No se ha realizado la revisión de &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&quot;Ley Antilavado&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Se_Ejecuto_Validacion_Ley_Antilavado__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CheckLeyAntilavadoBloqueado</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m0BH?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; No cumple con la revisión de &quot;Ley Antilavado&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Proceso_Antilavado__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CheckValorEscritura</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m0BM?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; No se encuentra el Importe de la Escritura&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Importe_Escritura__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>GastosNotariales</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m12a?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; Existe un pagaré de gastos notariales, gastos de avalúo ó de crédito directo&amp;nbsp;que no esta cubierto con una nota de crédito.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Gasos_Notariales__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CheckAvaluo</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m16f?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; No se encuentra el &lt;span style=&quot;color: rgb(68, 68, 68); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Importe de Avalúo&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Valor_Avaluo__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CheckDiferenciaPagar</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m194?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; La diferencia a pagar es mayor que las notas de crédito de bonificación. Es necesario realizar una simulación&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Diferencia_a_Pagar__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PlanVentaNoAprobadoOriginal1</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mJhJ?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; El Plan de Venta no esta &quot;Aprobado&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Estatus_Plan_de_Venta__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Aprobado</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Tipo_de_Plan_de_Venta__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Original</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PlanVentaNoAprobadoReestructura1</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mJhO?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; El Plan de Venta Reestructura no esta &quot;Aprobado&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Estatus_Plan_de_Venta__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Aprobado</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Tipo_de_Plan_de_Venta__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Reestructura</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Cancelar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR_CONTADO_Validaci_n_Comercial</name>
        <label>SCR_CONTADO_ Validación_Comercial</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CONTADO_Actualiza_Datos_CC</targetReference>
        </connector>
        <fields>
            <name>MensajeConfirmacion</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001Xsfo?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Ok Icon.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Todo esta en órden&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Tipo de crédito: {!Obtiene_Datos_de_Cobranza_Comercial.Tipo_Credito__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 26px; color: rgb(199, 191, 192);&quot;&gt;Se va a realizar la validación comercial para el registro de cobranza comercial:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 26px; color: rgb(199, 191, 192);&quot;&gt;{!Obtiene_Datos_de_Cobranza_Comercial.Name} &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 26px; color: rgb(199, 191, 192);&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Aceptar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR_CRED_ENG_NO_OK</name>
        <label>SCR_CRED+ENG_NO_OK</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_SCR01_Titulo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Validación Comercial&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_SCR01_Mensaje</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;Tipo de Crédito - {!Obtiene_Datos_de_Cobranza_Comercial.Tipo_Credito__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;Revise los mensajes de error que se presentan a continuación, ya que el registro de cobranza comercial no cumple con los criterios para realizar la validación comercial.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_ProcesoVentaFormalizado</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m0Ax?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt;   El Proceso de Venta No esta en etapa &quot;Formalizado&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Estatus_Formalizado__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_SubestatusEnProgreso</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m0B2?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; El Subestatus del Proceso no esta en etapa &quot;En Progreso&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Sub_Estatus__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_CheckValorOperacion</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m0B7?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; El Valor &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Escritura&lt;/span&gt; no coincide con la suma de Pagares y el &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Importe &lt;/span&gt;Escritura&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.CHK_Valor_Operacion_OK__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CHK_PAGARE_ENGANCHE</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m0CU?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; Los pagos no cubren la cantidad del pagaré enganche&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Pagare_Enganche_Cubierto__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_CheckLeyAntilavado</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m0BC?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; No se ha realizado la revisión de &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&quot;Ley Antilavado&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Se_Ejecuto_Validacion_Ley_Antilavado__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_CheckLeyAntilavadoBloqueado</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m0BH?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; No cumple con la revisión de &quot;Ley Antilavado&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Proceso_Antilavado__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>chk_Info_Financiera</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m0CZ?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; La información de la o las financieras no esta completa (Financiera, Producto de la financiera, número de crédito,  fecha de autorización del crédito y/o monto de crédito definitivo)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Chk_Pagares_Fin_Info_Complete__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_CheckValorEscritura</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m0BM?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; No se encuentra el &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Importe &lt;/span&gt;de la Escritura&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Importe_Escritura__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CHK_Gastos_Notariales</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m0Cj?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; Los pagarés de gastos notariales no coinciden con el valor ó no existen las notas de crédito correspondientes.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Gasos_Notariales__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CheckAvaluo2</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m16k?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; No se encuentra el Importe del Avalúo&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Valor_Avaluo__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CheckDiferenciaPagar2</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m1Cw?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot; style=&quot;color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &#39;Segoe UI&#39;, Roboto, Helvetica, Arial, sans-serif, &#39;Apple Color Emoji&#39;, &#39;Segoe UI Emoji&#39;, &#39;Segoe UI Symbol&#39;);&quot;&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;La diferencia a pagar es mayor que las notas de crédito de bonificación. Es necesario realizar una simulación.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Diferencia_a_Pagar__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PlanVentaNoAprobadoOriginal</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mJgk?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; El Plan de Venta no esta &quot;Aprobado&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Estatus_Plan_de_Venta__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Aprobado</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Tipo_de_Plan_de_Venta__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Original</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PlanVentaNoAprobadoReestructura</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mJgp?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; El Plan de Venta Reestructura no esta &quot;Aprobado&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Estatus_Plan_de_Venta__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Aprobado</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Tipo_de_Plan_de_Venta__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Reestructura</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Cancelar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR_CRED_ENG_TodoOK</name>
        <label>SCR_CRED+ENG_ TodoOK</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CREDITO_ENGANCHE_Actualiza_Datos_CC</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_MensajeConfirmacion</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001Xsfo?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Ok Icon.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Todo esta en órden&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Tipo de crédito: {!Obtiene_Datos_de_Cobranza_Comercial.Tipo_Credito__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 26px; color: rgb(199, 191, 192);&quot;&gt;Se va a realizar la validación comercial para el registro de cobranza comercial:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 26px; color: rgb(199, 191, 192);&quot;&gt;{!Obtiene_Datos_de_Cobranza_Comercial.Name} &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 26px; color: rgb(199, 191, 192);&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Aceptar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR_CRED_FOND_NO_OK</name>
        <label>SCR_CRED+FOND_NO_OK</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_SCR01_Titulo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Validación Comercial&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_SCR01_Mensaje</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;Tipo de Crédito - {!Obtiene_Datos_de_Cobranza_Comercial.Tipo_Credito__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;Revise los mensajes de error que se presentan a continuación, ya que el registro de cobranza comercial no cumple con los criterios para realizar la validación comercial.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_ProcesoVentaFormalizado</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m0Ax?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt;   El Proceso de Venta No esta en etapa &quot;Formalizado&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Estatus_Formalizado__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_SubestatusEnProgreso</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m0B2?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; El Subestatus del Proceso no esta en etapa &quot;En Progreso&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Sub_Estatus__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_CheckValorOperacion</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m0B7?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; El Valor Escritura no coincide con la suma de Pagares y el &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Importe&lt;/span&gt; Escritura&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.CHK_Valor_Operacion_OK__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CHK_PAGARE_FONDO</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m0CU?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; Los pagos no cubren la cantidad del pagaré fondo de garantía&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Recibos_Fondo_Gar__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_CheckLeyAntilavado</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m0BC?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; No se ha realizado la revisión de &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&quot;Ley Antilavado&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Se_Ejecuto_Validacion_Ley_Antilavado__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_CheckLeyAntilavadoBloqueado</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m0BH?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; No cumple con la revisión de &quot;Ley Antilavado&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Proceso_Antilavado__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_chk_Info_Financiera</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m0CZ?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; La información de la o las financieras no esta completa (Financiera, Producto de la financiera, número de crédito,  fecha de autorización del crédito y/o monto de crédito definitivo)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_CheckValorEscritura</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m0BM?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; No se encuentra el &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Importe &lt;/span&gt;de la Escritura&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Importe_Escritura__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CheckAvaluo3</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m16p?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; No se encuentra el importe del avalúo&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Valor_Avaluo__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CheckDiferenciaPagar3</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m1D6?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;La diferencia a pagar es mayor que las notas de crédito de bonificación. Es necesario realizar una simulación.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Check_Diferencia_a_Pagar__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PlanVentaNoAprobadoOriginal3</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mJh9?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; El Plan de Venta no esta &quot;Aprobado&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Estatus_Plan_de_Venta__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Aprobado</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Tipo_de_Plan_de_Venta__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Original</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PlanVentaNoAprobadoReestructura3</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mJhE?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; El Plan de Venta Reestructura no esta &quot;Aprobado&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Estatus_Plan_de_Venta__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Aprobado</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Cobranza_Comercial.Tipo_de_Plan_de_Venta__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Reestructura</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Cancelar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR_CRED_FOND_Todo_Ok</name>
        <label>SCR_CRED+FOND_Todo_Ok</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CREDITO_FONDO_Actualiza_Datos_CC</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_MensajeConfirmacion</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001Xsfo?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Ok Icon.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Todo esta en órden&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Tipo de crédito: {!Obtiene_Datos_de_Cobranza_Comercial.Tipo_Credito__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 26px; color: rgb(199, 191, 192);&quot;&gt;Se va a realizar la validación comercial para el registro de cobranza comercial:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 26px; color: rgb(199, 191, 192);&quot;&gt;{!Obtiene_Datos_de_Cobranza_Comercial.Name} &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 26px; color: rgb(199, 191, 192);&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Aceptar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ya_se_valido_antes</name>
        <label>Ya se validó antes</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_MensajeNoActualiza</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001Y3Iv?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Equis.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(157, 149, 149);&quot;&gt;La validación comercial del registro de cobranza comercial  &lt;/strong&gt;&lt;strong style=&quot;color: rgb(157, 149, 149); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!Obtiene_Datos_de_Cobranza_Comercial.Name}&lt;/strong&gt;&lt;strong style=&quot;color: rgb(157, 149, 149); font-size: 26px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;color: rgb(157, 149, 149);&quot;&gt; ya fue realizada&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Aceptar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtiene_Datos_de_Cobranza_Comercial</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
