unpackaged/main/default/flows/Cobranza_Comercial_Solicitor_Restructura.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Asigna_ListasPrecio</name>
        <label>Asigna_ListasPrecio</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>VarLP_BON</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Plan_De_Ventas.Lista_de_Precios_Bonificacion_Reciente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLP_FIN_ENGANCHE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Plan_De_Ventas.Lista_de_Precios_Financiamien_Reciente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLP_PAQ</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Plan_De_Ventas.Lista_de_Precios_Paquetes_Reciente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLP_PROM_PRECIO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Plan_De_Ventas.Lista_de_Precios_Promo_Precio_Reciente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLP_PROM_VTA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Plan_De_Ventas.Lista_de_Precios_PromocionesV_Reciente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLP_REGMKT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Plan_De_Ventas.Lista_de_Precios_RegalosMKT_Reciente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLP_VIVIENDA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Plan_De_Ventas.Lista_de_Precios_Vivienda_Reciente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLP_GENERICA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Plan_De_Ventas.Lista_de_Precios_Otros_Gastos_Reciente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarVivienda_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Plan_De_Ventas.Vivienda__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Plan_De_Venta_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignaProductoCollection</name>
        <label>AsignaProductoCollection</label>
        <locationX>264</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>VarNuevoProductoPV_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarNuevoProductoPV_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignaVeloresPorProducto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignaProductoSingle</name>
        <label>AsignaProductoSingle</label>
        <locationX>264</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>VarNuevoProductoPV_Single.Plan_de_Venta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarNuevoPlanDeVentaId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNuevoProductoPV_Single.Cantidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AsignaVeloresPorProducto.Cantidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNuevoProductoPV_Single.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarBlankTextValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNuevoProductoPV_Single.Lista_de_Precios__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AsignaVeloresPorProducto.Lista_de_Precios__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNuevoProductoPV_Single.Producto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AsignaVeloresPorProducto.Producto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNuevoProductoPV_Single.Precio_Unitario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AsignaVeloresPorProducto.Precio_Unitario__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNuevoProductoPV_Single.Tipo_de_Producto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AsignaVeloresPorProducto.Tipo_de_Producto__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignaProductoCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Plan_De_Venta_Record</name>
        <label>Copy Plan De Venta Record</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>PlanDeVentaToBeCloned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Plan_De_Ventas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlanDeVentaToBeCloned.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlanDeVentaToBeCloned.Vivienda__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarVivienda_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlanDeVentaToBeCloned.Lista_de_Precios_Bonificacion_Reciente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLP_BON</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlanDeVentaToBeCloned.Lista_de_Precios_Financiamien_Reciente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLP_FIN_ENGANCHE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlanDeVentaToBeCloned.Lista_de_Precios_Paquetes_Reciente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLP_PAQ</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlanDeVentaToBeCloned.Lista_de_Precios_Promo_Precio_Reciente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLP_PROM_PRECIO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlanDeVentaToBeCloned.Lista_de_Precios_PromocionesV_Reciente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLP_PROM_VTA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlanDeVentaToBeCloned.Lista_de_Precios_RegalosMKT_Reciente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLP_REGMKT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlanDeVentaToBeCloned.Lista_de_Precios_Vivienda_Reciente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLP_VIVIENDA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlanDeVentaToBeCloned.Lista_de_Precios_Vivienda__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLP_VIVIENDA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlanDeVentaToBeCloned.Lista_de_Precios_Otros_Gastos_Reciente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLP_GENERICA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlanDeVentaToBeCloned.Lista_de_Precios_Casa_Muestra_Reciente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLP_GENERICA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlanDeVentaToBeCloned.Lista_de_Precios_Complementos_Reciente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLP_GENERICA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlanDeVentaToBeCloned.ByPass_NuevaReestructura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlanDeVentaToBeCloned.Estatus_Plan_de_venta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En Progreso</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlanDeVentaToBeCloned.Tipo_de_Plan_de_Venta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reestructura</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlanDeVentaToBeCloned.Enviar_Rutas_a_Aprobacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlanDeVentaToBeCloned.FlowOverride__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlanDeVentaToBeCloned.Chk_Formalixacion_Informaci_n_Completa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Before_Cloning</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NuevoPlanDeVentaId</name>
        <label>NuevoPlanDeVentaId</label>
        <locationX>176</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>VarNuevoPlanDeVentaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlanDeVentaToBeCloned.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignaVeloresPorProducto</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Valida_si_Encontr_Productos</name>
        <label>Valida si Encontró Productos</label>
        <locationX>176</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <targetReference>BorraOLIs_Oportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_hay_Productos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OpportunityProductVivienda.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BorraOLIs_Oportunidad</targetReference>
            </connector>
            <label>Si hay Productos</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Cobranza Comercial - Solicitor Restructure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cobranza Comercial - Solicitor Restructura</label>
    <loops>
        <name>AsignaVeloresPorProducto</name>
        <label>AsignaVeloresPorProducto</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <collectionReference>GetProductos_PdV</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsignaProductoSingle</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateOpportunidad</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Clone_Plan_De_Venta</name>
        <label>Clone Plan De Venta</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>GetPlanDeVentas_AfterClone</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_After_Cloning</targetReference>
        </faultConnector>
        <inputReference>PlanDeVentaToBeCloned</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreaProductosEnPlanDeVenta</name>
        <label>CreaProductosEnPlanDeVenta</label>
        <locationX>176</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>CreaViviendaProductEnOpp</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>CreaViviendaProductEnOpp</targetReference>
        </faultConnector>
        <inputReference>VarNuevoProductoPV_Collection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreaViviendaProductEnOpp</name>
        <label>CreaViviendaProductEnOpp</label>
        <locationX>176</locationX>
        <locationY>2354</locationY>
        <connector>
            <targetReference>ActualizaCobranzaComercial</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ActualizaCobranzaComercial</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_OpportunityProductVivienda.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_OpportunityProductVivienda.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Get_OpportunityProductVivienda.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Producto__c</field>
            <value>
                <stringValue>Vivienda</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Get_OpportunityProductVivienda.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vivienda__c</field>
            <value>
                <elementReference>Get_OpportunityProductVivienda.Vivienda__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>BorraOLIs_Oportunidad</name>
        <label>BorraOLIs_Oportunidad</label>
        <locationX>176</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>CreaProductosEnPlanDeVenta</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>CreaProductosEnPlanDeVenta</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCobranzaComercial.Proceso_Venta__c</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_OpportunityProductVivienda</name>
        <label>Get:OpportunityProductVivienda</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asigna_ListasPrecio</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Asigna_ListasPrecio</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Plan_De_Ventas.Oportunidad__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vivienda</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Plan_De_Ventas</name>
        <label>Get Plan De Ventas</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProductos_PdV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCobranzaComercial.Plan_Venta__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Plan_de_Venta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCobranzaComercial</name>
        <label>GetCobranzaComercial</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Plan_De_Ventas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cobranza_Comercial__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPlanDeVentas_AfterClone</name>
        <label>GetPlanDeVentas_AfterClone</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NuevoPlanDeVentaId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cobranza_Comercial__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Plan_de_Venta__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProductos_PdV</name>
        <label>GetProductos_PdV</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetVivienda</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GetVivienda</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plan_de_Venta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Plan_De_Ventas.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Producto_de_Plan_de_Venta__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVivienda</name>
        <label>GetVivienda</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OpportunityProductVivienda</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCobranzaComercial.Vivienda__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vivienda__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Estatus_Plan_de_Venta</name>
        <label>Actualiza Estatus Plan de Venta</label>
        <locationX>176</locationX>
        <locationY>2786</locationY>
        <connector>
            <targetReference>Actualiza_Campos_PdV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarNuevoPlanDeVentaId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Chk_Formalixacion_Informaci_n_Completa__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estatus_Plan_de_venta__c</field>
            <value>
                <stringValue>En Progreso</stringValue>
            </value>
        </inputAssignments>
        <object>Plan_de_Venta__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizaCobranzaComercial</name>
        <label>ActualizaCobranzaComercial</label>
        <locationX>176</locationX>
        <locationY>2462</locationY>
        <connector>
            <targetReference>ActualizaTitulacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Plan_Venta__c</field>
            <value>
                <elementReference>VarNuevoPlanDeVentaId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_de_Venta_Original__c</field>
            <value>
                <elementReference>Get_Plan_De_Ventas.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vivienda__c</field>
            <value>
                <elementReference>GetVivienda.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Cobranza_Comercial__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizaTitulacion</name>
        <label>ActualizaTitulacion</label>
        <locationX>176</locationX>
        <locationY>2570</locationY>
        <connector>
            <targetReference>After_Cloning</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCobranzaComercial.Titulacion__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Plan_de_Venta__c</field>
            <value>
                <elementReference>VarNuevoPlanDeVentaId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vivienda__c</field>
            <value>
                <elementReference>VarVivienda_id</elementReference>
            </value>
        </inputAssignments>
        <object>Titulacion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>QuitaVivenda_PdV_Original</name>
        <label>QuitaVivenda_PdV_Original</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Clone_Plan_De_Venta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Plan_De_Ventas.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FlowOverride__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vivienda__c</field>
            <value>
                <elementReference>VarViviendaBlank</elementReference>
            </value>
        </inputAssignments>
        <object>Plan_de_Venta__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpportunidad</name>
        <label>UpdateOpportunidad</label>
        <locationX>176</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Valida_si_Encontr_Productos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCobranzaComercial.Proceso_Venta__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Existe_Reestructura__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_de_Venta__c</field>
            <value>
                <elementReference>VarNuevoPlanDeVentaId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValidationBypassDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>After_Cloning</name>
        <label>After Cloning</label>
        <locationX>176</locationX>
        <locationY>2678</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Actualiza_Estatus_Plan_de_Venta</targetReference>
        </connector>
        <fields>
            <name>Mensaje_Exito</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001lsc7?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Ok Icon.jpg&quot; style=&quot;color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &#39;Segoe UI&#39;, Roboto, Helvetica, Arial, sans-serif, &#39;Apple Color Emoji&#39;, &#39;Segoe UI Emoji&#39;, &#39;Segoe UI Symbol&#39;); margin-bottom: var(--lwc-spacingSmall,0.75rem);&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Se creo un Plan de Venta con toda la información del original. Ahora puede visitar el registro y hacer los ajustes necesarios para completar la reestrctura. &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/lightning/r/Plan_de_Venta__c/{!VarNuevoPlanDeVentaId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;/lightning/r/Plan_de_Venta__c/{!VarNuevoPlanDeVentaId}/view&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finalizar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Before_Cloning</name>
        <label>Before Cloning</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>QuitaVivenda_PdV_Original</targetReference>
        </connector>
        <fields>
            <name>Mensaje01</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001lsbs?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Cambio.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(150, 150, 150);&quot;&gt;Esta solicitando reestructurar el plan de venta.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(150, 150, 150);&quot;&gt; ¿Desea continuar?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continuar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_After_Cloning</name>
        <label>Copy 1 of After Cloning</label>
        <locationX>1232</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensaje_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001lscC?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;warning icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Seprodujo un error y no fue posible crear el plan de venta de reestructura. &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Contacte a su Administrador.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finalizar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCobranzaComercial</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Actualiza_Campos_PdV</name>
        <label>Actualiza Campos PdV</label>
        <locationX>176</locationX>
        <locationY>2894</locationY>
        <flowName>Plan_de_Venta_Actualiza_Campos_via_SubFlow_2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>VarNuevoPlanDeVentaId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentItem_FiltraPlanDeVentaVigente</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plan_de_Venta__c</objectType>
    </variables>
    <variables>
        <name>PlanDeVentaToBeCloned</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plan_de_Venta__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarBlankTextValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarLP_BON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarLP_FIN_ENGANCHE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarLP_GENERICA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarLP_PAQ</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarLP_PROM_PRECIO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarLP_PROM_VTA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarLP_REGMKT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarLP_VIVIENDA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarNuevoPlanDeVentaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarNuevoProductoPV_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Producto_de_Plan_de_Venta__c</objectType>
    </variables>
    <variables>
        <name>VarNuevoProductoPV_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Producto_de_Plan_de_Venta__c</objectType>
    </variables>
    <variables>
        <name>VarVivienda_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Variable en Blanco para eliminar la vivenda del Plan de Venta</description>
        <name>VarViviendaBlank</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
