unpackaged/main/default/flows/COBRANZA_Genera_Pago.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Asigna_Variables</name>
        <label>Asigna Variables</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>VarPlazo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_Valores_de_Cobranza_Comercial.Plazo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFrecuencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_Valores_de_Cobranza_Comercial.Frecuencia__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFechaVencimiento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_Valores_de_Cobranza_Comercial.Fecha_Inicio_de_Financiamiento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFechaInicioPago</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_Valores_de_Cobranza_Comercial.Fecha_Inicio_de_Financiamiento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarImporteFinanciemiento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_Valores_de_Cobranza_Comercial.Importe_Financiamiento__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pago_SCR_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Limpia_Variables</name>
        <label>Limpia Variables</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>VarFechaInicioPago</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFechaVencimiento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPlazo</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFrecuencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mensual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtiene_Valores_de_Cobranza_Comercial</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>VarPicklistFrecuencia</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Frecuencia__c</picklistField>
        <picklistObject>Cobranza_Comercial__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>COBRANZA - Genera Pago {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cobranza_Comercial - Genera Pago</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Pago</name>
        <label>Crea Pago</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>PantallaExito</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Clasificacion__c</field>
            <value>
                <elementReference>VarPago.Clasificacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cliente__c</field>
            <value>
                <elementReference>Obtiene_Valores_de_Cobranza_Comercial.Cliente__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cobranza_Comercial__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estatus_del_Pago__c</field>
            <value>
                <stringValue>Abierto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Pago__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>Importe_Pago</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metodo_de_Pago__c</field>
            <value>
                <elementReference>VarPago.Metodo_de_Pago__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_del_Pago__c</field>
            <value>
                <stringValue>Recibo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Pago__c</field>
            <value>
                <elementReference>VarPago.Tipo_de_Pago__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Titulacion__c</field>
            <value>
                <elementReference>Obtiene_Valores_de_Cobranza_Comercial.Titulacion__c</elementReference>
            </value>
        </inputAssignments>
        <object>Pago__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obtiene_Valores_de_Cobranza_Comercial</name>
        <label>Obtiene Valores de Cobranza Comercial</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asigna_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cobranza_Comercial__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Pago_SCR_01</name>
        <label>Pago_SCR_01</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Crea_Pago</targetReference>
        </connector>
        <fields>
            <name>Pago_SCR_01_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pago_SCR_01_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pagos_SCR01_Title01</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 36px;&quot;&gt;Pagos&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pago_SCR_01_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pagos_SCR01_Title02</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 36px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;                         &lt;/strong&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(150, 150, 150);&quot;&gt;{!$Flow.CurrentDate}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Pago_SCR_01_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pago_SCR_01_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VarPago.Clasificacion__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pago_SCR_01_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VarPago.Tipo_de_Pago__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pago_SCR_01_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VarPago.Metodo_de_Pago__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Importe_Pago</name>
                    <dataType>Currency</dataType>
                    <fieldText>Importe</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Generar Pago</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PantallaError</name>
        <label>PantallaError</label>
        <locationX>440</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Exito</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001lcIo?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;warning icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(150, 150, 150);&quot;&gt;&lt;em&gt;No fue posible crear el pago a cuenta&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cerrar Ventana</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PantallaExito</name>
        <label>PantallaExito</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Exito</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001lNzm?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Ok Icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(150, 150, 150);&quot;&gt;&lt;em&gt;El pago a cuenta se creó con éxito.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Limpia_Variables</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarCountLoop</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarFechaInicioPago</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarFechaVencimiento</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarFrecuencia</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarImporteFinanciemiento</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarListaPagarePostVenta</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Documento__c</objectType>
    </variables>
    <variables>
        <name>VarMultiplicadorFechaVencimiento</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarPago</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pago__c</objectType>
    </variables>
    <variables>
        <name>VarPlazo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarResultadoLoop</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
