unpackaged/main/default/flows/Confirma_Escritura.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Se_puede_Confirmar</name>
        <label>Se puede Confirmar?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_estan_completas_las_validaciones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_tiene_todos_los_Checks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Titulacion.Check_Datos_Escritura__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Titulacion.Check_Contado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Titulacion.Check_Credito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Titulacion.Check_Sub_Estatus_del_Proceso_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Titulacion.Check_Ley_Antilavado_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Titulacion.Check_Importe_Escritura_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Titulacion.Check_Formalizacion_Registrada_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Titulacion.Check_Formalizacion_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Titulacion.Check_Promoci_n_de_Precio_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Titulacion.Escritura_Confirmada_por_Titulador__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmar_Escritura</targetReference>
            </connector>
            <label>Si, tiene todos los Checks</label>
        </rules>
        <rules>
            <name>Ya_se_Confirmo_Antes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Titulacion.Escritura_Confirmada_por_Titulador__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ya_se_valido_antes</targetReference>
            </connector>
            <label>Ya se Confirmó Antes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FechaActual</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Confirma Escritura {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Confirma Escritura</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obtiene_Datos_de_Titulacion</name>
        <label>Obtiene Datos de Titulación</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Se_puede_Confirmar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Titulacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Titulacion</name>
        <label>Actualiza Titulación</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Escritura_Confirmada_por_Titulador__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estatus_Proceso__c</field>
            <value>
                <stringValue>Escriturado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Estatus_del_Proceso__c</field>
            <value>
                <stringValue>Por Entregar</stringValue>
            </value>
        </inputAssignments>
        <object>Titulacion__c</object>
    </recordUpdates>
    <screens>
        <name>Confirmar_Escritura</name>
        <label>Confirmar Escritura</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancelar</backButtonLabel>
        <connector>
            <targetReference>Actualiza_Titulacion</targetReference>
        </connector>
        <fields>
            <name>MensajeConfirmacion</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001Xsfo?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Ok Icon.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Todo esta completo y validado&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 26px; color: rgb(199, 191, 192);&quot;&gt;La Escritura {!Obtiene_Datos_de_Titulacion.Numero_de_Escritura__c} se va a confirmar &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 26px; color: rgb(199, 191, 192);&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Aceptar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_estan_completas_las_validaciones</name>
        <label>No estan completas las validaciones</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeNoActualiza</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(231, 14, 14);&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001Xsfj?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;warning icon.jpg&quot;&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(231, 14, 14);&quot;&gt;No es posible confirmar la escritura {!Obtiene_Datos_de_Titulacion.Numero_de_Escritura__c}.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(231, 14, 14);&quot;&gt;Por favor revíse la sección de validaciones en el registro de titulación para saber que falta.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Aceptar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ya_se_valido_antes</name>
        <label>Ya se validó antes</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_MensajeNoActualiza</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001Y3Iv?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Equis.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(153, 149, 149);&quot;&gt;La escritura {!Obtiene_Datos_de_Titulacion.Numero_de_Escritura__c} &lt;/strong&gt;&lt;strong style=&quot;color: rgb(153, 149, 149); background-color: rgb(255, 255, 255);&quot;&gt;ya fue confirmada anteriormente, no es neceario volver a confirmarla.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Aceptar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtiene_Datos_de_Titulacion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
