unpackaged/main/default/flows/Confirmacion_Escritura_Legal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Integracion_Facturas_EBS</name>
        <label>Integracion Facturas EBS</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>Integracion_Facturas_EBS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ClaveRequisicion</name>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PlanVentaId</name>
            <value>
                <elementReference>Obtiene_Datos_de_Titulacion.Plan_de_Venta__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Se_puede_Confirmar_por_Legal</name>
        <label>Se puede Confirmar por Legal?</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_estan_completas_las_validaciones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_ya_cuenta_con_confirmacion_Titulador</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Titulacion.Escritura_Confirmada_por_Titulador_BIS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Titulacion.Confirmacion_Legal__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Confirmada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Titulacion.Sub_Estatus_del_Proceso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Firmas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Titulacion.Check_Proceso_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmar_Escritura</targetReference>
            </connector>
            <label>Si, ya cuenta con confirmación Titulador</label>
        </rules>
        <rules>
            <name>Ya_se_Confirmo_Antes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Titulacion.Confirmacion_Legal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ya_se_valido_antes</targetReference>
            </connector>
            <label>Ya se Confirmó Antes</label>
        </rules>
        <rules>
            <name>Falta_Informaci_n</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Titulacion.Escritura_Confirmada_por_Titulador_BIS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Titulacion.Sub_Estatus_del_Proceso__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>En Firmas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Titulacion.Check_Proceso_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR_Falta_Info</targetReference>
            </connector>
            <label>Falta Información</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FechaActual</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Confirmación Legal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Confirmación Escritura Legal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>NewEntryOn_UST</name>
        <label>NewEntryOn_UST</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>UpdateVivienda</targetReference>
        </connector>
        <inputAssignments>
            <field>Check_Titulacion__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Id_Proceso_AR__c</field>
            <value>
                <elementReference>Obtiene_Datos_de_Titulacion.Opp_Id_Proceso_AR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Id__c</field>
            <value>
                <elementReference>Obtiene_Datos_de_Titulacion.Proceso_de_Venta_Id_TextVar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proceso_de_Venta__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registro_de_Titulacion__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Titulacion_Id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_del_Estatus__c</field>
            <value>
                <stringValue>Escriturado</stringValue>
            </value>
        </inputAssignments>
        <object>Update_Statging_Table__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obtiene_Datos_de_Titulacion</name>
        <label>Obtiene Datos de Titulación</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Se_puede_Confirmar_por_Legal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Titulacion__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Numero_de_Escritura__c</queriedFields>
        <queriedFields>Confirmacion_Legal__c</queriedFields>
        <queriedFields>Sub_Estatus_del_Proceso__c</queriedFields>
        <queriedFields>Check_Proceso_de_Venta__c</queriedFields>
        <queriedFields>Escritura_Confirmada_por_Titulador_BIS__c</queriedFields>
        <queriedFields>Proceso_de_Venta_Id_TextVar__c</queriedFields>
        <queriedFields>Proceso_de_Venta_Stage_TextVar__c</queriedFields>
        <queriedFields>Vivienda__c</queriedFields>
        <queriedFields>Sub_Estado__c</queriedFields>
        <queriedFields>Plan_de_Venta__c</queriedFields>
        <queriedFields>Opp_Id_Proceso_AR__c</queriedFields>
        <queriedFields>Tipo_de_Credito_Formula__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Titulacion</name>
        <label>Actualiza Titulación</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>NewEntryOn_UST</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Confirmacion_Legal__c</field>
            <value>
                <stringValue>Confirmada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Escritura__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Estado__c</field>
            <value>
                <stringValue>Escriturado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Estatus_del_Proceso__c</field>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </inputAssignments>
        <object>Titulacion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateVivienda</name>
        <label>UpdateVivienda</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Integracion_Facturas_EBS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtiene_Datos_de_Titulacion.Vivienda__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estatus_Vivienda__c</field>
            <value>
                <stringValue>Escriturada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estatus__c</field>
            <value>
                <stringValue>14</stringValue>
            </value>
        </inputAssignments>
        <object>Vivienda__c</object>
    </recordUpdates>
    <screens>
        <name>Confirmar_Escritura</name>
        <label>Confirmar Escritura</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Actualiza_Titulacion</targetReference>
        </connector>
        <fields>
            <name>MensajeConfirmacion</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001Xsfo?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Ok Icon.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Todo esta en órden&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(199, 191, 192); font-size: 26px;&quot;&gt;Se va a realizar la confirmación legal para la escritura:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(199, 191, 192); font-size: 26px;&quot;&gt;{!Obtiene_Datos_de_Titulacion.Numero_de_Escritura__c} &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(199, 191, 192); font-size: 26px;&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Aceptar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_estan_completas_las_validaciones</name>
        <label>No estan completas las validaciones</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeNoActualiza</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(231, 14, 14);&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001Xsfj?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;warning icon.jpg&quot;&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(231, 14, 14);&quot;&gt;No es posible realizar la confirmación legal de la escritura {!Obtiene_Datos_de_Titulacion.Numero_de_Escritura__c}. Existen validaciones que estan pendientes.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(231, 14, 14);&quot;&gt;Por favor revíse la sección de validaciones en el registro de titulación.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Aceptar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR_Falta_Info</name>
        <label>SCR_Falta Info</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TituloPrincipal</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Confirmación Legal&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Titulo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif;&quot;&gt;Tipo de Crédito - {!Obtiene_Datos_de_Titulacion.Tipo_de_Credito_Formula__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif;&quot;&gt;Revise los mensajes de error que se presentan a continuación, ya que el registro de cobranza comercial no cumple con los criterios para realizar la validación comercial.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Espaciador</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NoConfirmadaTitulador</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m3A0?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; No se tiene registrada la confirmación de la escritura por parte del área de titulación.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Titulacion.Escritura_Confirmada_por_Titulador_BIS__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SubEstatusEnFirmas</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001m39v?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; El Subeestatus del Proceso de Titulación no esta en etapa &quot;En Firmas&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Titulacion.Sub_Estatus_del_Proceso__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>En Firmas</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NoFormalizado</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mbTz?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ex- No - cross - SMALL.png&quot;&gt; El Proceso de Venta No esta en etapa &quot;Formalizado&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtiene_Datos_de_Titulacion.Check_Formalizacion_Formula__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Cancelar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ya_se_valido_antes</name>
        <label>Ya se validó antes</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_MensajeNoActualiza</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001Y3Iv?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Equis.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(153, 149, 149);&quot;&gt;La confirmación legal de la escritura {!Obtiene_Datos_de_Titulacion.Numero_de_Escritura__c} ya fue realizada&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Aceptar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtiene_Datos_de_Titulacion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
