unpackaged/main/default/flows/Crear_Plan_de_Venta_al_Crear_Proceso_de_Venta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>Fecha_Proyeccion_Escritura</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate},1)</expression>
    </formulas>
    <interviewLabel>Crear Plan de Venta al Crear Proceso de Venta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear Plan de Venta al Crear Proceso de Venta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Plan_de_Venta</name>
        <label>Crear Plan de Venta</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Fecha_Proyeccion_Escritura_Proceso</targetReference>
        </connector>
        <inputAssignments>
            <field>Fecha_Proyeccion_escritura__c</field>
            <value>
                <elementReference>Fecha_Proyeccion_Escritura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Plan_de_Venta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Fecha_Proyeccion_Escritura_Proceso</name>
        <label>Fecha Proyección Escritura</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Fecha_Proyeccion_Escritura</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Crear_Plan_de_Venta</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
