unpackaged/main/default/flows/Crea_Cobranza_Comercial.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Asigna_ID_de_Nueva_Cobranza_Comercial</name>
        <label>Asigna ID de Nueva Cobranza Comercial</label>
        <locationX>176</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>VarCobranzaComercial_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crea_Cobranza_Comercial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualiza_Titulaci_n</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_ID_de_Nueva_Cobranza_Comercial_sin_LP</name>
        <label>Asigna ID de Nueva Cobranza Comercial sin LP</label>
        <locationX>440</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>VarCobranzaComercial_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crea_Cobranza_Comercial_sin_LP_Financiamiento</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Crea Cobranza Comercial {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Cobranza Comercial</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crea_Cobranza_Comercial</name>
        <label>Crea Cobranza Comercial</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Asigna_ID_de_Nueva_Cobranza_Comercial</targetReference>
        </connector>
        <inputAssignments>
            <field>Lista_de_Precios_Financiamien_Reciente__c</field>
            <value>
                <elementReference>GetDatosLP_FinanciamientoPostVenta.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lista_de_Promocion_de_Precio__c</field>
            <value>
                <elementReference>GetDatosPlanVenta.Lista_de_Precios_Promo_Precio_Reciente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GetDatosOpportunity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_Promocion__c</field>
            <value>
                <elementReference>GetDatosLP_PromoPrecio.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_Venta__c</field>
            <value>
                <elementReference>$Record.Plan_de_Venta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_de_Venta_Original__c</field>
            <value>
                <elementReference>$Record.Plan_de_Venta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proceso_Venta__c</field>
            <value>
                <elementReference>$Record.Proceso_de_Venta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promo_Precio_Fecha_Fin__c</field>
            <value>
                <elementReference>GetDatosLP_PromoPrecio.Vigente_Hasta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promo_Precio_Fecha_Inicio__c</field>
            <value>
                <elementReference>GetDatosLP_PromoPrecio.Vigente_Desde__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Titulacion__c</field>
            <value>
                <elementReference>GetDatosOpportunity.Titulacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Operacion_Original__c</field>
            <value>
                <elementReference>GetDatosPlanVenta.Valor_Operacion_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vivienda__c</field>
            <value>
                <elementReference>$Record.Plan_de_Venta__r.Vivienda__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>debugg__c</field>
            <value>
                <stringValue>{!$Flow.CurrentDateTime} - {!GetDatosLP_FinanciamientoPostVenta.Id} - Si entro al proceso de creación con Lista de Financiamiento Post Venta</stringValue>
            </value>
        </inputAssignments>
        <object>Cobranza_Comercial__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crea_Cobranza_Comercial_sin_LP_Financiamiento</name>
        <label>Crea Cobranza Comercial sin LP Financiamiento</label>
        <locationX>440</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Asigna_ID_de_Nueva_Cobranza_Comercial_sin_LP</targetReference>
        </connector>
        <inputAssignments>
            <field>Lista_de_Precios_Financiamien_Reciente__c</field>
            <value>
                <elementReference>GetDatosPlanVenta.Lista_de_Precios_Financiamien_Reciente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_Venta__c</field>
            <value>
                <elementReference>$Record.Plan_de_Venta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_de_Venta_Original__c</field>
            <value>
                <elementReference>$Record.Plan_de_Venta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proceso_Venta__c</field>
            <value>
                <elementReference>$Record.Proceso_de_Venta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Titulacion__c</field>
            <value>
                <elementReference>GetDatosOpportunity.Titulacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Operacion_Original__c</field>
            <value>
                <elementReference>GetDatosPlanVenta.Valor_Operacion_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vivienda__c</field>
            <value>
                <elementReference>$Record.Plan_de_Venta__r.Vivienda__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>debugg__c</field>
            <value>
                <stringValue>{!$Flow.CurrentDateTime} - {!GetDatosLP_FinanciamientoPostVenta.Id} - No encontró Lista de Financiemiento</stringValue>
            </value>
        </inputAssignments>
        <object>Cobranza_Comercial__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetDatosLP_FinanciamientoPostVenta</name>
        <label>GetDatosLP_FinanciamientoPostVenta</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crea_Cobranza_Comercial</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Crea_Cobranza_Comercial_sin_LP_Financiamiento</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tipo_de_Financiamiento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post-Venta</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fraccionamiento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDatosOpportunity.Fraccionamiento__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Prototipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDatosOpportunity.Prototipo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Estatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Vigente_Desde__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vigente_Hasta__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDatosLP_PromoPrecio</name>
        <label>GetDatosLP_PromoPrecio</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDatosLP_FinanciamientoPostVenta</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GetDatosLP_FinanciamientoPostVenta</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDatosPlanVenta.Lista_de_Precios_Promo_Precio_Reciente__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDatosOpportunity</name>
        <label>GetDatosOpportunity</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDatosPlanVenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDatosTitulacion.Proceso_de_Venta__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDatosPlanVenta</name>
        <label>GetDatosPlanVenta</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActualizaTitulacionEnOpportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDatosOpportunity.Plan_de_Venta__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Plan_de_Venta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDatosTitulacion</name>
        <label>GetDatosTitulacion</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDatosOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Titulacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Titulaci_n</name>
        <label>Actualiza Titulación</label>
        <locationX>176</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>UpdatePlanDeVenta</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Proceso_de_Venta__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizaTitulacionEnOpportunidad</name>
        <label>ActualizaTitulacionEnOpportunidad</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>GetDatosLP_PromoPrecio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Proceso_de_Venta__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Titulacion__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePlanDeVenta</name>
        <label>UpdatePlanDeVenta</label>
        <locationX>176</locationX>
        <locationY>1295</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDatosPlanVenta.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cobranza_Comercial__c</field>
            <value>
                <elementReference>VarCobranzaComercial_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Plan_de_Venta__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetDatosTitulacion</targetReference>
        </connector>
        <object>Titulacion__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarCobranzaComercial_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
