unpackaged/main/default/flows/Email_near_expiration_prospect.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendEmail</name>
        <label>sendEmail</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Asesor__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Vigencia de asignación de Asesor en prospecto - {!$Record.Nombre__c}{!$Record.Apellidomaterno_cta__c}{!$Record.Apellidopaterno_cta__c}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>X2_days_before_expiration_date</name>
        <label>2 days before expiration date</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>expiration_in_2_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExpDiffToday</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExpDiffToday</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendEmail</targetReference>
            </connector>
            <label>expiration in 2 days?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ExpDiffToday</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Fecha_Vencimiento_Asesor__c}-TODAY()</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Name</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IsPersonAccount}, {!$Record.FirstName}+{!$Record.LastName}, {!$Record.Name})</expression>
    </formulas>
    <interviewLabel>Email near expiration prospect {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email near expiration prospect</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X2_days_before_expiration_date</targetReference>
        </connector>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-02-14</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Estimado {!$User.FirstName}{!$User.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Le informamos que su asignación como Asesor está próxima a vencer, lo invitamos a continuar con el seguimiento, para dar avance del prospecto:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Nombre: {!Name}&lt;/p&gt;&lt;p&gt;Tipo de cliente: {!$Record.RecordTypeName__c}&lt;/p&gt;&lt;p&gt;Fecha : &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Fecha_Asignacion_Asesor__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Fecha de vigencia de Asesor: {!$Record.Fecha_Vencimiento_Asesor__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Considere que, de no avanzar, su asignación caducará.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Reciba un cordial saludo.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;El Equipo Comercial Javer&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recipientEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Shaifali.Sutty@wakencode.com</stringValue>
        </value>
    </variables>
</Flow>
