unpackaged/main/default/flows/entrega_3_meses_vivienda.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_0051c6e1_2571_4199_b430_113f764856da</name>
        <choiceText>Muy probable</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_00bcfae4_59f0_44fa_bddd_b5d015702b70</name>
        <choiceText>Deficiente</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_02476b42_bdbf_4f7c_9143_f2fb4b8e8d61</name>
        <choiceText>Tiempos de respuesta en las garant&amp;iacute;as</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tiempos de respuesta en las garantías</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_02bc224f_4d47_47bb_88a3_d58e9a28a450</name>
        <choiceText>Centro de contacto telef&amp;oacute;nico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Centro de contacto telefónico</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_06739f8c_f012_4e1a_b4e4_ea7c15d8a624</name>
        <choiceText>Recib&amp;iacute; buena atenci&amp;oacute;n</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recibí buena atención</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_06fdbb38_cbf0_4550_8623_c244667ac22e</name>
        <choiceText>Materiales de calidad</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Materiales de calidad		</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_09794c9d_55a1_4b78_a03a_a929f18d77d4</name>
        <choiceText>Promociones para equipar la casa / Ofrecer servicios t&amp;eacute;cnicos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Promociones para equipar la casa / Ofrecer servicios técnicos</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_12401e71_9eb3_48d8_a5c3_1675fb13c345</name>
        <choiceText>Explicaci&amp;oacute;n del funcionamiento de la vivienda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Explicación del funcionamiento de la vivienda</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_228538a8_99eb_4a2c_bec4_fbb602d850b5</name>
        <choiceText>Otros medios de contacto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Otros medios de contacto</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2b747c74_508f_49eb_8882_8e22f79d89eb</name>
        <choiceText>Mejores acabados / materiales / productos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mejores acabados / materiales / productos</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2f5cb075_1f45_49a6_9cf3_8d6ebf8c8e6d</name>
        <choiceText>Mejores acabados</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mejores acabados</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2fb5fc4a_9373_4baf_ac44_aea04304ab6e</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3462dade_045d_4dac_aeff_4f40e49f37fb</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3a1b339e_52e8_4685_99be_a4cfb0c01ffe</name>
        <choiceText>Tiempos / puntualidad en cita de entrega</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tiempos / puntualidad en cita de entrega</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3c0c1ceb_8824_43ce_a216_344907479567</name>
        <choiceText>Excelentes acabados</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excelentes acabados		</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3c5f3c8f_6b89_4649_a92d_7358a1ffab0d</name>
        <choiceText>Materiales de mejor calidad</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Materiales de mejor calidad</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3c95ba9e_8d8a_4391_a692_3b78ed339cbc</name>
        <choiceText>Mejorar organizaci&amp;oacute;n vecinal (Administradora)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mejorar organización vecinal (Administradora)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3d359e44_b7f4_4e92_9d6b_edd85eb3ecc3</name>
        <choiceText>Seguridad</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Seguridad</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3f000424_04e6_4b27_9241_dfc8e841b760</name>
        <choiceText>Excelente</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_40ce08df_3ea4_4dbd_89e7_cbcde4fb5ae6</name>
        <choiceText>Excelentes acabados y materiales de calidad</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excelentes acabados y materiales de calidad		</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_42677eca_5f81_4006_8c72_1dabf58087cd</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_43b1f971_c0ab_47ae_a13a_12e862b9b328</name>
        <choiceText>Contar con transporte y comercios aleda&amp;ntilde;os</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contar con transporte y comercios aledaños</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4535fbbc_6c3b_49aa_998b_a8f24a7f15a4</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_4734dc4e_879b_4f91_84e7_c9bdf1b1ee20</name>
        <choiceText>Equipamiento en fraccionamiento</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Equipamiento en fraccionamiento		</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4772b02f_eed3_4f94_9280_d8f00a1a0bd2</name>
        <choiceText>Horarios de atenci&amp;oacute;n</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Horarios de atención</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_49458bf8_98ea_4089_80d1_f23ae455af51</name>
        <choiceText>Capacitar al Asesor de Ventas / Titulaci&amp;oacute;n</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Capacitar al Asesor de Ventas / Titulación</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4a45ed54_83b0_4f0a_81d0_9c3f62d45c6d</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_4c49a7d0_f99e_44d4_80b5_c0177cec8d2a</name>
        <choiceText>Excelente</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5f526432_2714_4890_aca1_d4db391bee2f</name>
        <choiceText>Excelente imagen y atenci&amp;oacute;n del Residente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excelente imagen y atención del Residente		</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_63460479_7227_4d68_b092_421e86b93bb9</name>
        <choiceText>Poco probable</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_64e77cea_1ff8_459c_9bef_8adc19a39b2e</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_66b77013_5177_4def_b8c2_9a557e1604b3</name>
        <choiceText>Distribuci&amp;oacute;n / dise&amp;ntilde;o de la vivienda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Distribución / diseño de la vivienda</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_68b13b7d_bf85_4541_8be4_de30f0f246ab</name>
        <choiceText>Excelente dise&amp;ntilde;o de la Vivienda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excelente diseño de la Vivienda		</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6f16e1db_b445_4156_8408_86f2d33aeddb</name>
        <choiceText>Mayor equipamiento de fraccionamientos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mayor equipamiento de fraccionamientos</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7181db3e_be9d_4680_93ab_c965ea289309</name>
        <choiceText>Buena atenci&amp;oacute;n por parte del Asesor de Ventas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Buena atención por parte del Asesor de Ventas		</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_737525b8_6399_45de_bd31_9728e4236b7b</name>
        <choiceText>Menor cantidad de garant&amp;iacute;as</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Menor cantidad de garantías</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7b6ae370_b199_4195_9438_90d6cbabfce2</name>
        <choiceText>Manual Entrega de Vivienda claro y preciso</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manual Entrega de Vivienda claro y preciso</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7c23861a_050f_40e8_ba51_6381ca700ce3</name>
        <choiceText>Facilidad de acceso a escuelas y transporte</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Facilidad de acceso a escuelas y transporte		</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7c2a0113_e8e4_491f_a399_278b7d35d972</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7ec53f28_747b_42fc_97cf_4d783c492cb1</name>
        <choiceText>Excelente distribuci&amp;oacute;n</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excelente distribución 		</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_856eb86f_e8f9_4b40_9ff9_2644beb80b9a</name>
        <choiceText>Vivienda en excelentes condiciones</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vivienda en excelentes condiciones		</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_87fa3b35_dcd3_4e7a_a9f4_d1a6480e9b19</name>
        <choiceText>Sin detalles en la vivienda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sin detalles en la vivienda</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8d9a3564_eed4_4793_9c60_6c87f8578dd1</name>
        <choiceText>Personal de entrega muy bien capacitado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Personal de entrega muy bien capacitado</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_90c88251_858b_478a_8dbe_d3c66ae7f4d2</name>
        <choiceText>Realizar pruebas en las viviendas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Realizar pruebas en las viviendas</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_98b359f6_636b_4649_97f4_49d0795cf339</name>
        <choiceText>Mejor distribuci&amp;oacute;n / dise&amp;ntilde;o de la vivienda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mejor distribución / diseño de la vivienda</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9cef44ec_e725_4981_9b21_9700297ede55</name>
        <choiceText>Capacitaci&amp;oacute;n al personal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Capacitación al personal</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a3bdac9e_4ba7_426f_82b6_4f6ec78efafe</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a9e2f5d6_0bed_4b91_8a17_dd2866abdc94</name>
        <choiceText>Instalar equipamiento</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Instalar equipamiento</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ada85571_3914_41c1_a062_ff55625664e1</name>
        <choiceText>Su personal es excelente y bien capacitado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Su personal es excelente y bien capacitado		</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ba10297e_b86a_4498_b666_3349ee1b19c9</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_bc432f4e_9a6c_4bb6_9fc2_715c91ba50a5</name>
        <choiceText>Correcta explicaci&amp;oacute;n del funcionamiento de la vivienda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Correcta explicación del funcionamiento de la vivienda</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c201d644_5403_473b_abe9_bca0202ff820</name>
        <choiceText>Convenios con proveedores / promociones</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Convenios con proveedores / promociones</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c34f8309_038f_4eeb_a179_d6504f74cceb</name>
        <choiceText>Vivienda en condiciones no optimas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vivienda en condiciones no optimas</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cfd53bcf_87a5_4fc2_998d_67e49756ff60</name>
        <choiceText>Servicios habilitados para contrataci&amp;oacute;n Inmediata (Luz, Agua, Gas)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Servicios habilitados para contratación Inmediata (Luz, Agua, Gas)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cfea0755_ee17_4940_a0d1_79d789d79e5d</name>
        <choiceText>Viviendas sin faltantes y en buen estado.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Viviendas sin faltantes y en buen estado.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d4033e87_f153_4f6e_85ef_faa5f967996d</name>
        <choiceText>Buena organizaci&amp;oacute;n vecinal y atenci&amp;oacute;n del personal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Buena organización vecinal y atención del personal</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_da8af743_4e12_4bd7_8207_f9849af05210</name>
        <choiceText>Excelentes precios y promociones</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excelentes precios y promociones		</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e53aa53f_4bc5_4633_8f6d_2ab5604d8ad4</name>
        <choiceText>Excelente ubicaci&amp;oacute;n del fraccionamiento</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excelente ubicación del fraccionamiento		</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ef7a04d0_4505_4e3a_adc5_cb17c99deb17</name>
        <choiceText>Deficiente</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f2145de5_51ad_4cc9_afc4_65ebf28409bf</name>
        <choiceText>Imagen/experiencia Residente Entrega</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Imagen/experiencia Residente Entrega</stringValue>
        </value>
    </choices>
    <decisions>
        <name>d_4071fd2b_2275_4fc0_82fb_74ea5ab829c1</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_ca767a44_e6c5_464b_8964_61a047c324d0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_81b7d0f2_1e83_43b1_b3b0_0ae1948766be</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_ec5bd0ca_e454_4e81_a1c8_3b686ababcea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Excelente distribución 		</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_ec5bd0ca_e454_4e81_a1c8_3b686ababcea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Excelentes acabados		</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_ec5bd0ca_e454_4e81_a1c8_3b686ababcea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Materiales de calidad		</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_ec5bd0ca_e454_4e81_a1c8_3b686ababcea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vivienda en excelentes condiciones		</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_ec5bd0ca_e454_4e81_a1c8_3b686ababcea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Excelente diseño de la Vivienda		</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_ca767a44_e6c5_464b_8964_61a047c324d0</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_50e4cbc6_ef11_4325_8e01_0464b34d43af</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_56154289_f521_4d09_a6bc_a61a481e52da</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_667f4ee5_f17c_4a90_8a3f_3f02bbf31bd8</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_16460052_9579_47a0_818a_e07378f90fce</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_16460052_9579_47a0_818a_e07378f90fce</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_16460052_9579_47a0_818a_e07378f90fce</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_56154289_f521_4d09_a6bc_a61a481e52da</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_edafcbdd_130c_42e3_96ce_650d03d36f2e</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_16460052_9579_47a0_818a_e07378f90fce</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_16460052_9579_47a0_818a_e07378f90fce</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_9bab0c0f_4c07_4d2e_b15d_aabe513e8b2b</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_6606b38a_7071_4440_8866_1f01390506cf</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_46d42ceb_0dce_4a17_90fa_7f95906d3c0e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_9fa55c01_ce01_4dd6_89ab_75cfc45ae6c3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_960ecc25_f3af_4899_bf02_5703d2bf391d</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Excelente imagen y atención del Residente		</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_960ecc25_f3af_4899_bf02_5703d2bf391d</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buena atención por parte del Asesor de Ventas		</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_960ecc25_f3af_4899_bf02_5703d2bf391d</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal de entrega muy bien capacitado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_960ecc25_f3af_4899_bf02_5703d2bf391d</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Correcta explicación del funcionamiento de la vivienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_960ecc25_f3af_4899_bf02_5703d2bf391d</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual Entrega de Vivienda claro y preciso</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_46d42ceb_0dce_4a17_90fa_7f95906d3c0e</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_7e38905b_f584_4274_baa1_32c3326e2950</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_9bab0c0f_4c07_4d2e_b15d_aabe513e8b2b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_9013c276_44d5_4db5_a137_853c14871bf5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_bfe82748_5e48_459c_b643_d934dda9f2d4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Convenios con proveedores / promociones</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_bfe82748_5e48_459c_b643_d934dda9f2d4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mejor distribución / diseño de la vivienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_bfe82748_5e48_459c_b643_d934dda9f2d4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instalar equipamiento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_bfe82748_5e48_459c_b643_d934dda9f2d4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Materiales de mejor calidad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_bfe82748_5e48_459c_b643_d934dda9f2d4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mejores acabados</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_bfe82748_5e48_459c_b643_d934dda9f2d4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Menor cantidad de garantías</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_bfe82748_5e48_459c_b643_d934dda9f2d4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Viviendas sin faltantes y en buen estado.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_bfe82748_5e48_459c_b643_d934dda9f2d4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Realizar pruebas en las viviendas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_ca767a44_e6c5_464b_8964_61a047c324d0</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_83e3acdc_a43d_4e3c_8818_696ff7e6d73a</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_ac628810_8aef_44dd_a51d_0c4713a0be4c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_cd2b951a_1985_411d_8be5_aa60aa66c100</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_64b90a18_b607_4c09_bc7f_a2a0722231f4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_64b90a18_b607_4c09_bc7f_a2a0722231f4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_64b90a18_b607_4c09_bc7f_a2a0722231f4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_ac628810_8aef_44dd_a51d_0c4713a0be4c</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_ac43b2fc_1b6f_4dbd_b4bf_b20548391f6d</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_64b90a18_b607_4c09_bc7f_a2a0722231f4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_64b90a18_b607_4c09_bc7f_a2a0722231f4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_a98dcf8c_8e32_4f4d_a1ac_44c98cda9e3e</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_a11bbc80_7642_471b_ac2b_934f38306577</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_98dbf808_7536_4e2f_ad00_155b69da9544</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_c7f20c80_6c61_45f5_bf3f_eec024a7517d</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_38018e8e_d201_41a2_80f0_8a8da467a236</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_38018e8e_d201_41a2_80f0_8a8da467a236</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_38018e8e_d201_41a2_80f0_8a8da467a236</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_98dbf808_7536_4e2f_ad00_155b69da9544</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_fc2c6b36_5bae_41ea_a057_50af770aa7fe</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_38018e8e_d201_41a2_80f0_8a8da467a236</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_38018e8e_d201_41a2_80f0_8a8da467a236</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_26397e49_2c26_417d_9405_a03619399b58</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_af8fe805_53fc_4d81_95b1_205320bfbd53</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_a98dcf8c_8e32_4f4d_a1ac_44c98cda9e3e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_c27a731d_06b9_45fd_9ecc_a350cec765c4</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_c1d981af_d1bc_42bc_bf21_7025e5b76fb5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Capacitación al personal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_c1d981af_d1bc_42bc_bf21_7025e5b76fb5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contar con transporte y comercios aledaños</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_c1d981af_d1bc_42bc_bf21_7025e5b76fb5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distribución / diseño de la vivienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_c1d981af_d1bc_42bc_bf21_7025e5b76fb5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mayor equipamiento de fraccionamientos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_c1d981af_d1bc_42bc_bf21_7025e5b76fb5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mejorar organización vecinal (Administradora)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_c1d981af_d1bc_42bc_bf21_7025e5b76fb5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mejores acabados / materiales / productos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_c1d981af_d1bc_42bc_bf21_7025e5b76fb5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promociones para equipar la casa / Ofrecer servicios técnicos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_c1d981af_d1bc_42bc_bf21_7025e5b76fb5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seguridad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_c1d981af_d1bc_42bc_bf21_7025e5b76fb5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sin detalles en la vivienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_c1d981af_d1bc_42bc_bf21_7025e5b76fb5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tiempos de respuesta en las garantías</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_c64b39b4_46bf_4e95_8855_cad31097d48c</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_fff05b2c_ff78_48f3_8a5a_08ee798036ac</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_26397e49_2c26_417d_9405_a03619399b58</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_14878688_60e9_41cf_a23e_138530a2797e</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_bf054e7d_4135_4ea5_a686_0770294dacf8</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Capacitar al Asesor de Ventas / Titulación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_bf054e7d_4135_4ea5_a686_0770294dacf8</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Centro de contacto telefónico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_bf054e7d_4135_4ea5_a686_0770294dacf8</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Explicación del funcionamiento de la vivienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_bf054e7d_4135_4ea5_a686_0770294dacf8</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Horarios de atención</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_bf054e7d_4135_4ea5_a686_0770294dacf8</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagen/experiencia Residente Entrega</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_bf054e7d_4135_4ea5_a686_0770294dacf8</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Otros medios de contacto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_bf054e7d_4135_4ea5_a686_0770294dacf8</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Servicios habilitados para contratación Inmediata (Luz, Agua, Gas)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_bf054e7d_4135_4ea5_a686_0770294dacf8</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tiempos / puntualidad en cita de entrega</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_bf054e7d_4135_4ea5_a686_0770294dacf8</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vivienda en condiciones no optimas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_bf054e7d_4135_4ea5_a686_0770294dacf8</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recibí buena atención</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_46d42ceb_0dce_4a17_90fa_7f95906d3c0e</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <interviewLabel>Entrega 3 meses vivienda</interviewLabel>
    <label>Entrega 3 meses vivienda</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_entrega_3_meses_vivienda_12_27d1f9fc_424b_467e_98ef_08ba170c6d83</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_26397e49_2c26_417d_9405_a03619399b58</name>
        <label>SA-BIEN</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_6606b38a_7071_4440_8866_1f01390506cf</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_960ecc25_f3af_4899_bf02_5703d2bf391d</name>
            <choiceReferences>c_5f526432_2714_4890_aca1_d4db391bee2f</choiceReferences>
            <choiceReferences>c_7181db3e_be9d_4680_93ab_c965ea289309</choiceReferences>
            <choiceReferences>c_8d9a3564_eed4_4793_9c60_6c87f8578dd1</choiceReferences>
            <choiceReferences>c_bc432f4e_9a6c_4bb6_9fc2_715c91ba50a5</choiceReferences>
            <choiceReferences>c_7b6ae370_b199_4195_9438_90d6cbabfce2</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;1.3. ﻿En tu experiencia vivida en el&lt;/b&gt;&lt;b style=&quot;font-size: 18px; font-family: Calibri, sans-serif;&quot;&gt; &lt;/b&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;proceso&lt;/b&gt;&lt;b style=&quot;font-size: 18px; font-family: Calibri, sans-serif;&quot;&gt; &lt;/b&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;de entrega de tu vivienda&lt;/b&gt;&lt;b style=&quot;font-size: 18px; font-family: Calibri, sans-serif;&quot;&gt;, &lt;/b&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;¿Qué fue lo que más te gustó?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_53fba8fc_b226_4525_93cc_cffe447a019e</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;1.4. Comentarios&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Para seguir donde lo dejó, actualice esta página o abra la encuesta de nuevo.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_2ce9a87a_5240_482f_9ccc_4c15f62a9dac</name>
        <label>SA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_a11bbc80_7642_471b_ac2b_934f38306577</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_38018e8e_d201_41a2_80f0_8a8da467a236_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_38018e8e_d201_41a2_80f0_8a8da467a236</name>
            <choiceReferences>c_ef7a04d0_4505_4e3a_adc5_cb17c99deb17</choiceReferences>
            <choiceReferences>c_3462dade_045d_4dac_aeff_4f40e49f37fb</choiceReferences>
            <choiceReferences>c_64e77cea_1ff8_459c_9bef_8adc19a39b2e</choiceReferences>
            <choiceReferences>c_2fb5fc4a_9373_4baf_ac44_aea04304ab6e</choiceReferences>
            <choiceReferences>c_3f000424_04e6_4b27_9241_dfc8e841b760</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 22px;&quot;&gt;1.0. ¿Cuál es su percepción de la atención y servicio ofrecido por JAVER?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Para seguir donde lo dejó, actualice esta página o abra la encuesta de nuevo.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_46d42ceb_0dce_4a17_90fa_7f95906d3c0e</name>
        <label>SP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_50e4cbc6_ef11_4325_8e01_0464b34d43af</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_16460052_9579_47a0_818a_e07378f90fce_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_16460052_9579_47a0_818a_e07378f90fce</name>
            <choiceReferences>c_00bcfae4_59f0_44fa_bddd_b5d015702b70</choiceReferences>
            <choiceReferences>c_a3bdac9e_4ba7_426f_82b6_4f6ec78efafe</choiceReferences>
            <choiceReferences>c_7c2a0113_e8e4_491f_a399_278b7d35d972</choiceReferences>
            <choiceReferences>c_4a45ed54_83b0_4f0a_81d0_9c3f62d45c6d</choiceReferences>
            <choiceReferences>c_4c49a7d0_f99e_44d4_80b5_c0177cec8d2a</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 22px;&quot;&gt;2.0. ﻿¿Qué tan satisfecho se encuentra con su vivienda?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Para seguir donde lo dejó, actualice esta página o abra la encuesta de nuevo.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_56154289_f521_4d09_a6bc_a61a481e52da</name>
        <label>SP-MAL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_7e38905b_f584_4274_baa1_32c3326e2950</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_bfe82748_5e48_459c_b643_d934dda9f2d4</name>
            <choiceReferences>c_c201d644_5403_473b_abe9_bca0202ff820</choiceReferences>
            <choiceReferences>c_98b359f6_636b_4649_97f4_49d0795cf339</choiceReferences>
            <choiceReferences>c_a9e2f5d6_0bed_4b91_8a17_dd2866abdc94</choiceReferences>
            <choiceReferences>c_3c5f3c8f_6b89_4649_a92d_7358a1ffab0d</choiceReferences>
            <choiceReferences>c_2f5cb075_1f45_49a6_9cf3_8d6ebf8c8e6d</choiceReferences>
            <choiceReferences>c_737525b8_6399_45de_bd31_9728e4236b7b</choiceReferences>
            <choiceReferences>c_cfea0755_ee17_4940_a0d1_79d789d79e5d</choiceReferences>
            <choiceReferences>c_90c88251_858b_478a_8dbe_d3c66ae7f4d2</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;2.1. ﻿¿Qué debemos realizar para mejorar la pregunta anterior?﻿&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_775f4a51_cb91_42e7_8342_4172536f2dbe</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;2.2. Comentarios&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Para seguir donde lo dejó, actualice esta página o abra la encuesta de nuevo.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_98dbf808_7536_4e2f_ad00_155b69da9544</name>
        <label>SA-MAL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_fff05b2c_ff78_48f3_8a5a_08ee798036ac</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_bf054e7d_4135_4ea5_a686_0770294dacf8</name>
            <choiceReferences>c_49458bf8_98ea_4089_80d1_f23ae455af51</choiceReferences>
            <choiceReferences>c_02bc224f_4d47_47bb_88a3_d58e9a28a450</choiceReferences>
            <choiceReferences>c_12401e71_9eb3_48d8_a5c3_1675fb13c345</choiceReferences>
            <choiceReferences>c_4772b02f_eed3_4f94_9280_d8f00a1a0bd2</choiceReferences>
            <choiceReferences>c_f2145de5_51ad_4cc9_afc4_65ebf28409bf</choiceReferences>
            <choiceReferences>c_228538a8_99eb_4a2c_bec4_fbb602d850b5</choiceReferences>
            <choiceReferences>c_cfd53bcf_87a5_4fc2_998d_67e49756ff60</choiceReferences>
            <choiceReferences>c_3a1b339e_52e8_4685_99be_a4cfb0c01ffe</choiceReferences>
            <choiceReferences>c_c34f8309_038f_4eeb_a179_d6504f74cceb</choiceReferences>
            <choiceReferences>c_06739f8c_f012_4e1a_b4e4_ea7c15d8a624</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;1.1. ﻿¿Qué debemos realizar para mejorar la pregunta anterior?﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6fc89545_5592_4178_a661_6e2a7b0230da</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;1.2. Comentarios&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Para seguir donde lo dejó, actualice esta página o abra la encuesta de nuevo.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_9bab0c0f_4c07_4d2e_b15d_aabe513e8b2b</name>
        <label>SP-BIEN</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_4071fd2b_2275_4fc0_82fb_74ea5ab829c1</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ec5bd0ca_e454_4e81_a1c8_3b686ababcea</name>
            <choiceReferences>c_7ec53f28_747b_42fc_97cf_4d783c492cb1</choiceReferences>
            <choiceReferences>c_3c0c1ceb_8824_43ce_a216_344907479567</choiceReferences>
            <choiceReferences>c_06fdbb38_cbf0_4550_8623_c244667ac22e</choiceReferences>
            <choiceReferences>c_856eb86f_e8f9_4b40_9ff9_2644beb80b9a</choiceReferences>
            <choiceReferences>c_68b13b7d_bf85_4541_8be4_de30f0f246ab</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt; &lt;/b&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;2.3. En tu experiencia con tu vivienda&lt;/b&gt;&lt;b style=&quot;font-size: 18px; font-family: Calibri, sans-serif;&quot;&gt;, &lt;/b&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;¿Qué es lo que más te gustó?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_bc4741ab_920c_444b_9a94_c4c2339cfcf5</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;2.4. Comentarios&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Para seguir donde lo dejó, actualice esta página o abra la encuesta de nuevo.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_a98dcf8c_8e32_4f4d_a1ac_44c98cda9e3e</name>
        <label>IRC-BIEN</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_c64b39b4_46bf_4e95_8855_cad31097d48c</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_7dfd674e_7e3b_4bc4_9e49_ff0cc66b8e31</name>
            <choiceReferences>c_ada85571_3914_41c1_a062_ff55625664e1</choiceReferences>
            <choiceReferences>c_e53aa53f_4bc5_4633_8f6d_2ab5604d8ad4</choiceReferences>
            <choiceReferences>c_4734dc4e_879b_4f91_84e7_c9bdf1b1ee20</choiceReferences>
            <choiceReferences>c_da8af743_4e12_4bd7_8207_f9849af05210</choiceReferences>
            <choiceReferences>c_d4033e87_f153_4f6e_85ef_faa5f967996d</choiceReferences>
            <choiceReferences>c_7c23861a_050f_40e8_ba51_6381ca700ce3</choiceReferences>
            <choiceReferences>c_40ce08df_3ea4_4dbd_89e7_cbcde4fb5ae6</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;3.3. ﻿En tu experiencia vivida con Casas Javer&lt;/b&gt;&lt;b style=&quot;font-size: 18px; font-family: Calibri, sans-serif;&quot;&gt;, &lt;/b&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;¿Qué fue lo que más te gustó? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_4aeb233c_e067_4103_b273_fb12f5c0af6d</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;3.4. Comentarios&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Para seguir donde lo dejó, actualice esta página o abra la encuesta de nuevo.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_ac628810_8aef_44dd_a51d_0c4713a0be4c</name>
        <label>IRC-MAL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_af8fe805_53fc_4d81_95b1_205320bfbd53</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c1d981af_d1bc_42bc_bf21_7025e5b76fb5</name>
            <choiceReferences>c_9cef44ec_e725_4981_9b21_9700297ede55</choiceReferences>
            <choiceReferences>c_43b1f971_c0ab_47ae_a13a_12e862b9b328</choiceReferences>
            <choiceReferences>c_66b77013_5177_4def_b8c2_9a557e1604b3</choiceReferences>
            <choiceReferences>c_6f16e1db_b445_4156_8408_86f2d33aeddb</choiceReferences>
            <choiceReferences>c_3c95ba9e_8d8a_4391_a692_3b78ed339cbc</choiceReferences>
            <choiceReferences>c_2b747c74_508f_49eb_8882_8e22f79d89eb</choiceReferences>
            <choiceReferences>c_09794c9d_55a1_4b78_a03a_a929f18d77d4</choiceReferences>
            <choiceReferences>c_3d359e44_b7f4_4e92_9d6b_edd85eb3ecc3</choiceReferences>
            <choiceReferences>c_87fa3b35_dcd3_4e7a_a9f4_d1a6480e9b19</choiceReferences>
            <choiceReferences>c_02476b42_bdbf_4f7c_9143_f2fb4b8e8d61</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;﻿﻿3.1. ¿Qué debemos realizar para mejorar la pregunta anterior?﻿&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_018f3735_382b_4211_b74b_2fcca478152f</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;3.2. Comentarios&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Para seguir donde lo dejó, actualice esta página o abra la encuesta de nuevo.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_c64b39b4_46bf_4e95_8855_cad31097d48c</name>
        <label>COMENTARIOS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6287fbfe_4cde_4a48_a76d_4c941a86c095</name>
            <dataType>String</dataType>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 22px;&quot;&gt;4.0. ¿Tiene algún comentario adicional?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Para seguir donde lo dejó, actualice esta página o abra la encuesta de nuevo.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_ca767a44_e6c5_464b_8964_61a047c324d0</name>
        <label>IRC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_83e3acdc_a43d_4e3c_8818_696ff7e6d73a</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_64b90a18_b607_4c09_bc7f_a2a0722231f4_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_64b90a18_b607_4c09_bc7f_a2a0722231f4</name>
            <choiceReferences>c_63460479_7227_4d68_b092_421e86b93bb9</choiceReferences>
            <choiceReferences>c_ba10297e_b86a_4498_b666_3349ee1b19c9</choiceReferences>
            <choiceReferences>c_42677eca_5f81_4006_8c72_1dabf58087cd</choiceReferences>
            <choiceReferences>c_4535fbbc_6c3b_49aa_998b_a8f24a7f15a4</choiceReferences>
            <choiceReferences>c_0051c6e1_2571_4199_b430_113f764856da</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 22px;&quot;&gt;3.0. En escala del 1 al 5, considerando 1 el más bajo y 5 el más alto ¿Qué tan probable es que nos recomiende con un amigo o familiar? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Para seguir donde lo dejó, actualice esta página o abra la encuesta de nuevo.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Página de bienvenida</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_2ce9a87a_5240_482f_9ccc_4c15f62a9dac</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>welcome_page</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&amp;nbsp;¡Gracias por completar nuestra encuesta, su opinión nos ayuda a seguir mejorando!﻿&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Ya son 3 meses con tu vivienda,&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;¡Cuéntanos tu experiencia!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_16460052_9579_47a0_818a_e07378f90fce_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_38018e8e_d201_41a2_80f0_8a8da467a236_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_64b90a18_b607_4c09_bc7f_a2a0722231f4_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
