unpackaged/main/default/flows/entrega_1_a_o.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_02239959_5c15_43e8_b468_a4470625b312</name>
        <choiceText>Excelente dise&amp;ntilde;o de la Vivienda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excelente diseño de la Vivienda		</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_023683a7_8d35_4adf_8672_76f87ff1424c</name>
        <choiceText>Excelente</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0ab7b5f9_d6ae_4165_98b6_60aaf3a53877</name>
        <choiceText>Servicios habilitados para contrataci&amp;oacute;n inmediata (Luz, Agua, Gas)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Servicios habilitados para contratación inmediata (Luz, Agua, Gas)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_10bbedde_5306_43fd_9c05_c286481a0895</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_14b608b9_2c8a_4f78_ad9a_6bcf99bc076b</name>
        <choiceText>Otros medios de contacto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Otros medios de contacto</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_18ad6b33_40b2_461c_ac69_d3c2cbb8ee30</name>
        <choiceText>Excelentes acabados</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excelentes acabados		</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1b02b528_bbe0_43f6_a575_a75a88a042bd</name>
        <choiceText>Instalar equipamiento</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Instalar equipamiento</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1d345116_0a80_4243_9f7e_cf374a70a66a</name>
        <choiceText>Imagen / Experiencia Residente Entrega</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Imagen / Experiencia Residente Entrega</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1f5ccb49_528e_447e_8276_f6a6d85e81bf</name>
        <choiceText>Viviendas sin faltantes y en buen estado.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Viviendas sin faltantes y en buen estado.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1f9b9ed7_1799_4992_853e_893e14385d0c</name>
        <choiceText>Mejorar organizaci&amp;oacute;n vecinal (Administradora)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mejorar organización vecinal (Administradora)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_244c7506_6479_49f3_891e_06d4a9048f58</name>
        <choiceText>Seguridad</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Seguridad</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_265fd761_e302_4c1b_9e31_ad747d6f28cd</name>
        <choiceText>Muy probable</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_27622686_7d84_4c40_b3aa_4842b401a7ec</name>
        <choiceText>Excelente</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_2e31ff4c_db51_458e_ba80_e81f0ed97d4f</name>
        <choiceText>Buena organizaci&amp;oacute;n vecinal y atenci&amp;oacute;n del personal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Buena organización vecinal y atención del personal</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_30e6d011_b254_4d25_912f_1dddff8c52e4</name>
        <choiceText>Menor cantidad de garant&amp;iacute;as</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Menor cantidad de garantías</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3335b6cb_c113_4b2f_8160_0e14ca597e2e</name>
        <choiceText>Facilidad de acceso a escuelas y transporte</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Facilidad de acceso a escuelas y transporte</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3a27b70f_f2cf_4ccf_87be_73f18a320497</name>
        <choiceText>Distribuci&amp;oacute;n / dise&amp;ntilde;o de la vivienda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Distribución / diseño de la vivienda</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_44549a0e_1e20_4068_81ba_b0cb14060d57</name>
        <choiceText>Tiempos / puntualidad en cita de entrega</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tiempos / puntualidad en cita de entrega</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_492b7fb0_4f93_4022_8689_0b2355281250</name>
        <choiceText>Sin detalles en la vivienda.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sin detalles en la vivienda. </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4ad9b84e_b456_4b70_b433_b7af0693f171</name>
        <choiceText>Manual Entrega de Vivienda claro y preciso</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manual Entrega de Vivienda claro y preciso		</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4bd5dadb_6cec_4d0b_b2a4_5be21b877d9c</name>
        <choiceText>Correcta explicaci&amp;oacute;n del funcionamiento de la vivienda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Correcta explicación del funcionamiento de la vivienda 		</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4cd2f536_30ac_4a57_931e_5f75b90cc48c</name>
        <choiceText>Excelente distribuci&amp;oacute;n</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excelente distribución 		</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_558a31aa_20a9_4282_9c64_bc21d1ea7ef4</name>
        <choiceText>Horarios de atenci&amp;oacute;n</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Horarios de atención</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5b66181e_229f_4d3d_aeca_675b424e72de</name>
        <choiceText>Mejor distribuci&amp;oacute;n / dise&amp;ntilde;o de la vivienda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mejor distribución / diseño de la vivienda</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5c8d4e91_a0d6_4414_bd0b_d79590ba54cb</name>
        <choiceText>Excelente ubicaci&amp;oacute;n del fraccionamiento</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excelente ubicación del fraccionamiento</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5d59a049_147d_4012_b500_b1d135c8d78f</name>
        <choiceText>Capacitaci&amp;oacute;n al personal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Capacitación al personal</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_68f1106b_8b52_4703_ac53_b1804e6bc414</name>
        <choiceText>Su personal es excelente y bien capacitado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Su personal es excelente y bien capacitado</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6a496a11_26f1_4aa2_8df5_a86f4f6f735b</name>
        <choiceText>Excelentes acabados y materiales de calidad</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excelentes acabados y materiales de calidad</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6d22e432_f1d7_4a7e_8227_833b4afefb59</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_709f17d0_63e6_4388_be7d_9417f1469db2</name>
        <choiceText>Explicaci&amp;oacute;n del funcionamiento de la vivienda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Explicación del funcionamiento de la vivienda</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7989b6ce_5ab5_4ff2_a2fe_f2d2aa2b57f7</name>
        <choiceText>Tiempos de respuesta en las garant&amp;iacute;as.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tiempos de respuesta en las garantías.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7a03f596_67ab_4fa0_bf3d_4b3edca3435d</name>
        <choiceText>Deficiente</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_83a91f41_2275_4b80_a7ce_e0ad5634bb8b</name>
        <choiceText>Deficiente</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8461eb0b_eca3_4c60_967d_ace3d87f8961</name>
        <choiceText>Centro de contacto telef&amp;oacute;nico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Centro de contacto telefónico</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_848af691_c706_4a80_abe3_7a70d59cca73</name>
        <choiceText>Equipamiento en fraccionamiento</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Equipamiento en fraccionamiento</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8ceebe16_b2e4_49e9_a662_a14a7a3f3802</name>
        <choiceText>Convenios con proveedores / promociones.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Convenios con proveedores / promociones.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_92f9979b_8578_4cac_8eed_636851433a56</name>
        <choiceText>Recib&amp;iacute; buena atenci&amp;oacute;n</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recibí buena atención</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9e2554be_5090_496e_aa9b_2f1f44ec1443</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a6810541_cdec_49eb_94b7_0e2eaae67d07</name>
        <choiceText>Mayor equipamiento de fraccionamientos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mayor equipamiento de fraccionamientos</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b30942c6_72c2_4ad8_8568_8a66d5814768</name>
        <choiceText>Materiales de mejor calidad</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Materiales de mejor calidad</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b443280a_e5ed_4520_997f_9411fe6a6b0a</name>
        <choiceText>Excelente imagen y atenci&amp;oacute;n del Residente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excelente imagen y atención del Residente		</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_beb4181a_ea77_4d0e_9f0e_924864fdf983</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c3a29aec_ade5_48f5_9ad6_d660a9e4c87f</name>
        <choiceText>Excelentes precios y promociones</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excelentes precios y promociones</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c5508844_d309_4ee8_a7ce_3fcd436f541f</name>
        <choiceText>Personal de entrega muy bien capacitado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Personal de entrega muy bien capacitado		</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c870b696_4b66_45dd_9267_2b9b10eaaa5e</name>
        <choiceText>Mejores acabados</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mejores acabados</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_caf8a25e_c927_40b0_b321_777741a08952</name>
        <choiceText>Materiales de calidad</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Materiales de calidad		</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ccd7c34a_c460_4bcd_bdcf_75ff6fbc1934</name>
        <choiceText>Buena atenci&amp;oacute;n por parte del Asesor de Ventas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Buena atención por parte del Asesor de Ventas		</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d33b0d53_d454_4bac_b79b_961cca1f6498</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d5279016_a2ec_43a8_8261_e1c23e91faa6</name>
        <choiceText>Capacitar al Asesor de Ventas / Titulaci&amp;oacute;n</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Capacitar al Asesor de Ventas / Titulación</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d70ab45a_d84b_4929_a506_419d1eba5313</name>
        <choiceText>Poco probable</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_dff9f25f_ba81_4164_911f_a85d9eaed720</name>
        <choiceText>Realizar pruebas en las viviendas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Realizar pruebas en las viviendas</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e81b4d8d_3030_4ecb_8c97_133062ac3914</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ed0b51f7_edae_4170_9c2a_e53186f82933</name>
        <choiceText>Vivienda en excelentes condiciones</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vivienda en excelentes condiciones		</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ee2707a6_a724_489e_b49b_5f71ecce90f7</name>
        <choiceText>Promociones para equipar la casa / Ofrecer servicios t&amp;eacute;cnicos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Promociones para equipar la casa / Ofrecer servicios técnicos</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f21aed3a_a12e_4c97_a93a_cf414c37a24a</name>
        <choiceText>Contar con transporte y comercios aleda&amp;ntilde;os</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contar con transporte y comercios aledaños</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f61b6e35_b991_41d6_b53a_c07686775a2e</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f81011b0_922a_4d21_b139_dd36f7246e8c</name>
        <choiceText>Vivienda en condiciones no optimas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vivienda en condiciones no optimas</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f8121392_7a62_49f5_85ba_0013885b82b9</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f85bb553_1391_4fb8_9fa8_106d1b9a1d79</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_fbd2f444_b618_4df0_8f2e_8574fb3e4a81</name>
        <choiceText>Mejores acabados / materiales / productos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mejores acabados / materiales / productos</stringValue>
        </value>
    </choices>
    <decisions>
        <name>d_041da7bb_fdac_4e24_a36a_eb13145e160c</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_4d2339af_feb2_43a0_a5db_f3e590ed4de9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_f766743b_68a4_424e_97ca_28507d14dd59</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_0e176e73_b518_4beb_9e6d_ba660405abdf</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Capacitación al personal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_0e176e73_b518_4beb_9e6d_ba660405abdf</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contar con transporte y comercios aledaños</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_0e176e73_b518_4beb_9e6d_ba660405abdf</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distribución / diseño de la vivienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_0e176e73_b518_4beb_9e6d_ba660405abdf</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mayor equipamiento de fraccionamientos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_0e176e73_b518_4beb_9e6d_ba660405abdf</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mejorar organización vecinal (Administradora)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_0e176e73_b518_4beb_9e6d_ba660405abdf</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mejores acabados / materiales / productos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_0e176e73_b518_4beb_9e6d_ba660405abdf</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promociones para equipar la casa / Ofrecer servicios técnicos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_0e176e73_b518_4beb_9e6d_ba660405abdf</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seguridad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_0e176e73_b518_4beb_9e6d_ba660405abdf</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sin detalles en la vivienda. </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_0e176e73_b518_4beb_9e6d_ba660405abdf</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tiempos de respuesta en las garantías.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_0702ce84_7cca_4989_93c1_4970af2b06c2</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_3eaaa43f_7628_4db8_a599_4741c3727efb</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_40f014cb_d19d_4a9e_835b_7546dc00f936</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_db4107fb_9717_40cb_9e02_4ec4de395b87</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_3e9f0b8c_7322_407b_85ff_75a36b949bab</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_3e9f0b8c_7322_407b_85ff_75a36b949bab</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_3e9f0b8c_7322_407b_85ff_75a36b949bab</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_40f014cb_d19d_4a9e_835b_7546dc00f936</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_3ec50fd6_ea57_44d6_a399_3ce3fd336ad0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_3e9f0b8c_7322_407b_85ff_75a36b949bab</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_3e9f0b8c_7322_407b_85ff_75a36b949bab</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_4d2339af_feb2_43a0_a5db_f3e590ed4de9</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_45e39743_4bcc_48c9_8760_a5fcc92ea736</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_7212f22c_b83f_4dce_8b0d_41f7dc02cbcb</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_7b466bc2_f930_45bf_86a8_860fb4a87057</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_6010a561_97ce_4c2e_9de3_51fe00d29c2c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Convenios con proveedores / promociones.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_6010a561_97ce_4c2e_9de3_51fe00d29c2c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mejor distribución / diseño de la vivienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_6010a561_97ce_4c2e_9de3_51fe00d29c2c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instalar equipamiento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_6010a561_97ce_4c2e_9de3_51fe00d29c2c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Materiales de mejor calidad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_6010a561_97ce_4c2e_9de3_51fe00d29c2c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mejores acabados</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_6010a561_97ce_4c2e_9de3_51fe00d29c2c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Menor cantidad de garantías</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_6010a561_97ce_4c2e_9de3_51fe00d29c2c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Viviendas sin faltantes y en buen estado.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_6010a561_97ce_4c2e_9de3_51fe00d29c2c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Realizar pruebas en las viviendas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_7efdb2d1_7c33_4364_ac9c_20f026459821</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_c1f9bb11_b1c9_4846_92f8_46233b8eb0a3</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_7efdb2d1_7c33_4364_ac9c_20f026459821</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_a6ca4d2c_6cad_480a_a998_0bc1dd944e2b</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_ab3d63cd_d96f_4567_9550_61dd02daf89a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Excelente distribución 		</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_ab3d63cd_d96f_4567_9550_61dd02daf89a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Excelentes acabados		</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_ab3d63cd_d96f_4567_9550_61dd02daf89a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Materiales de calidad		</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_ab3d63cd_d96f_4567_9550_61dd02daf89a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vivienda en excelentes condiciones		</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_ab3d63cd_d96f_4567_9550_61dd02daf89a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Excelente diseño de la Vivienda		</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_7efdb2d1_7c33_4364_ac9c_20f026459821</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_cdc72261_bce1_4165_b061_2a14d3a47779</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_9b6901a8_0a1f_47d1_97c0_27a993c9fc76</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_da11f7e4_030b_428b_9765_711386ee237c</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d4d534ac_a6d1_4cca_9585_515d2b0832b0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Excelente imagen y atención del Residente		</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d4d534ac_a6d1_4cca_9585_515d2b0832b0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buena atención por parte del Asesor de Ventas		</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d4d534ac_a6d1_4cca_9585_515d2b0832b0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal de entrega muy bien capacitado		</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d4d534ac_a6d1_4cca_9585_515d2b0832b0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Correcta explicación del funcionamiento de la vivienda 		</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d4d534ac_a6d1_4cca_9585_515d2b0832b0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual Entrega de Vivienda claro y preciso		</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_9b6901a8_0a1f_47d1_97c0_27a993c9fc76</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_ea2271ea_b9c6_4667_a2ce_09e59589c345</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_831ddf43_0ef6_44a1_aed0_fd121f082c45</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_c8efa679_c11d_4362_abde_63c9b0213506</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_9a741a4d_d2f8_460e_a829_b6dc763be0ce</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_9a741a4d_d2f8_460e_a829_b6dc763be0ce</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_9a741a4d_d2f8_460e_a829_b6dc763be0ce</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_831ddf43_0ef6_44a1_aed0_fd121f082c45</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_f707b1b8_74f0_4640_909b_e74493c0f4c6</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_9a741a4d_d2f8_460e_a829_b6dc763be0ce</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_9a741a4d_d2f8_460e_a829_b6dc763be0ce</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_7b0142a7_c287_4c33_a1e4_3cf92d72847c</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_fb59e914_2726_4f59_8b2f_7cb9b50792ce</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_7b0142a7_c287_4c33_a1e4_3cf92d72847c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_5e8bdea4_47e0_4f80_a1df_5309c93c5e79</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_4754c052_2141_4a89_af65_076c3974c41e</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Capacitar al Asesor de Ventas / Titulación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_4754c052_2141_4a89_af65_076c3974c41e</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Centro de contacto telefónico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_4754c052_2141_4a89_af65_076c3974c41e</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Explicación del funcionamiento de la vivienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_4754c052_2141_4a89_af65_076c3974c41e</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Horarios de atención</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_4754c052_2141_4a89_af65_076c3974c41e</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagen / Experiencia Residente Entrega</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_4754c052_2141_4a89_af65_076c3974c41e</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Otros medios de contacto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_4754c052_2141_4a89_af65_076c3974c41e</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Servicios habilitados para contratación Inmediata (Luz, Agua, Gas)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_4754c052_2141_4a89_af65_076c3974c41e</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tiempos / puntualidad en cita de entrega</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_4754c052_2141_4a89_af65_076c3974c41e</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vivienda en condiciones no optimas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_4754c052_2141_4a89_af65_076c3974c41e</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recibí buena atención</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_9b6901a8_0a1f_47d1_97c0_27a993c9fc76</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_fc42577e_c3f1_460a_80da_2492a0b4fab7</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_8faf8719_746e_4a26_95d5_4779d25e1d4c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_ce231f1e_e335_4281_9c07_a630d6217ecd</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_3d678daf_5b87_4b4f_8d2a_3b1951741c4b</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_3d678daf_5b87_4b4f_8d2a_3b1951741c4b</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_7212f22c_b83f_4dce_8b0d_41f7dc02cbcb</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_24bb8b76_b3db_4d67_859a_3819cba42be1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_3d678daf_5b87_4b4f_8d2a_3b1951741c4b</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_3d678daf_5b87_4b4f_8d2a_3b1951741c4b</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue></stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_3d678daf_5b87_4b4f_8d2a_3b1951741c4b</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_8faf8719_746e_4a26_95d5_4779d25e1d4c</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <interviewLabel>Entrega 1 año</interviewLabel>
    <label>Entrega 1 año</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>entrega_1_a_o_11</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_0702ce84_7cca_4989_93c1_4970af2b06c2</name>
        <label>COMENTARIOS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>q_789f3e96_db13_413b_9eae_8dc8e2529615</name>
            <dataType>String</dataType>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 22px;&quot;&gt;4.0. ﻿¿Tiene algún comentario adicional?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_40f014cb_d19d_4a9e_835b_7546dc00f936</name>
        <label>IRC-MAL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_041da7bb_fdac_4e24_a36a_eb13145e160c</targetReference>
        </connector>
        <fields>
            <name>q_0e176e73_b518_4beb_9e6d_ba660405abdf</name>
            <choiceReferences>c_5d59a049_147d_4012_b500_b1d135c8d78f</choiceReferences>
            <choiceReferences>c_f21aed3a_a12e_4c97_a93a_cf414c37a24a</choiceReferences>
            <choiceReferences>c_3a27b70f_f2cf_4ccf_87be_73f18a320497</choiceReferences>
            <choiceReferences>c_a6810541_cdec_49eb_94b7_0e2eaae67d07</choiceReferences>
            <choiceReferences>c_1f9b9ed7_1799_4992_853e_893e14385d0c</choiceReferences>
            <choiceReferences>c_fbd2f444_b618_4df0_8f2e_8574fb3e4a81</choiceReferences>
            <choiceReferences>c_ee2707a6_a724_489e_b49b_5f71ecce90f7</choiceReferences>
            <choiceReferences>c_244c7506_6479_49f3_891e_06d4a9048f58</choiceReferences>
            <choiceReferences>c_492b7fb0_4f93_4022_8689_0b2355281250</choiceReferences>
            <choiceReferences>c_7989b6ce_5ab5_4ff2_a2fe_f2d2aa2b57f7</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;3.1. ﻿¿Qué debemos realizar para mejorar la pregunta anterior? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>q_25a9137e_a558_4050_9879_7f6159dbd8c6</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;3.2. Comentarios&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_4d2339af_feb2_43a0_a5db_f3e590ed4de9</name>
        <label>IRC-BIEN</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_0702ce84_7cca_4989_93c1_4970af2b06c2</targetReference>
        </connector>
        <fields>
            <name>q_91152ea5_52da_4f41_a7b1_706d28ebc3fd</name>
            <choiceReferences>c_68f1106b_8b52_4703_ac53_b1804e6bc414</choiceReferences>
            <choiceReferences>c_5c8d4e91_a0d6_4414_bd0b_d79590ba54cb</choiceReferences>
            <choiceReferences>c_848af691_c706_4a80_abe3_7a70d59cca73</choiceReferences>
            <choiceReferences>c_c3a29aec_ade5_48f5_9ad6_d660a9e4c87f</choiceReferences>
            <choiceReferences>c_2e31ff4c_db51_458e_ba80_e81f0ed97d4f</choiceReferences>
            <choiceReferences>c_3335b6cb_c113_4b2f_8160_0e14ca597e2e</choiceReferences>
            <choiceReferences>c_6a496a11_26f1_4aa2_8df5_a86f4f6f735b</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;3.3. ﻿En tu experiencia vivida con Casas Javer, ¿Qué fue lo que más te gusto?&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>q_8d37c417_7ad7_4d22_b45b_41b5708fe111</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/b&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;3.4. ¿Tiene algún comentario sobre su experiencia vivida con Casas Javer?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_7212f22c_b83f_4dce_8b0d_41f7dc02cbcb</name>
        <label>SP-BIEN</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_c1f9bb11_b1c9_4846_92f8_46233b8eb0a3</targetReference>
        </connector>
        <fields>
            <name>q_ab3d63cd_d96f_4567_9550_61dd02daf89a</name>
            <choiceReferences>c_4cd2f536_30ac_4a57_931e_5f75b90cc48c</choiceReferences>
            <choiceReferences>c_18ad6b33_40b2_461c_ac69_d3c2cbb8ee30</choiceReferences>
            <choiceReferences>c_caf8a25e_c927_40b0_b321_777741a08952</choiceReferences>
            <choiceReferences>c_ed0b51f7_edae_4170_9c2a_e53186f82933</choiceReferences>
            <choiceReferences>c_02239959_5c15_43e8_b468_a4470625b312</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;2.3. En tu experiencia con tu vivienda, ¿Qué es lo que más te gustó?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>q_c05893ef_96b3_45e7_a54b_24ef4f6fe29c</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;2.4. ﻿Comentarios&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_7b0142a7_c287_4c33_a1e4_3cf92d72847c</name>
        <label>SA-BIEN</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_cdc72261_bce1_4165_b061_2a14d3a47779</targetReference>
        </connector>
        <fields>
            <name>q_d4d534ac_a6d1_4cca_9585_515d2b0832b0</name>
            <choiceReferences>c_b443280a_e5ed_4520_997f_9411fe6a6b0a</choiceReferences>
            <choiceReferences>c_ccd7c34a_c460_4bcd_bdcf_75ff6fbc1934</choiceReferences>
            <choiceReferences>c_c5508844_d309_4ee8_a7ce_3fcd436f541f</choiceReferences>
            <choiceReferences>c_4bd5dadb_6cec_4d0b_b2a4_5be21b877d9c</choiceReferences>
            <choiceReferences>c_4ad9b84e_b456_4b70_b433_b7af0693f171</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;1.3. En tu experiencia vivida en el proceso de entrega de tu vivienda&lt;/b&gt;&lt;b style=&quot;font-size: 18px; font-family: Calibri, sans-serif;&quot;&gt;,&amp;nbsp; &lt;/b&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;¿Qué fue lo que más te gustó?﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>q_ecee3d93_b436_433b_b7a2_1cc605d8a2b7</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;1.﻿4. Comentarios&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_7efdb2d1_7c33_4364_ac9c_20f026459821</name>
        <label>IRC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_3eaaa43f_7628_4db8_a599_4741c3727efb</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_3e9f0b8c_7322_407b_85ff_75a36b949bab_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_3e9f0b8c_7322_407b_85ff_75a36b949bab</name>
            <choiceReferences>c_d70ab45a_d84b_4929_a506_419d1eba5313</choiceReferences>
            <choiceReferences>c_f61b6e35_b991_41d6_b53a_c07686775a2e</choiceReferences>
            <choiceReferences>c_10bbedde_5306_43fd_9c05_c286481a0895</choiceReferences>
            <choiceReferences>c_f8121392_7a62_49f5_85ba_0013885b82b9</choiceReferences>
            <choiceReferences>c_265fd761_e302_4c1b_9e31_ad747d6f28cd</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 22px;&quot;&gt;3.0. ﻿En escala del 1 al 5, considerando 1 el más bajo y 5 el más alto ¿Qué tan probable es que nos recomiende con un amigo o familiar? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_7feeeecf_02f2_4328_bd81_57d66231ae20</name>
        <label>SA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_ea2271ea_b9c6_4667_a2ce_09e59589c345</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_9a741a4d_d2f8_460e_a829_b6dc763be0ce_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_9a741a4d_d2f8_460e_a829_b6dc763be0ce</name>
            <choiceReferences>c_7a03f596_67ab_4fa0_bf3d_4b3edca3435d</choiceReferences>
            <choiceReferences>c_6d22e432_f1d7_4a7e_8227_833b4afefb59</choiceReferences>
            <choiceReferences>c_f85bb553_1391_4fb8_9fa8_106d1b9a1d79</choiceReferences>
            <choiceReferences>c_d33b0d53_d454_4bac_b79b_961cca1f6498</choiceReferences>
            <choiceReferences>c_023683a7_8d35_4adf_8672_76f87ff1424c</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 22px;&quot;&gt;1.0. ﻿¿Cuál es su percepción de la atención y servicio ofrecido por Casas JAVER?&lt;/b&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_831ddf43_0ef6_44a1_aed0_fd121f082c45</name>
        <label>SA-MAL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_fb59e914_2726_4f59_8b2f_7cb9b50792ce</targetReference>
        </connector>
        <fields>
            <name>q_4754c052_2141_4a89_af65_076c3974c41e</name>
            <choiceReferences>c_d5279016_a2ec_43a8_8261_e1c23e91faa6</choiceReferences>
            <choiceReferences>c_8461eb0b_eca3_4c60_967d_ace3d87f8961</choiceReferences>
            <choiceReferences>c_709f17d0_63e6_4388_be7d_9417f1469db2</choiceReferences>
            <choiceReferences>c_558a31aa_20a9_4282_9c64_bc21d1ea7ef4</choiceReferences>
            <choiceReferences>c_1d345116_0a80_4243_9f7e_cf374a70a66a</choiceReferences>
            <choiceReferences>c_14b608b9_2c8a_4f78_ad9a_6bcf99bc076b</choiceReferences>
            <choiceReferences>c_0ab7b5f9_d6ae_4165_98b6_60aaf3a53877</choiceReferences>
            <choiceReferences>c_44549a0e_1e20_4068_81ba_b0cb14060d57</choiceReferences>
            <choiceReferences>c_f81011b0_922a_4d21_b139_dd36f7246e8c</choiceReferences>
            <choiceReferences>c_92f9979b_8578_4cac_8eed_636851433a56</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;1.1. ¿Qué debemos realizar para mejorar la pregunta anterior? &lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>q_2364a553_456b_4aab_82eb_a067f62a16ad</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;1.2. Comentarios&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_8faf8719_746e_4a26_95d5_4779d25e1d4c</name>
        <label>SP-MAL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_45e39743_4bcc_48c9_8760_a5fcc92ea736</targetReference>
        </connector>
        <fields>
            <name>q_6010a561_97ce_4c2e_9de3_51fe00d29c2c</name>
            <choiceReferences>c_8ceebe16_b2e4_49e9_a662_a14a7a3f3802</choiceReferences>
            <choiceReferences>c_5b66181e_229f_4d3d_aeca_675b424e72de</choiceReferences>
            <choiceReferences>c_1b02b528_bbe0_43f6_a575_a75a88a042bd</choiceReferences>
            <choiceReferences>c_b30942c6_72c2_4ad8_8568_8a66d5814768</choiceReferences>
            <choiceReferences>c_c870b696_4b66_45dd_9267_2b9b10eaaa5e</choiceReferences>
            <choiceReferences>c_30e6d011_b254_4d25_912f_1dddff8c52e4</choiceReferences>
            <choiceReferences>c_1f5ccb49_528e_447e_8276_f6a6d85e81bf</choiceReferences>
            <choiceReferences>c_dff9f25f_ba81_4164_911f_a85d9eaed720</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;2.1. ﻿¿Qué debemos realizar para mejorar la pregunta anterior? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>q_510f2db3_8a99_4257_a4bc_d111370f613e</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;2.2. Comentarios&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_9b6901a8_0a1f_47d1_97c0_27a993c9fc76</name>
        <label>SP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_fc42577e_c3f1_460a_80da_2492a0b4fab7</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_3d678daf_5b87_4b4f_8d2a_3b1951741c4b_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_3d678daf_5b87_4b4f_8d2a_3b1951741c4b</name>
            <choiceReferences>c_83a91f41_2275_4b80_a7ce_e0ad5634bb8b</choiceReferences>
            <choiceReferences>c_9e2554be_5090_496e_aa9b_2f1f44ec1443</choiceReferences>
            <choiceReferences>c_beb4181a_ea77_4d0e_9f0e_924864fdf983</choiceReferences>
            <choiceReferences>c_e81b4d8d_3030_4ecb_8c97_133062ac3914</choiceReferences>
            <choiceReferences>c_27622686_7d84_4c40_b3aa_4842b401a7ec</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 22px;&quot;&gt;2.0. ﻿¿Qué tan satisfecho se encuentra con su vivienda?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_7feeeecf_02f2_4328_bd81_57d66231ae20</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>welcome_page</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;&amp;nbsp;¡Gracias por completar nuestra encuesta, su opinión nos ayuda a seguir mejorando!﻿&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;1 año con tu vivienda,&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;¡Cuéntanos tu experiencia!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_3d678daf_5b87_4b4f_8d2a_3b1951741c4b_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_3e9f0b8c_7322_407b_85ff_75a36b949bab_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_9a741a4d_d2f8_460e_a829_b6dc763be0ce_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
