unpackaged/main/default/flows/Fondo_de_Garant_a_Actualiza_asignaciones.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Tiene_Asesor</name>
        <label>Tiene Asesor?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Tiene_Prospectador</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asesor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Asignacion_Asesor</targetReference>
            </connector>
            <label>Si Tiene Asesor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Colaborador</name>
        <label>Tiene Colaborador?</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Tiene_Lead_Profiler</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_tiene_Colaborador</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Colaborador_Javer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Asignacion_Colaborador</targetReference>
            </connector>
            <label>Si tiene Colaborador</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Lead_Profiler</name>
        <label>Tiene Lead Profiler?</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Obtiene_Plan_de_Venta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_tiene_Lead_Profiler</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Profiler__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Asignacion_LP</targetReference>
            </connector>
            <label>Si tiene Lead Profiler</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Prospectador</name>
        <label>Tiene Prospectador?</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Tiene_Colaborador</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prospectador__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Asignacion_Prospectador</targetReference>
            </connector>
            <label>Si tiene Prospectador</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Fondo de Garantía - Actualiza asignaciones {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fondo de Garantía - Actualiza asignaciones</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtiene_Colaborador_Gen_rico</name>
        <label>Obtiene Colaborador Genérico</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tiene_Asesor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JAVER GENERICO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Colaborador_Javer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_el_id_del_Usuario_Gen_eico</name>
        <label>Obtiene el id del Usuario Genérico</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtiene_Colaborador_Gen_rico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GENERICO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_Plan_de_Venta</name>
        <label>Obtiene Plan de Venta</label>
        <locationX>182</locationX>
        <locationY>1739</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualiza_Check_Fondo_de_Garant_a_en_Plan_de_Venta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Plan_de_Venta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Asignacion_Asesor</name>
        <label>Actualiza Asignacion Asesor</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Tiene_Prospectador</targetReference>
        </connector>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>Obtiene_el_id_del_Usuario_Gen_eico.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_cambio_asesor__c</field>
            <value>
                <stringValue>Se modifico la asignación del Asesor por Fondo de Garantía</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Asignacion_Colaborador</name>
        <label>Actualiza Asignacion Colaborador</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Tiene_Lead_Profiler</targetReference>
        </connector>
        <inputAssignments>
            <field>Colaborador_Javer__c</field>
            <value>
                <elementReference>Obtiene_Colaborador_Gen_rico.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_cambio_Colaborador_Javer__c</field>
            <value>
                <stringValue>Se modifico la asignación del Colaborador por Fondo de Garantía</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Asignacion_LP</name>
        <label>Actualiza Asignacion LP</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Obtiene_Plan_de_Venta</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead_Profiler__c</field>
            <value>
                <elementReference>Obtiene_el_id_del_Usuario_Gen_eico.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_cambio_Lead_Profiler__c</field>
            <value>
                <stringValue>Se modifico la asignación del Lead Profiler por Fondo de Garantía</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Asignacion_Prospectador</name>
        <label>Actualiza Asignacion Prospectador</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Tiene_Colaborador</targetReference>
        </connector>
        <inputAssignments>
            <field>Motivo_cambio_prospectador__c</field>
            <value>
                <stringValue>Se modifico la asignación del Prospectador por Fondo de Garantía</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prospectador__c</field>
            <value>
                <elementReference>Obtiene_el_id_del_Usuario_Gen_eico.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza Check Fondo de Garantía en Plan de Venta</description>
        <name>Actualiza_Check_Fondo_de_Garant_a_en_Plan_de_Venta</name>
        <label>Actualiza Check Fondo de Garantía en Plan de Venta</label>
        <locationX>182</locationX>
        <locationY>1847</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtiene_Plan_de_Venta.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fondo_de_Garantia__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Plan_de_Venta__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtiene_el_id_del_Usuario_Gen_eico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Producto_financiero__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FONDO DE GARANTIA</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Escriturado</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Entregado</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
