unpackaged/main/default/flows/Get_Company_Privacy_Agreement_to_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Fraccionamiento_id_Exist</name>
        <label>Fraccionamiento id Exist?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fraccionamiento_cta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Company</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Get Company Privacy Agreement to Account</description>
    <environments>Default</environments>
    <interviewLabel>Get Company Privacy Agreement to Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Company Privacy Agreement to Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Company</name>
        <label>Get Company</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Privacy_Agreement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fraccionamiento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Fraccionamiento_cta__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fraccionamiento_Asociado__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Privacy_Agreement</name>
        <label>Get Privacy Agreement</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Company_Privacy_Notice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Company.Company__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Privacy_Notice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>debugg__c</field>
            <value>
                <stringValue>Fault &quot;Get Company Privacy&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Company_Privacy_Notice</name>
        <label>Set Company Privacy Notice</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Aviso_de_Privadidad_Relacionado2__c</field>
            <value>
                <elementReference>Get_Privacy_Agreement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Aviso_de_Privadidad_Relacionado__c</field>
            <value>
                <elementReference>Get_Privacy_Agreement.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fraccionamiento_id_Exist</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Fraccionamiento_cta__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Estatus_Cliente__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>BAJA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estatus_Cliente__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>INCUBADORA</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
