unpackaged/main/default/flows/JBSystemFlow_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6_FireJBTrigger</name>
        <label>SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514012093</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;JMC_UEN__c&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj92d4938c5a2c1bd56e8a4181201daefb_FireJBTrigger</name>
        <label>SalesforceObj92d4938c5a2c1bd56e8a4181201daefb_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj92d4938c5a2c1bd56e8a4181201daefb</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514012093</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;City&quot;,&quot;Email&quot;,&quot;Phone&quot;,&quot;State&quot;,&quot;Title&quot;,&quot;Status&quot;,&quot;Rating&quot;,&quot;Street&quot;,&quot;Company&quot;,&quot;Country&quot;,&quot;Industry&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;JMC_25__c&quot;,&quot;JMC_NSS__c&quot;,&quot;MiddleName&quot;,&quot;Salutation&quot;,&quot;PostalCode&quot;,&quot;JMC_UEN__c&quot;,&quot;LeadSource&quot;,&quot;CreatedDate&quot;,&quot;JMC_Lote__c&quot;,&quot;JMC_Zona__c&quot;,&quot;JMC_CURP__c&quot;,&quot;IsConverted&quot;,&quot;JMC_Edad__c&quot;,&quot;JMC_Estado__c&quot;,&quot;JMC_Fuente__c&quot;,&quot;JMC_Asunto__c&quot;,&quot;ConvertedDate&quot;,&quot;JMC_Genero__c&quot;,&quot;JMC_Manzana__c&quot;,&quot;IsUnreadByOwner&quot;,&quot;JMC_Perfilar__c&quot;,&quot;JMC_Programas__c&quot;,&quot;LastModifiedDate&quot;,&quot;EmailBouncedDate&quot;,&quot;JMC_CanalVenta__c&quot;,&quot;JMC_EstatusLead__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;EmailBouncedReason&quot;,&quot;JMC_TipoCredito__c&quot;,&quot;JMC_LeadProfile__c&quot;,&quot;JMC_FechaCaptura__c&quot;,&quot;JMC_RangoSalarial__c&quot;,&quot;JMC_UnidadNegocio__c&quot;,&quot;JMC_TiempoDeCompra__c&quot;,&quot;JMC_FechaLibCredYY__c&quot;,&quot;JMC_AsesorAsignado__c&quot;,&quot;JMC_FechaAsignacion__c&quot;,&quot;JMC_Analisisinterno__c&quot;,&quot;JMC_PuntosInfonavit__c&quot;,&quot;JMC_FechaReRegistro__c&quot;,&quot;JMC_FechaNacimiento__c&quot;,&quot;JMC_ApellidoMaterno__c&quot;,&quot;JMC_CapacidadCompra__c&quot;,&quot;JMC_EstadoFovissste__c&quot;,&quot;JMC_Precalificacion__c&quot;,&quot;JMC_CalificaSubsidio__c&quot;,&quot;JMC_FechaVencimiento__c&quot;,&quot;JMC_FechaProspeccion__c&quot;,&quot;JMC_ManeraPrefContact__c&quot;,&quot;JMC_PresupuestoCompra__c&quot;,&quot;JMC_AntiguedadLaboral__c&quot;,&quot;JMC_FechaNacimientoFB__c&quot;,&quot;JMC_FraccionamientoMC__c&quot;,&quot;ErrorCodeResponseSOAP__c&quot;,&quot;JMC_CapacidadFOVISSSTE__c&quot;,&quot;JMC_SituacionFovissste__c&quot;,&quot;Mensaje_error_Infonavit__c&quot;,&quot;JMC_OtroFraccionamiento__c&quot;,&quot;JMC_Deseascomprarunacasa__c&quot;,&quot;JMC_MontoCreditoInfonavit__c&quot;,&quot;JMC_TipoSolicitudFovissste__c&quot;,&quot;et4ae5__Mobile_Country_Code__c&quot;,&quot;et4ae5__HasOptedOutOfMobile__c&quot;,&quot;JMC_ProspectadorMASComercial__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6</name>
        <label>JB_Decision_Null_Check_SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj92d4938c5a2c1bd56e8a4181201daefb</name>
        <label>JB_Decision_Null_Check_SalesforceObj92d4938c5a2c1bd56e8a4181201daefb</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj92d4938c5a2c1bd56e8a4181201daefb_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj92d4938c5a2c1bd56e8a4181201daefb_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj92d4938c5a2c1bd56e8a4181201daefb_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6_Decision</name>
        <label>JB_SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.JMC_TipoCredito__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FOVISSSTE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6_State_change_Decision</name>
        <label>JB_SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.JMC_TipoCredito__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FOVISSSTE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj92d4938c5a2c1bd56e8a4181201daefb_Decision</name>
        <label>JB_SalesforceObj92d4938c5a2c1bd56e8a4181201daefb_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj2e4c163cb0d2d40a37dcc6e76fe388b6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj92d4938c5a2c1bd56e8a4181201daefb</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.JMC_Fuente__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Mundo Javer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj92d4938c5a2c1bd56e8a4181201daefb_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj92d4938c5a2c1bd56e8a4181201daefb</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Lead</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj92d4938c5a2c1bd56e8a4181201daefb</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
