unpackaged/main/default/flows/Lista_de_PRecios_Reset_de_Campos_Control.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Valida_el_tipo_de_lista</name>
        <label>Valida el tipo de lista</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>El Resto de las Listas de Precios</defaultConnectorLabel>
        <rules>
            <name>Ees_lista_Generica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Registro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Producto Genérico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Lista_de_Productos_Genericos</targetReference>
            </connector>
            <label>Ees lista Genérica</label>
        </rules>
    </decisions>
    <description>Flow que aprueba las listas Genéricas</description>
    <environments>Default</environments>
    <interviewLabel>Lista de PRecios - Reset de Campos Control {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lista de Precios - Aprueba Lista Genérica</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetPriceBookData</name>
        <label>GetPriceBookData</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valida_el_tipo_de_lista</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lista_de_precios__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Lista_de_Productos_Genericos</name>
        <label>Actualiza Lista de Productos Genéricos</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lista_de_precios__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estatus__c</field>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Aprobacion__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Modificable__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Pricebook2</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPriceBookData</targetReference>
        </connector>
        <object>Aprobacion_Lista_de_Precios__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>VarFecha</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
