unpackaged/main/default/flows/Monto_de_Descuadre_VO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Estatus</name>
        <label>Estatus</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Monto_Descuadre_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Estatus_Entregado_o_Escriturado</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escriturado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entregado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Monto_Descuadre</targetReference>
            </connector>
            <label>Estatus = Entregado o Escriturado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MontoDescuadre</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Monto_de_Descuadre_VO__c} + {!$Record.Amount }- {!$Record__Prior.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Monto de Descuadre VO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Monto de Descuadre VO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Monto_Descuadre</name>
        <label>Monto Descuadre</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Monto_de_Descuadre_VO__c</field>
            <value>
                <elementReference>MontoDescuadre</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Monto_Descuadre_0</name>
        <label>Monto Descuadre 0</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Monto_de_Descuadre_VO__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Estatus</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Amount</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
