unpackaged/main/default/flows/Pasar_Vivienda_de_Producto_de_Oportunidad_a_Plan_de_Venta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Nueva_vivienda</name>
        <label>Nueva vivienda?</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Borrar_Vivienda_de_Proceso_de_Venta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Tiene_Vivienda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tiene_Vivienda__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Producto_de_Oportunidad_con_Vivienda</targetReference>
            </connector>
            <label>Tiene Vivienda</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reubicacion</name>
        <label>Reubicación?</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Plan_de_Venta_Asignar_Casa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Ya_tuvo_casa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Plan_de_Venta__r.Reubicacion_Aux__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Plan_de_Venta_Reasignar_Casa</targetReference>
            </connector>
            <label>Ya tuvo casa</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Reubicaciones</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Plan_de_Venta__r.Cantidad_de_reubicaciones__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Pasar Vivienda de Producto de Oportunidad a Plan de Venta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pasar Vivienda de Producto de Oportunidad a Plan de Venta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Producto_de_Oportunidad_con_Vivienda</name>
        <label>Obtener Producto de Oportunidad con Vivienda</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Vivienda_a_Proceso_de_Venta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tiene_Vivienda__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Plan_de_Venta_Asignar_Casa</name>
        <label>Actualizar Plan de Venta - Asignar Casa</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Reubicacion_Aux__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vivienda__c</field>
            <value>
                <elementReference>$Record.Vivienda__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Plan_de_Venta__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Plan_de_Venta_Borrar_Casa</name>
        <label>Actualizar Plan de Venta - Borrar Casa</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Reubicacion_Aux__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vivienda__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Plan_de_Venta__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Plan_de_Venta_Reasignar_Casa</name>
        <label>Actualizar Plan de Venta - Reasignar Casa</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Cantidad_de_reubicaciones__c</field>
            <value>
                <elementReference>Reubicaciones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reubicacion_Aux__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vivienda__c</field>
            <value>
                <elementReference>$Record.Vivienda__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Plan_de_Venta__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Asignar_Vivienda_a_Proceso_de_Venta</name>
        <label>Asignar Vivienda a Proceso de Venta</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Reubicacion</targetReference>
        </connector>
        <inputAssignments>
            <field>Vivienda__c</field>
            <value>
                <elementReference>Obtener_Producto_de_Oportunidad_con_Vivienda.Vivienda__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Borrar_Vivienda_de_Proceso_de_Venta</name>
        <label>Borrar Vivienda de Proceso de Venta</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Actualizar_Plan_de_Venta_Borrar_Casa</targetReference>
        </connector>
        <inputAssignments>
            <field>Vivienda__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Nueva_vivienda</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tiene_Vivienda__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
