unpackaged/main/default/flows/PATCSurveyFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assignSurveySubject</name>
        <label>assignSurveySubject</label>
        <locationX>63</locationX>
        <locationY>512</locationY>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.SubjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PATCId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>surveyInvitationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.SurveyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>surveyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_surveyName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createSurveySubject</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>formula_surveyName</name>
        <dataType>String</dataType>
        <expression>&#39;Encuesta para Proceso &#39;</expression>
    </formulas>
    <interviewLabel>PATCSurveyFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PATCSurveyFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createSurveySubject</name>
        <label>createSurveySubject</label>
        <locationX>206</locationX>
        <locationY>611</locationY>
        <inputReference>sObjSurveySubject</inputReference>
    </recordCreates>
    <recordCreates>
        <name>SurveyInvitation</name>
        <label>SurveyInvitation</label>
        <locationX>212</locationX>
        <locationY>447</locationY>
        <assignRecordIdToReference>surveyInvitationId</assignRecordIdToReference>
        <connector>
            <targetReference>assignSurveySubject</targetReference>
        </connector>
        <inputAssignments>
            <field>CommunityId</field>
            <value>
                <elementReference>communityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>contactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fraccionamiento__c</field>
            <value>
                <elementReference>Fracc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>form_surveyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsAllowGuestUserResponse</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsCollectAnonymousResponse</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proceso_ATC__c</field>
            <value>
                <elementReference>PATCId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyId</field>
            <value>
                <elementReference>surveyId</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyInvitation</object>
    </recordCreates>
    <recordLookups>
        <name>LookupCommunity</name>
        <label>LookupCommunity</label>
        <locationX>475</locationX>
        <locationY>281</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupSurvey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Encuestas</stringValue>
            </value>
        </filters>
        <object>Network</object>
        <outputAssignments>
            <assignToReference>communityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupContact</name>
        <label>LookupContact</label>
        <locationX>342</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupCommunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>contactEmail</assignToReference>
            <field>CorreoElectronico__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupPATC</name>
        <label>LookupPATC</label>
        <locationX>186</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PATCId</elementReference>
            </value>
        </filters>
        <object>Inventario__c</object>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>Cuenta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Fracc</assignToReference>
            <field>Fracc__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PATCNumber</assignToReference>
            <field>NumeroInterior__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupSurvey</name>
        <label>LookupSurvey</label>
        <locationX>350</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SurveyInvitation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Entrega vivienda</stringValue>
            </value>
        </filters>
        <object>Survey</object>
        <outputAssignments>
            <assignToReference>surveyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>LookupPATC</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>form_surveyName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Encuesta para Proceso {!PATCNumber}</text>
    </textTemplates>
    <variables>
        <name>communityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Fracc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PATCId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PATCNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjSurveySubject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SurveySubject</objectType>
    </variables>
    <variables>
        <name>surveyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>surveyInvitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
