unpackaged/main/default/flows/Plan_de_Venta_Cuenta_Productos_Iguasles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_xx</name>
        <label>Copy 1 of xx</label>
        <locationX>512</locationX>
        <locationY>323</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Hay_mas_de_1_Producto</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <stringValue>Si Entro al Flow que Cuenta Productos Iguales</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>xx</name>
        <label>xx</label>
        <locationX>50</locationX>
        <locationY>2555</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <stringValue>Si Entro al Actualiar los Productos Duplicados</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Le_Resta_1</name>
        <label>Le Resta 1</label>
        <locationX>622</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>Cuenta_el_Numero_de_Paquetes</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop1_PAQ_Productos_iguales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Le_Resta_1_PROMO</name>
        <label>Le Resta 1_PROMO</label>
        <locationX>622</locationX>
        <locationY>2147</locationY>
        <assignmentItems>
            <assignToReference>Cuenta_el_Numero_de_Promos</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop1_Promos_iguales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Suma_1</name>
        <label>Suma 1 PAQ</label>
        <locationX>710</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Cuenta_el_Numero_de_Paquetes</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop2_PAQ_Compara_y_Cuenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Suma_1_a_Promo</name>
        <label>Suma 1 a Promo</label>
        <locationX>710</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>Cuenta_el_Numero_de_Promos</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop2_Promos_iguales</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Compara_Nombre_PAQ</name>
        <label>Compara Nombre PAQ</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Loop2_PAQ_Compara_y_Cuenta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Son_Iguales_PAQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop1_PAQ_Productos_iguales.Producto__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop2_PAQ_Compara_y_Cuenta.Producto__r.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suma_1</targetReference>
            </connector>
            <label>Si Son Iguales PAQ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compara_Nombre_Promo</name>
        <label>Compara Nombre Promo</label>
        <locationX>842</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>Loop2_Promos_iguales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Son_Iguales_Promo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop1_Promos_iguales.Producto__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop2_Promos_iguales.Producto__r.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suma_1_a_Promo</targetReference>
            </connector>
            <label>Si Son Iguales Promo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_mas_de_1_Producto</name>
        <label>Hay mas de 1 Producto?</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Actualiza_Paquetes_Duplicados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay Produstos</defaultConnectorLabel>
        <rules>
            <name>Si_hay_mas_de_1_Producto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cantidad_de_Promociones_y_Paquetes__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtiene_Paquetes</targetReference>
            </connector>
            <label>Si hay mas de 1 Producto</label>
        </rules>
        <rules>
            <name>Solo_hay_1_Producto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cantidad_de_Promociones_y_Paquetes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Actualiza_Paquetes_Duplicados</targetReference>
            </connector>
            <label>Solo hay 1 Producto</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifica que la cuenta de Productos igules sea mayor a 1</description>
        <name>La_cuenta_es_1</name>
        <label>La cuenta es &gt; 1</label>
        <locationX>182</locationX>
        <locationY>2339</locationY>
        <defaultConnector>
            <targetReference>Actualiza_Paquetes_Duplicados_a_Falso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay Promo/Paquetes Iguales</defaultConnectorLabel>
        <rules>
            <name>Si_hay_Productos_iguales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarSumaCountsPromoyPquetes</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Paquetes_Duplicados</targetReference>
            </connector>
            <label>Si hay Promo/Paquetes iguales</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>VarSumaCountsPromoyPquetes</name>
        <dataType>Number</dataType>
        <expression>{!Cuenta_el_Numero_de_Paquetes} + {!Cuenta_el_Numero_de_Promos}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Plan de Venta - Cuenta Productos Iguasles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Plan de Venta - Cuenta Productos Iguales</label>
    <loops>
        <name>Loop1_PAQ_Productos_iguales</name>
        <label>Loop1 - PAQ - Productos iguales</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <collectionReference>Obtiene_Paquetes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop2_PAQ_Compara_y_Cuenta</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obtiene_Promos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop1_Promos_iguales</name>
        <label>Loop1 - Promos iguales</label>
        <locationX>182</locationX>
        <locationY>1547</locationY>
        <collectionReference>Obtiene_Promos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop2_Promos_iguales</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>La_cuenta_es_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop2_PAQ_Compara_y_Cuenta</name>
        <label>Loop2 - PAQ - Compara y Cuenta</label>
        <locationX>622</locationX>
        <locationY>755</locationY>
        <collectionReference>Obtiene_Paquetes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Compara_Nombre_PAQ</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Le_Resta_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop2_Promos_iguales</name>
        <label>Loop2- Promos iguales</label>
        <locationX>622</locationX>
        <locationY>1655</locationY>
        <collectionReference>Obtiene_Promos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Compara_Nombre_Promo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Le_Resta_1_PROMO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtiene_Paquetes</name>
        <label>Obtiene Paquetes</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop1_PAQ_Productos_iguales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plan_de_Venta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Producto__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Paquete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Producto_de_Plan_de_Venta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_Promos</name>
        <label>Obtiene Promos</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop1_Promos_iguales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plan_de_Venta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Producto__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Promoci贸n de Venta</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Producto_de_Plan_de_Venta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Paquetes_Duplicados</name>
        <label>Actualiza Paquetes Duplicados</label>
        <locationX>50</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>xx</targetReference>
        </connector>
        <inputAssignments>
            <field>Debug__c</field>
            <value>
                <stringValue>{!$Flow.CurrentDateTime - Si se ejecuto el Flow de Cuenta Registros</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paquetes_Promociones_de_Venta_Duplicadas__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Si no hay paquetes duplicados o se eliminan, se actualiza la validaci贸n</description>
        <name>Actualiza_Paquetes_Duplicados_a_Falso</name>
        <label>Actualiza Paquetes Duplicados</label>
        <locationX>314</locationX>
        <locationY>2447</locationY>
        <inputAssignments>
            <field>Paquetes_Promociones_de_Venta_Duplicadas__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Si no hay paquetes duplicados o se eliminan, se actualiza la validaci贸n</description>
        <name>Copy_1_of_Actualiza_Paquetes_Duplicados</name>
        <label>Copy 1 of Actualiza Paquetes Duplicados</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Paquetes_Promociones_de_Venta_Duplicadas__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Si no hay paquetes duplicados o se eliminan, se actualiza la validaci贸n</description>
        <name>Copy_2_of_Actualiza_Paquetes_Duplicados</name>
        <label>Copy 2 of Actualiza Paquetes Duplicados</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Paquetes_Promociones_de_Venta_Duplicadas__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_xx</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>En_aprobacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Estatus_Plan_de_venta__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Por Aprobar</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estatus_Plan_de_venta__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cantidad_de_Promociones_y_Paquetes__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Regalos_Mkt2__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <object>Plan_de_Venta__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>700</triggerOrder>
    <variables>
        <name>Cuenta_el_Numero_de_Paquetes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Cuenta_el_Numero_de_Promos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_FiltraPaquetes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Producto_de_Plan_de_Venta__c</objectType>
    </variables>
    <variables>
        <name>Nombre_del_Producto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
