unpackaged/main/default/flows/Plan_de_Venta_Actualiza_Campos_via_ScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Verifica_LP_Vivienda</name>
        <label>Verifica LP Vivienda</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_hay_LP_Vivienda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Lista_de_Precios_Vivienda_Reciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPriceBookData</targetReference>
            </connector>
            <label>Si hay LP Vivienda</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Plan de Venta - Actualiza Campos via ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Plan de Venta - Actualiza Campos via ScreenFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetPlanDeVenta</name>
        <label>GetPlanDeVenta</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualiza_Datos_PlanVenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Plan_de_Venta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPriceBookData</name>
        <label>GetPriceBookData</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActualizaDatosPlanVenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPlanDeVenta.Lista_de_Precios_Vivienda_Reciente__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Datos_PlanVenta</name>
        <label>Actualiza Datos PlanVenta</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Verifica_LP_Vivienda</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Anticipo_Plain_Field__c</field>
            <value>
                <elementReference>GetPlanDeVenta.Anticipo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compara_Cred_Eng_Source_PlainField__c</field>
            <value>
                <elementReference>GetPlanDeVenta.Compara_Cred_Eng_Source_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compara_VO_Source_PlainField__c</field>
            <value>
                <elementReference>GetPlanDeVenta.Compara_VO_Source_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credito_Neto_1_Plain_Field__c</field>
            <value>
                <elementReference>GetPlanDeVenta.Credito_Neto_Final_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credito_Neto_2_Plain_Field__c</field>
            <value>
                <elementReference>GetPlanDeVenta.Credito_Neto_Final_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credito_Neto_3_Plain_Field__c</field>
            <value>
                <elementReference>GetPlanDeVenta.Credito_Neto_Final_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsidio_Plain_Field__c</field>
            <value>
                <elementReference>GetPlanDeVenta.Subsidio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Operacion_Plain_Field__c</field>
            <value>
                <elementReference>GetPlanDeVenta.Valor_Operacion_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <object>Plan_de_Venta__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizaDatosPlanVenta</name>
        <label>ActualizaDatosPlanVenta</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Precio_por_m2_exc_PlainField__c</field>
            <value>
                <elementReference>GetPriceBookData.CALC_Precio_Superficie_Excedente__c</elementReference>
            </value>
        </inputAssignments>
        <object>Plan_de_Venta__c</object>
    </recordUpdates>
    <screens>
        <name>SCR01_Pantalla_de_Sinconizacion_de_Datos</name>
        <label>SCR01_Pantalla de Sinconización de Datos</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetPlanDeVenta</targetReference>
        </connector>
        <fields>
            <name>MSG01_Titulo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Plan de Venta - Sincronización de Datos&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MSG02_PresentationSCR</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mXE5?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Shynch Icon L.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Se van a sincronizar los datos del Plan de Venta con los registros relacionados. &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Esta operación puede durar unos minutos.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SCR01_Pantalla_de_Sinconizacion_de_Datos</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
