unpackaged/main/default/flows/PLAN_DE_VENTAS_Actualiza_Checks_Aprobados.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Debug1</name>
        <label>Debug1</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Debugg</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <stringValue>******************   Entro Flow PLN D VTA - Actualiza Checks</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Asinga_CHK_Excepcion_Descuento_Empleado</name>
        <label>Asinga CHK Excepcion Descuento Empleado</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>VarActualizacionPlanDeVenta.Chk_Aprob_Excepcion_Desc_Empleado_JAVER__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarActualizacionPlanDeVenta.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Paquetes_y_Promociones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asinga_Descuento</name>
        <label>Asinga Descuento</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>VarActualizacionPlanDeVenta.Chk_Aprob_Excepcion_Bonif_Plan_Venta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarActualizacionPlanDeVenta.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Excepcion_Descuento_Empleado_Javer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CHK_Paq_y_Promos</name>
        <label>CHK Paq y Promos</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>VarActualizacionPlanDeVenta.Chk_Aprob_Paq_Promo_Venta_Duplicadas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarActualizacionPlanDeVenta.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X1_Reglaos_de_Mkt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_CHK_Paq_y_Promos</name>
        <label>Copy 1 of CHK Paq y Promos</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>VarActualizacionPlanDeVenta.Chk_Aprob_1_Regalos_MKT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarActualizacionPlanDeVenta.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prod_Bonificaci_n_Menor_a_PMdV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_CHK_Paq_y_Promos</name>
        <label>Copy 1 of Copy 1 of CHK Paq y Promos</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>VarActualizacionPlanDeVenta.Chk_Aprob_Prod_Bonif_Menor_P_Min_Venta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarActualizacionPlanDeVenta.Chk_Aprob_VO_menor_P_Min_Venta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarActualizacionPlanDeVenta.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizaPlanDeVenta</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Excepcion_Descuento_Empleado_Javer</name>
        <label>Excepcion Descuento Empleado Javer</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Paquetes_y_Promociones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No. No Cambio</defaultConnectorLabel>
        <rules>
            <name>Si_Si_Cambio_El_Descuento_Empleado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Descuento_Empleado_Javer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asinga_CHK_Excepcion_Descuento_Empleado</targetReference>
            </connector>
            <label>Si, Si Cambio El Descuento Empleado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exepci_n_Plan_de_Venta</name>
        <label>Exepción Plan de Venta</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Excepcion_Descuento_Empleado_Javer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No. No Cambio</defaultConnectorLabel>
        <rules>
            <name>Cambio_La_Bonificaci_n_Plan_de_Venta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Importe_Descuento__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asinga_Descuento</targetReference>
            </connector>
            <label>Si, Si Cambio El Descuento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Paquetes_y_Promociones</name>
        <label>Paquetes y Promociones</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>X1_Reglaos_de_Mkt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No. No Cambio</defaultConnectorLabel>
        <rules>
            <name>Si_Si_Cambio_Paqueres_y_Promociones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Cantidad_Paq_y_Promos__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CHK_Paq_y_Promos</targetReference>
            </connector>
            <label>Si, Si Cambio Paqueres y Promociones</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prod_Bonificaci_n_Menor_a_PMdV</name>
        <label>Prod + Bonificación Menor a PMdV</label>
        <locationX>182</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>ActualizaPlanDeVenta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No. No Cambio</defaultConnectorLabel>
        <rules>
            <name>Si_Si_Cambio_VO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Valor_Operacion_Formula__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_CHK_Paq_y_Promos</targetReference>
            </connector>
            <label>Si, Si Cambio VO</label>
        </rules>
    </decisions>
    <decisions>
        <name>X1_Reglaos_de_Mkt</name>
        <label>+1 Reglaos de Mkt</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Prod_Bonificaci_n_Menor_a_PMdV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No. No Cambio</defaultConnectorLabel>
        <rules>
            <name>Si_Si_Regalos_de_Mkt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Regalos_Mkt2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_CHK_Paq_y_Promos</targetReference>
            </connector>
            <label>Si, Si Regalos de Mkt</label>
        </rules>
    </decisions>
    <description>Actualiza los Checks de las aprobaciones anteriores si los valores fueron modificados y se require que se envien nuevamente a aprobación</description>
    <environments>Default</environments>
    <interviewLabel>PLAN DE VENTAS - Actualiza Checks Aprobados {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PLAN DE VENTAS - Actualiza Checks Aprobados</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>ActualizaPlanDeVenta</name>
        <label>ActualizaPlanDeVenta</label>
        <locationX>182</locationX>
        <locationY>2039</locationY>
        <inputReference>VarActualizacionPlanDeVenta</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Debugg</name>
        <label>Debugg</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Exepci_n_Plan_de_Venta</targetReference>
        </connector>
        <inputAssignments>
            <field>Debug__c</field>
            <value>
                <stringValue>{!$Flow.CurrentDateTime} - *******  Si entro al Proceso de Actualizacion de PLN D VTA  Check´s</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Debug1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tipo_de_Plan_de_Venta__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reestructura</stringValue>
            </value>
        </filters>
        <filters>
            <field>Chk_ReStruct_Prod_Plan_de_Venta_Creados__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Chk_ReStruct_Vivienda_Asignada__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Estatus_Plan_de_venta__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </filters>
        <object>Plan_de_Venta__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>900</triggerOrder>
    <variables>
        <name>VarActualizacionPlanDeVenta</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plan_de_Venta__c</objectType>
    </variables>
</Flow>
