unpackaged/main/default/flows/Plan_de_Venta_Consolidado2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Asignar_Lista_Precio_Bonificaciones</name>
        <label>Asignar Lista Precio Bonificaciones</label>
        <locationX>314</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>vListaPrecioBonificaciones</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Lista_de_Precios_Bonificaciones_Reciente.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Lista_de_Precios_Regalos_MKT_Reciente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Lista_Precio_Paquetes</name>
        <label>Asignar Lista Precio Paquetes</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>vListaPrecioPaquete</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Lista_de_Precios_Paquetes_Reciente.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Lista_de_Precios_Promociones_Venta_Reciente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Lista_Precio_Promociones</name>
        <label>Asignar Lista Precio Promociones</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>vListaPrecioPromociones</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Lista_de_Precios_Promociones_Venta_Reciente.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Lista_de_Precios_Promociones_Precio_Reciente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Lista_Precios_Casa_Muestra</name>
        <label>Asignar Lista Precios Casa Muestra</label>
        <locationX>314</locationX>
        <locationY>3911</locationY>
        <assignmentItems>
            <assignToReference>vListaPrecioCasaMuestra</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Lista_de_Precios_Casa_Muestra_Reciente.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Lista_de_Precios_de_Financiemineto_Enganche</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Lista_Precios_Complementos</name>
        <label>Asignar Lista Precios Complementos</label>
        <locationX>314</locationX>
        <locationY>3095</locationY>
        <assignmentItems>
            <assignToReference>vListaPreciosComplementos</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Lista_de_Precios_Complementos_Reciente.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Lista_de_Precios_Otros_Gastos_Reciente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Lista_Precios_Finan_Enganche</name>
        <label>Asignar Lista Precios Finan Enganche</label>
        <locationX>314</locationX>
        <locationY>4319</locationY>
        <assignmentItems>
            <assignToReference>vListaPrecioFinanEnganche</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Lista_de_Precios_de_Financiemineto_Enganche.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Listas_de_Precios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Lista_Precios_Otros_Gastos</name>
        <label>Asignar Lista Precios Otros Gastos</label>
        <locationX>314</locationX>
        <locationY>3503</locationY>
        <assignmentItems>
            <assignToReference>vListaPrecioOtrosGastos</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Lista_de_Precios_Otros_Gastos_Reciente.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Lista_de_Precios_Casa_Muestra_Reciente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Lista_Precios_Regalos_MKT</name>
        <label>Asignar Lista Precios Regalos MKT</label>
        <locationX>314</locationX>
        <locationY>2687</locationY>
        <assignmentItems>
            <assignToReference>vListaPreciosRegalosMKT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Lista_de_Precios_Regalos_MKT_Reciente.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Lista_de_Precios_Complementos_Reciente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Blank_Lista_de_Precio_Viviendas</name>
        <label>Blank Lista de Precio Viviendas</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>vListaViviendas</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarListaPreciosBlank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Lista_de_Precios_Paquetes_Reciente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Blank_Lista_Precio_Bonificaciones</name>
        <label>Blank Lista Precio Bonificaciones</label>
        <locationX>578</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>vListaPrecioBonificaciones</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarListaPreciosBlank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Lista_de_Precios_Regalos_MKT_Reciente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Blank_Lista_Precio_Paquetes</name>
        <label>Blank Lista Precio Paquetes</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>vListaPrecioPaquete</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarListaPreciosBlank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Lista_de_Precios_Promociones_Venta_Reciente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Blank_Lista_Precio_Promociones</name>
        <label>Blank Lista Precio Promociones</label>
        <locationX>578</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>vListaPrecioPromociones</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarListaPreciosBlank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Lista_de_Precios_Promociones_Precio_Reciente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Blank_Lista_Precio_PromoPrecio</name>
        <label>Blank Lista Precio PromoPrecio</label>
        <locationX>578</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>vListaPrecioPromoPrecio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarListaPreciosBlank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Lista_de_Precios_Bonificaciones_Reciente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Asignar_Lista_Precio_Promociones</name>
        <label>Copy 1 of Asignar Lista Precio Promociones</label>
        <locationX>314</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>vListaPrecioPromoPrecio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Lista_de_Precios_Promociones_Precio_Reciente.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Lista_de_Precios_Bonificaciones_Reciente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_Lista_de_Precio_Viviendas</name>
        <label>Guardar Lista de Precio Viviendas</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>vListaViviendas</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Lista_de_Precios_Vivienda_Reciente.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Lista_de_Precios_Paquetes_Reciente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lista_Precios_Blank</name>
        <label>Lista Precios Blank</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>vListaPreciosRegalosMKT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarListaPreciosBlank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vListaPreciosComplementos</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarListaPreciosBlank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vListaPrecioOtrosGastos</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarListaPreciosBlank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vListaPrecioCasaMuestra</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarListaPreciosBlank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vListaPrecioBonificaciones</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarListaPreciosBlank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vListaPrecioCasaMuestra</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarListaPreciosBlank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vListaPrecioFinanEnganche</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarListaPreciosBlank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vListaViviendas</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarListaPreciosBlank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vListaPrecioPaquete</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarListaPreciosBlank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vListaPrecioPromoPrecio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarListaPreciosBlank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vListaPrecioPromociones</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarListaPreciosBlank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hay_Lista_de_Precios_de_Vivienda_Reciente</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>VarListaPreciosBlank</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Cambio_Vivienda</name>
        <label>Cambio Vivienda</label>
        <locationX>446</locationX>
        <locationY>4835</locationY>
        <defaultConnector>
            <targetReference>ReActualiza_Plan_de_Venta_Id_en_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay cambio</defaultConnectorLabel>
        <rules>
            <name>Se_elimino_vivienda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vivienda__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Vivienda__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eliminar_Producto_de_Oportunidad_Vivienda</targetReference>
            </connector>
            <label>Se eliminó vivienda</label>
        </rules>
        <rules>
            <name>Se_agreg_vivienda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vivienda__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Vivienda__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Estatus_Proceso_de_Venta</targetReference>
            </connector>
            <label>Se agregó vivienda</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_el_Producto</name>
        <label>Existe el Producto?</label>
        <locationX>446</locationX>
        <locationY>5267</locationY>
        <defaultConnector>
            <targetReference>Crear_Producto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Producto_Vivienda</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Producto_Vivienda_2</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_Lista_de_Precios_de_Bonificaciones_Reciente</name>
        <label>Hay Lista de Precios de Bonificaciones Reciente?</label>
        <locationX>446</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>Blank_Lista_Precio_Bonificaciones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_Bonificaciones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Lista_de_Precios_Bonificaciones_Reciente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Lista_Precio_Bonificaciones</targetReference>
            </connector>
            <label>Si Bonificaciones</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_Lista_de_Precios_de_Paquetes_Reciente</name>
        <label>Hay Lista de Precios de Paquetes Reciente?</label>
        <locationX>446</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Blank_Lista_Precio_Paquetes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_Paquetes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Lista_de_Precios_Paquetes_Reciente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Lista_Precio_Paquetes</targetReference>
            </connector>
            <label>Si Paquetes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_Lista_de_Precios_de_Promociones_de_Precio_Reciente</name>
        <label>Hay Lista de Precios de Promociones de Precio Reciente?</label>
        <locationX>446</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>Blank_Lista_Precio_PromoPrecio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_Promocion_Precio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Lista_de_Precios_Promociones_Precio_Reciente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Asignar_Lista_Precio_Promociones</targetReference>
            </connector>
            <label>Si Promocion Precio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_Lista_de_Precios_de_Promociones_de_Venta_Reciente</name>
        <label>Hay Lista de Precios de Promociones de Venta Reciente?</label>
        <locationX>446</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Blank_Lista_Precio_Promociones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_Promociones_Venta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Lista_de_Precios_Promociones_Venta_Reciente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Lista_Precio_Promociones</targetReference>
            </connector>
            <label>Si Promociones Venta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_Lista_de_Precios_de_Vivienda_Reciente</name>
        <label>Hay Lista de Precios de Vivienda Reciente?</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Blank_Lista_de_Precio_Viviendas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_Vivienda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Lista_de_Precios_Vivienda_Reciente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guardar_Lista_de_Precio_Viviendas</targetReference>
            </connector>
            <label>Si Vivienda</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_Lista_de_Precios_Reciente_para_Casa_Muestra</name>
        <label>Hay Lista de Precios Reciente para Casa Muestra?</label>
        <locationX>446</locationX>
        <locationY>3803</locationY>
        <defaultConnector>
            <targetReference>Obtener_Lista_de_Precios_de_Financiemineto_Enganche</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_Casa_Muestra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Lista_de_Precios_Casa_Muestra_Reciente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Lista_Precios_Casa_Muestra</targetReference>
            </connector>
            <label>Si Casa Muestra</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_Lista_de_Precios_Reciente_para_Complementos</name>
        <label>Hay Lista de Precios Reciente para Complementos?</label>
        <locationX>446</locationX>
        <locationY>2987</locationY>
        <defaultConnector>
            <targetReference>Obtener_Lista_de_Precios_Otros_Gastos_Reciente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_Complementos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Lista_de_Precios_Complementos_Reciente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Lista_Precios_Complementos</targetReference>
            </connector>
            <label>Si Complementos</label>
        </rules>
    </decisions>
    <decisions>
        <description>Hay Lista de Precios Reciente para Financiemiento?</description>
        <name>Hay_Lista_de_Precios_Reciente_para_Financiemiento</name>
        <label>Hay Lista de Precios Reciente para Financiemiento?</label>
        <locationX>446</locationX>
        <locationY>4211</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Listas_de_Precios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_Lista_Financiamiento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Lista_de_Precios_de_Financiemineto_Enganche</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Lista_Precios_Finan_Enganche</targetReference>
            </connector>
            <label>Si Lista Financiamiento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_Lista_de_Precios_Reciente_para_Otros_Gastos</name>
        <label>Hay Lista de Precios Reciente para Otros Gastos?</label>
        <locationX>446</locationX>
        <locationY>3395</locationY>
        <defaultConnector>
            <targetReference>Obtener_Lista_de_Precios_Casa_Muestra_Reciente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_Otros_Gastos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Lista_de_Precios_Otros_Gastos_Reciente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Lista_Precios_Otros_Gastos</targetReference>
            </connector>
            <label>Si Otros Gastos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_Lista_de_Precios_Reciente_para_Regalos_MKT</name>
        <label>Hay Lista de Precios Reciente para Regalos MKT?</label>
        <locationX>446</locationX>
        <locationY>2579</locationY>
        <defaultConnector>
            <targetReference>Obtener_Lista_de_Precios_Complementos_Reciente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_Regalos_MKT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Lista_de_Precios_Regalos_MKT_Reciente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Lista_Precios_Regalos_MKT</targetReference>
            </connector>
            <label>Si Regalos MKT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_Pricebook_Entry</name>
        <label>Hay Pricebook Entry?</label>
        <locationX>446</locationX>
        <locationY>5783</locationY>
        <defaultConnector>
            <targetReference>Crear_Pricebook_Entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_PE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Pricebook_Entry_del_Producto</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Producto_de_Oportunidad_Vivienda</targetReference>
            </connector>
            <label>Si PE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verificar_si_tuvo_vivienda</name>
        <label>Verificar si tuvo vivienda</label>
        <locationX>446</locationX>
        <locationY>6191</locationY>
        <defaultConnectorLabel>No tuvo vivienda</defaultConnectorLabel>
        <rules>
            <name>Tuvo_vivienda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reubicacion_Aux__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Conteo_de_Reubicaciones</targetReference>
            </connector>
            <label>Tuvo vivienda</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Reubicaciones</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Cantidad_de_reubicaciones__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Plan de Venta Consolidado2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Plan de Venta Consolidado v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Pricebook_Entry</name>
        <label>Crear Pricebook Entry</label>
        <locationX>534</locationX>
        <locationY>5891</locationY>
        <connector>
            <targetReference>Crear_Producto_de_Oportunidad_Vivienda</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Oportunidad__r.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Obtener_Producto_Vivienda_2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Producto</name>
        <label>Crear Producto</label>
        <locationX>534</locationX>
        <locationY>5375</locationY>
        <connector>
            <targetReference>Obtener_Producto_Vivienda_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Activo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Product created via flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Vivienda__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Precio_Venta__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vivienda__c</field>
            <value>
                <elementReference>$Record.Vivienda__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Producto_de_Oportunidad_Vivienda</name>
        <label>Crear Producto de Oportunidad - Vivienda</label>
        <locationX>446</locationX>
        <locationY>6083</locationY>
        <connector>
            <targetReference>Verificar_si_tuvo_vivienda</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Oportunidad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Obtener_Producto_Vivienda_2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Producto__c</field>
            <value>
                <stringValue>Vivienda</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>$Record.Precio_Seleccionado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vivienda__c</field>
            <value>
                <elementReference>$Record.Vivienda__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Eliminar_Producto_de_Oportunidad_Vivienda</name>
        <label>Eliminar Producto de Oportunidad - Vivienda</label>
        <locationX>50</locationX>
        <locationY>4943</locationY>
        <connector>
            <targetReference>Actualizar_Conteo_Reubicacion_Auxiliar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vivienda</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordDeletes>
    <recordLookups>
        <description>Obtener Lista de Precios Bonificaciones Reciente</description>
        <name>Obtener_Lista_de_Precios_Bonificaciones_Reciente</name>
        <label>Obtener Lista de Precios Bonificaciones Reciente</label>
        <locationX>446</locationX>
        <locationY>2063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_Lista_de_Precios_de_Bonificaciones_Reciente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fraccionamiento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad__r.Fraccionamiento__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Prototipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad__r.Prototipo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_Lista__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bonificación</stringValue>
            </value>
        </filters>
        <filters>
            <field>Vigente_Desde__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vigente_Hasta__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Lista_de_Precios_Casa_Muestra_Reciente</name>
        <label>Obtener Lista de Precios Casa Muestra Reciente</label>
        <locationX>446</locationX>
        <locationY>3695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_Lista_de_Precios_Reciente_para_Casa_Muestra</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_Lista__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Producto Genérico</stringValue>
            </value>
        </filters>
        <filters>
            <field>Vigente_Desde__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casa muestra</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Lista_de_Precios_Complementos_Reciente</name>
        <label>Obtener Lista de Precios Complementos Reciente</label>
        <locationX>446</locationX>
        <locationY>2879</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_Lista_de_Precios_Reciente_para_Complementos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_Lista__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Producto Genérico</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complementos</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtener Lista de Precios de Financiemineto Enganche</description>
        <name>Obtener_Lista_de_Precios_de_Financiemineto_Enganche</name>
        <label>Obtener Lista de Precios de Financiemineto Enganche</label>
        <locationX>446</locationX>
        <locationY>4103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_Lista_de_Precios_Reciente_para_Financiemiento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fraccionamiento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad__r.Fraccionamiento__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Prototipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad__r.Prototipo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_Lista__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Financiamiento</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Financiamiento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enganche</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Lista_de_Precios_Otros_Gastos_Reciente</name>
        <label>Obtener Lista de Precios Otros Gastos Reciente</label>
        <locationX>446</locationX>
        <locationY>3287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_Lista_de_Precios_Reciente_para_Otros_Gastos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_Lista__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Producto Genérico</stringValue>
            </value>
        </filters>
        <filters>
            <field>Vigente_Desde__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Otros Gastos</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Lista_de_Precios_Paquetes_Reciente</name>
        <label>Obtener Lista de Precios Paquetes Reciente</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_Lista_de_Precios_de_Paquetes_Reciente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fraccionamiento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad__r.Fraccionamiento__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Prototipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad__r.Prototipo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_Lista__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paquete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Vigente_Desde__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vigente_Hasta__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Lista_de_Precios_Promociones_Precio_Reciente</name>
        <label>Obtener Lista de Precios Promocion Precio Reciente</label>
        <locationX>446</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_Lista_de_Precios_de_Promociones_de_Precio_Reciente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fraccionamiento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad__r.Fraccionamiento__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Prototipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad__r.Prototipo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_Lista__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Promoción Precio</stringValue>
            </value>
        </filters>
        <filters>
            <field>Vigente_Desde__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vigente_Hasta__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Lista_de_Precios_Promociones_Venta_Reciente</name>
        <label>Obtener Lista de Precios Promociones Venta Reciente</label>
        <locationX>446</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_Lista_de_Precios_de_Promociones_de_Venta_Reciente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fraccionamiento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad__r.Fraccionamiento__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Prototipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad__r.Prototipo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_Lista__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Promoción Venta</stringValue>
            </value>
        </filters>
        <filters>
            <field>Vigente_Desde__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vigente_Hasta__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Lista_de_Precios_Regalos_MKT_Reciente</name>
        <label>Obtener Lista de Precios Regalos MKT Reciente</label>
        <locationX>446</locationX>
        <locationY>2471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_Lista_de_Precios_Reciente_para_Regalos_MKT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fraccionamiento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad__r.Fraccionamiento__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Prototipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad__r.Prototipo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_Lista__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regalo MKT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Vigente_Desde__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vigente_Hasta__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Lista_de_Precios_Vivienda_Reciente</name>
        <label>Obtener Lista de Precios Vivienda Reciente</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lista_Precios_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fraccionamiento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad__r.Fraccionamiento__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Prototipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad__r.Prototipo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_Lista__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vivienda</stringValue>
            </value>
        </filters>
        <filters>
            <field>Vigente_Desde__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vigente_Hasta__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Pricebook_Entry_del_Producto</name>
        <label>Obtener Pricebook Entry del Producto</label>
        <locationX>446</locationX>
        <locationY>5675</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_Pricebook_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Producto_Vivienda_2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad__r.Pricebook2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Producto_Vivienda</name>
        <label>Obtener Producto Vivienda</label>
        <locationX>446</locationX>
        <locationY>5159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_el_Producto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vivienda__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vivienda__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Producto_Vivienda_2</name>
        <label>Obtener Producto Vivienda 2</label>
        <locationX>446</locationX>
        <locationY>5567</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Pricebook_Entry_del_Producto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vivienda__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vivienda__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Producto_Vivienda_3</name>
        <label>Obtener Producto Vivienda 3</label>
        <locationX>842</locationX>
        <locationY>5051</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_Producto_Oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vivienda__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vivienda__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Conteo_de_Reubicaciones</name>
        <label>Actualizar Conteo de Reubicaciones</label>
        <locationX>314</locationX>
        <locationY>6299</locationY>
        <inputAssignments>
            <field>Cantidad_de_reubicaciones__c</field>
            <value>
                <elementReference>Reubicaciones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Reubicacion__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FlowOverride__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reubicacion_Aux__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Conteo_Reubicacion_Auxiliar</name>
        <label>Actualizar Conteo Reubicación Auxiliar</label>
        <locationX>50</locationX>
        <locationY>5051</locationY>
        <connector>
            <targetReference>Actualizar_Estatus_Proceso_de_Venta_a_Validacion</targetReference>
        </connector>
        <inputAssignments>
            <field>FlowOverride__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reubicacion_Aux__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Estatus_Proceso_de_Venta</name>
        <label>Actualizar Estatus Proceso de Venta a Reservado</label>
        <locationX>446</locationX>
        <locationY>4943</locationY>
        <connector>
            <targetReference>Actualizar_Fecha_de_Reserva</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fecha_de_Reserva__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_de_Venta__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Reservado</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Estatus_Proceso_de_Venta_a_Validacion</name>
        <label>Actualizar Estatus Proceso de Venta a Validación</label>
        <locationX>50</locationX>
        <locationY>5159</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Plan_de_Venta__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Validación</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Fecha_de_Reserva</name>
        <label>Actualizar Fecha de Reserva</label>
        <locationX>446</locationX>
        <locationY>5051</locationY>
        <connector>
            <targetReference>Obtener_Producto_Vivienda</targetReference>
        </connector>
        <inputAssignments>
            <field>Fecha_Reserva_Real__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FlowOverride__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Listas_de_Precios</name>
        <label>Actualizar Listas de Precios</label>
        <locationX>446</locationX>
        <locationY>4511</locationY>
        <connector>
            <targetReference>Asignar_Plan_de_Venta</targetReference>
        </connector>
        <inputAssignments>
            <field>Fecha_de_actualizacion_plan__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FlowOverride__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lista_de_Precios_Bonificacion_Reciente__c</field>
            <value>
                <elementReference>vListaPrecioBonificaciones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lista_de_Precios_Casa_Muestra_Reciente__c</field>
            <value>
                <elementReference>vListaPrecioCasaMuestra</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lista_de_Precios_Complementos_Reciente__c</field>
            <value>
                <elementReference>vListaPreciosComplementos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lista_de_Precios_Financiamien_Reciente__c</field>
            <value>
                <elementReference>vListaPrecioFinanEnganche</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lista_de_Precios_Otros_Gastos_Reciente__c</field>
            <value>
                <elementReference>vListaPrecioOtrosGastos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lista_de_Precios_Paquetes_Reciente__c</field>
            <value>
                <elementReference>vListaPrecioPaquete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lista_de_Precios_Promo_Precio_Reciente__c</field>
            <value>
                <elementReference>vListaPrecioPromoPrecio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lista_de_Precios_PromocionesV_Reciente__c</field>
            <value>
                <elementReference>vListaPrecioPromociones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lista_de_Precios_RegalosMKT_Reciente__c</field>
            <value>
                <elementReference>vListaPreciosRegalosMKT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lista_de_Precios_Vivienda_Reciente__c</field>
            <value>
                <elementReference>vListaViviendas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lista_de_Precios_Vivienda__c</field>
            <value>
                <elementReference>vListaViviendas</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_plan_de_Venta_Id_en_Opp</name>
        <label>Actualizar plan de Venta Id en Opp</label>
        <locationX>446</locationX>
        <locationY>4727</locationY>
        <connector>
            <targetReference>Cambio_Vivienda</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Plan_de_Venta__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Producto_Oportunidad</name>
        <label>Actualizar Producto Oportunidad</label>
        <locationX>842</locationX>
        <locationY>5159</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Producto_Vivienda_3.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>$Record.Precio_Total_Vivenda__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Asignar_Plan_de_Venta</name>
        <label>Asignar Plan de Venta</label>
        <locationX>446</locationX>
        <locationY>4619</locationY>
        <connector>
            <targetReference>Actualizar_plan_de_Venta_Id_en_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>Plan_de_Venta__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Procesos_de_Ventas__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ReActualiza_Plan_de_Venta_Id_en_Opp</name>
        <label>Actualizar Plan de Venta Id en Opp</label>
        <locationX>842</locationX>
        <locationY>4943</locationY>
        <connector>
            <targetReference>Obtener_Producto_Vivienda_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Plan_de_Venta__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Lista_de_Precios_Vivienda_Reciente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estatus_Plan_de_venta__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reestructurado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estatus_Plan_de_venta__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </filters>
        <object>Plan_de_Venta__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <triggerOrder>1300</triggerOrder>
    <variables>
        <name>vListaPrecioBonificaciones</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vListaPrecioCasaMuestra</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vListaPrecioFinanEnganche</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vListaPrecioOtrosGastos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vListaPrecioPaquete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vListaPrecioPromociones</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vListaPrecioPromoPrecio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vListaPreciosComplementos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vListaPreciosRegalosMKT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vListaViviendas</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
