unpackaged/main/default/flows/Plan_de_Venta_Agregar_Promocion_de_Precio.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Asigna_Var_Cantidad</name>
        <label>Asigna_Var_Cantidad</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>VarCantidad</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDataLPPromocionPrecio.Cantidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarIlimitado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDataLPPromocionPrecio.Ilimitado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Id_LP_PromoPrecioSeleccionada</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDataLPPromocionPrecio.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verifica_Disponibilidad_de_Promo</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No_Continuar_con_la_Lista_actual</name>
        <choiceText>No, Continuar con la Lista actual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, Continuar con la Lista actual</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si_Actualiza_Lista_de_Precios</name>
        <choiceText>Si, Actualiza Lista de Precios</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si, Actualiza Lista de Precios</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ExisteLP_PromoPrecio</name>
        <label>ExisteLP_PromoPrecio</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Hay_Lista_Asignada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDataPlanDeVenta.Lista_de_Precios_Promo_Precio_Reciente__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>No Hay Lista Asignada</label>
        </rules>
        <rules>
            <name>Ya_hay_una_LP_PromoPrecio_Cargada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDataPlanDeVenta.Lista_de_Precios_Promo_Precio_Reciente__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetDataPlanDeVenta.Estatus_Promocion_de_Precio_Formula__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Solicitada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetDataPlanDeVenta.Estatus_Promocion_de_Precio_Formula__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Aprobada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PromoPrecio_SCR_04_Ya_Existe_Lista</targetReference>
            </connector>
            <label>Ya hay una LP PromoPrecio Cargada</label>
        </rules>
        <rules>
            <name>Promo_Precio_en_Aprobacion</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetDataPlanDeVenta.Estatus_Promocion_de_Precio_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solicitada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetDataPlanDeVenta.Estatus_Promocion_de_Precio_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprobada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PromoPrecio_SCR_03</targetReference>
            </connector>
            <label>Promo Precio en Aprobacion</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_hay_Lista_Vigente</name>
        <label>ValidaSiEncontoLPPromoPrecio</label>
        <locationX>479</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_PromoPrecio_SCR_05_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Hay_LP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDataLPPromocionPrecio</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Var_Cantidad</targetReference>
            </connector>
            <label>Si Hay LP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_Disponibilidad_de_Promo</name>
        <label>Verifica Disponibilidad de Promo</label>
        <locationX>248</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>PromoPrecio_SCR_02</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SiHayPromoPrecio</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VarCantidad</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarIlimitado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PromoPrecio_SCR_01</targetReference>
            </connector>
            <label>SiHayPromoPrecio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_Si_Es_Ilimitado</name>
        <label>Verifica_Si_Es_Ilimitado</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Actualiza_LP_PromoPrecio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Es_Ilimitado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDataLPPromocionPrecio.Ilimitado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Es Ilimitado</label>
        </rules>
    </decisions>
    <description>Agrega el Precio de Promocion si existe una lista de Precios Vigente</description>
    <environments>Default</environments>
    <formulas>
        <name>VarFormula_Cantidad</name>
        <dataType>Number</dataType>
        <expression>{!VarCantidad} - 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Plan de Venta - Agregar Promocion de Precio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Plan de Venta - Agregar Promocion de Precio</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetDataLPPromocionPrecio</name>
        <label>GetDataLPPromocionPrecio</label>
        <locationX>479</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_hay_Lista_Vigente</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PromoPrecio_SCR_05_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fraccionamiento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDataPlanDeVenta.Fraccionamiento_Id_Formula__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Prototipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDataPlanDeVenta.Prototipo_Id_Formula__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_Lista__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Promoción Precio</stringValue>
            </value>
        </filters>
        <filters>
            <field>Vigente_Desde__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vigente_Hasta__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDataPlanDeVenta</name>
        <label>GetDataPlanDeVenta</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExisteLP_PromoPrecio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Plan_de_Venta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_LP_PromoPrecio</name>
        <label>Actualiza_LP_PromoPrecio</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Id_LP_PromoPrecioSeleccionada</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cantidad__c</field>
            <value>
                <elementReference>VarFormula_Cantidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estatus__c</field>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </inputAssignments>
        <object>Pricebook2</object>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizaPlandeVenta</name>
        <label>ActualizaPlandeVenta</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Verifica_Si_Es_Ilimitado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estatus_Promocion_de_Precio_Formula__c</field>
            <value>
                <stringValue>Solicitada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lista_de_Precios_Promo_Precio_Reciente__c</field>
            <value>
                <elementReference>GetDataLPPromocionPrecio.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promocion_de_Precio_monto__c</field>
            <value>
                <elementReference>GetDataLPPromocionPrecio.Precio_Min_Solicitado__c</elementReference>
            </value>
        </inputAssignments>
        <object>Plan_de_Venta__c</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_PromoPrecio_SCR_05_Error</name>
        <label>Copy 1 of PromoPrecio_SCR_05_Error</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Completo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001lbBm?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;warning icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 16px; color: rgb(150, 150, 150);&quot;&gt;No hay una lista de Promoción de Precio vigente.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cerrar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PromoPrecio_SCR_01</name>
        <label>PromoPrecio_SCR_01</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ActualizaPlandeVenta</targetReference>
        </connector>
        <fields>
            <name>Completo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001Xvrk?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Ok Icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(150, 150, 150); font-size: 16px;&quot;&gt;La Promoción de Precio esta vigente, si deasea aplicarla al plan de venta, &lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(150, 150, 150); font-size: 16px;&quot;&gt;oprima el botón de &quot;Aplicar Promoción&quot;&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Aplicar Promoción</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PromoPrecio_SCR_02</name>
        <label>PromoPrecio_SCR_02</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Completo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mJfS?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;warning icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 16px; color: rgb(150, 150, 150);&quot;&gt;Desafortunadamente ya no hay unidades en promoción disponibles.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cerrar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PromoPrecio_SCR_03</name>
        <label>PromoPrecio_SCR_03</label>
        <locationX>1238</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Completo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001lb9g?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Equis.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 16px; color: rgb(150, 150, 150);&quot;&gt;El Plan de Venta ya cuenta con una Promoción de Precio aplicada.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancelar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PromoPrecio_SCR_04_Ya_Existe_Lista</name>
        <label>PromoPrecio_SCR_04_Ya_Existe_Lista</label>
        <locationX>479</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetDataLPPromocionPrecio</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Completo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001letD?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Cambio.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(150, 150, 150); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 18px;&quot;&gt;Se va a actualizar la nueva lista de Promoción de Precio .&lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continuar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PromoPrecio_SCR_05_Error</name>
        <label>PromoPrecio_SCR_05_Error</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Completo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001lbBm?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;warning icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 16px; color: rgb(150, 150, 150);&quot;&gt;No hay una lista de Promoción de Precio vigente.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cerrar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetDataPlanDeVenta</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Id_LP_PromoPrecioSeleccionada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarCantidad</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarIlimitado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vMensaje</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
