unpackaged/main/default/flows/Plan_de_Venta_Aprobado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Evalua_Condiciones</name>
        <label>Evalua Condiciones</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Aprueba_PDV_Original</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Plan_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Original</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.El_Registro_Esta_Totalmente_Aprobado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Chk_Formalixacion_Informaci_n_Completa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PDV_Original_Aprobado</targetReference>
            </connector>
            <label>Aprueba PDV Original</label>
        </rules>
        <rules>
            <name>Aprueba_PDV_Reestructura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Plan_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reestructura</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Chk_Formalixacion_Informaci_n_Completa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.El_Registro_Esta_Totalmente_Aprobado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PDV_Reestructura_Aprobado</targetReference>
            </connector>
            <label>Aprueba PDV Reestructura</label>
        </rules>
        <rules>
            <name>Reset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Plan_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reestructura</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Chk_Formalixacion_Informaci_n_Completa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estatus_Plan_de_venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprobado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PDV_Reestructura_Nuevo</targetReference>
            </connector>
            <label>Reset</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Plan de Venta - Aprobado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Plan de Venta - Aprobado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>PDV_Original_Aprobado</name>
        <label>PDV Original Aprobado</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>En_aprobacion__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estatus_Plan_de_venta__c</field>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FlowOverride__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_de_Venta_Aprobado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>PDV_Reestructura_Aprobado</name>
        <label>PDV Reestructura Aprobado</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>En_aprobacion__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estatus_Plan_de_venta__c</field>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FlowOverride__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_de_Venta_Aprobado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>PDV_Reestructura_Nuevo</name>
        <label>PDV Reestructura Nuevo</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Chk_Formalixacion_Informaci_n_Completa__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>En_aprobacion__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estatus_Plan_de_venta__c</field>
            <value>
                <stringValue>En Progreso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FlowOverride__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_de_Venta_Aprobado__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evalua_Condiciones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>El_Registro_Esta_Totalmente_Aprobado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Plan_de_Venta__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
