unpackaged/main/default/flows/Plan_Venta_Update_Afluencia_Virtual.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Tipo_Cliente</name>
        <label>Tipo Cliente</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Es_Prospecto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Cliente__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>PROSPECTO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fecha_Afluencia</targetReference>
            </connector>
            <label>Es Prospecto</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Plan Venta Update Afluencia Virtual {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Plan Venta Update Afluencia Virtual</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Fecha_Afluencia</name>
        <label>Update Fecha Afluencia</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Identificador_de_la_Cuenta__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Afluencia_Virtual__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValidationBypassDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tipo_Cliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vivienda__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Vivienda__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>En_aprobacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Estatus_Plan_de_venta__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estatus_Plan_de_venta__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Por Aprobar</stringValue>
            </value>
        </filters>
        <object>Plan_de_Venta__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>200</triggerOrder>
</Flow>
