unpackaged/main/default/flows/PLAN_DE_VENTA_Eliminar_Pagares_Preventa.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Anadir_id_a_lista</name>
        <label>Añadir id a lista</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ListaPagaresPostVenta</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Seleccionar_Pagares.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Seleccionar_Pagares</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Limpia_Variables</name>
        <label>Limpia Variables</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>ListaPagaresPostVenta</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Obtiene_Lista_de_Pagar_PreVenta</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>PLAN DE VENTA - Eliminar Pagarés {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PLAN DE VENTA - Eliminar Pagarés Preventa</label>
    <loops>
        <name>Loop_Seleccionar_Pagares</name>
        <label>Loop Seleccionar Pagarés</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>PagaresSeleccionados.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Anadir_id_a_lista</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Elimina_Pagares_Post_Venta</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Elimina_Pagares_Post_Venta</name>
        <label>Elimina Pagares Post Venta</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>PantallaExito</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputReference>PagaresSeleccionados.selectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Obtiene_Lista_de_Pagar_PreVenta</name>
        <label>Obtiene Lista de Pagaré PreVenta</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pagar_s_Post_Venta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plan_de_Venta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pagare_Preventa__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Listas de Precios Activas</description>
        <name>Pagar_s_Post_Venta</name>
        <label>Pagarés Post Venta</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Seleccionar_Pagares</targetReference>
        </connector>
        <fields>
            <name>TopTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Pagarés Post Venta&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PagaresSeleccionados</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Pagare_Preventa__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Obtiene_Lista_de_Pagar_PreVenta</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>50.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;No_Pagare__c&quot;,&quot;guid&quot;:&quot;column-51cc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Consecutivo Pagaré&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Tipo_Pagare__c&quot;,&quot;guid&quot;:&quot;column-3a8d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Tipo de Pagaré&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Importe__c&quot;,&quot;guid&quot;:&quot;column-6984&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Importe&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Fecha_de_Vencimiento__c&quot;,&quot;guid&quot;:&quot;column-5d99&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Fecha de Vencimiento&quot;,&quot;type&quot;:&quot;date&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Eliminar Pagarés Seleccionadas</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PantallaError</name>
        <label>PantallaError</label>
        <locationX>440</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Exito</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001lNzr?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;warning icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(150, 150, 150); font-size: 22px;&quot;&gt;&lt;em&gt;No es posible eliminar los pagarés seleccionados.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PantallaExito</name>
        <label>PantallaExito</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Exito</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001lNzm?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Ok Icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(150, 150, 150);&quot;&gt;&lt;em&gt;Se eliminaron con éxito todos los pagarés seleccionados.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Limpia_Variables</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ListaPagaresPostVenta</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
