unpackaged/main/default/flows/Plan_de_Venta_Aprobar.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Aprobacion_Plan_de_Venta</name>
        <label>Aprobacion Plan de Venta</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <actionName>CLASS_Plan_Venta_Aprobacion</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Valida_Mensaje_de_la_Accion</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>PlanVentaId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vMensaje</assignToReference>
            <name>PlanVentaResult</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Valida_Mensaje_de_la_Accion</name>
        <label>Valida Mensaje de la Accion</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Informacion_Completa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vMensaje</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Información Completa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ejecuta_Aprobaciones_Plan_de_Venta</targetReference>
            </connector>
            <label>Información Completa</label>
        </rules>
        <rules>
            <name>Informaci_n_Faltante</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vMensaje</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Información Faltante</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Aprobar_Plan_de_Venta</targetReference>
            </connector>
            <label>Información Faltante</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Plan de Venta - Aprobar {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Plan de Venta - Aprobar</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetPlanDeVenta</name>
        <label>GetPlanDeVenta</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Aprobacion_Plan_de_Venta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Plan_de_Venta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Aprobar_Plan_de_Venta</name>
        <label>Aprobar Plan de Venta</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Aprobar_Plan_de_Venta_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Aprobar_Plan_de_Venta_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MSG04_Titulo</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Aprobación de Plan de Venta&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Completo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001Xvrk?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Ok Icon.jpg&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vMensaje</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Información Completa</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MSG01_Texto</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mVvR?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;TrafficLight Green XXS.jpg&quot;&gt; La información del Plan de Venta esta completa&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mVvM?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;TrafficLight Yellow XXS.jpg&quot;&gt; &lt;/span&gt;El Plan de Venta Requiere Aprobaciones y se envió a &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!GetPlanDeVenta.Rutas_de_Aprobacion_Pendientes__c}&lt;/span&gt; rutas de aprobación. Puede ver el avance en la parte inferior del registro en la lista relacionada del Historial de Aprobaciones.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vMensaje</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Información Completa</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetPlanDeVenta.Hay_Rutas_Pendientes__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MSG02_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mVvb?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;TrafficLight Green XXS.jpg&quot;&gt;  La información del Plan de Venta esta completa.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mVvg?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;TrafficLight Green XXS.jpg&quot;&gt;  No Hay Rutas de Aprobación pendientes. El registro se ha aprobado.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vMensaje</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Información Completa</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetPlanDeVenta.Hay_Rutas_Pendientes__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Aprobar_Plan_de_Venta</name>
        <label>Copy 1 of Aprobar Plan de Venta</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Aprobar_Plan_de_Venta_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Aprobar_Plan_de_Venta_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_MSG04_Titulo</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Aprobación de Plan de Venta&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Incompleto</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001XvsE?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Equis.jpg&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vMensaje</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Información Faltante</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_MSG05_FaltaInfo</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mX2V?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;TrafficLight Red XXS.jpg&quot;&gt; {!vMensaje}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vMensaje</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Información Faltante</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_MSG07_VO_no_coincide</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;- Es posible que el registro requiera una actualización de información. &lt;/span&gt;Favor de dar click en el botón de &quot;Sincronización de Datos&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vMensaje</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Valor de Operación</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPlanDeVenta</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Ejecuta_Aprobaciones_Plan_de_Venta</name>
        <label>Ejecuta Aprobaciones Plan de Venta</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Aprobar_Plan_de_Venta</targetReference>
        </connector>
        <flowName>Aprobaciones_Plan_de_Venta_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarLockStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMensaje</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
