unpackaged/main/default/flows/PLAN_DE_VENTA_Actualuza_Valor_Rutas_Formula_ScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Asigna_Valores_Inciales</name>
        <label>Asigna Valores Inciales</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>VarRutasAprobacionRequeridas</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPlanDeVenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Suma_1_a_Rutas</name>
        <label>Copy 1 of Copy 1 of Suma 1 a Rutas</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>VarRutasAprobacionRequeridas</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ExcepcionDescuentoEmpleadoJaver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_7_of_Copy_1_of_Suma_1_a_Rutas</name>
        <label>Copy 1 of Copy 7 of Copy 1 of Suma 1 a Rutas</label>
        <locationX>50</locationX>
        <locationY>3266</locationY>
        <assignmentItems>
            <assignToReference>VarRutasAprobacionRequeridas</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCR002_Final</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Suma_1_a_Rutas</name>
        <label>Copy 1 of Suma 1 a Rutas</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>VarRutasAprobacionRequeridas</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DescuentoEmpleadoJaver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_Suma_1_a_Rutas</name>
        <label>Copy 2 of Copy 1 of Suma 1 a Rutas</label>
        <locationX>50</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>VarRutasAprobacionRequeridas</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Paquetes_PromocionesDuplicadas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Copy_1_of_Suma_1_a_Rutas</name>
        <label>Copy 3 of Copy 1 of Suma 1 a Rutas</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>VarRutasAprobacionRequeridas</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X1RegalosMarketing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Copy_1_of_Suma_1_a_Rutas</name>
        <label>Copy 4 of Copy 1 of Suma 1 a Rutas</label>
        <locationX>50</locationX>
        <locationY>2066</locationY>
        <assignmentItems>
            <assignToReference>VarRutasAprobacionRequeridas</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VO_Menor_PrecioMinimoVenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Copy_1_of_Suma_1_a_Rutas</name>
        <label>Copy 5 of Copy 1 of Suma 1 a Rutas</label>
        <locationX>50</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>VarRutasAprobacionRequeridas</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reubicacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Copy_1_of_Suma_1_a_Rutas</name>
        <label>Copy 6 of Copy 1 of Suma 1 a Rutas</label>
        <locationX>50</locationX>
        <locationY>2666</locationY>
        <assignmentItems>
            <assignToReference>VarRutasAprobacionRequeridas</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FondoGarantia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_7_of_Copy_1_of_Suma_1_a_Rutas</name>
        <label>Copy 7 of Copy 1 of Suma 1 a Rutas</label>
        <locationX>50</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>VarRutasAprobacionRequeridas</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Financiamiento_Enganche</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Suma_1_a_Rutas</name>
        <label>Suma 1 a Rutas</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>VarRutasAprobacionRequeridas</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bonificacion_Excepcion_Plan_Venta</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bonificacion_Excepcion_Plan_Venta</name>
        <label>Bonificacion Excepcion Plan Venta</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>DescuentoEmpleadoJaver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Esta Activa La Ruta</defaultConnectorLabel>
        <rules>
            <name>Esta_Activa_La_Ruta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Bonificacion_Excepcion_de_Plan_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Suma_1_a_Rutas</targetReference>
            </connector>
            <label>Esta Activa La Ruta</label>
        </rules>
    </decisions>
    <decisions>
        <name>DescuentoEmpleadoJaver</name>
        <label>DescuentoEmpleadoJaver</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>ExcepcionDescuentoEmpleadoJaver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Esta Activa La Ruta</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Esta_Activa_La_Ruta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Casilla_Descuento_Empleado_Javer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Suma_1_a_Rutas</targetReference>
            </connector>
            <label>Copy 1 of Esta Activa La Ruta</label>
        </rules>
    </decisions>
    <decisions>
        <description>TotalAprobReq_FormulaPart2_PlainField</description>
        <name>Evalua_Formula_Rutas_2</name>
        <label>Evalua Formula Rutas 2</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Bonificacion_Excepcion_Plan_Venta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Es Igual a Cero</defaultConnectorLabel>
        <rules>
            <name>Es_Igual_a_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Total_Aprob_Req_Formula_Part_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suma_1_a_Rutas</targetReference>
            </connector>
            <label>Es Igual a 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExcepcionDescuentoEmpleadoJaver</name>
        <label>ExcepcionDescuentoEmpleadoJaver</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Paquetes_PromocionesDuplicadas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Esta Activa La Ruta</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Esta_Activa_La_Ruta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Excepci_n_Descuento_Empleado_JVR_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Suma_1_a_Rutas</targetReference>
            </connector>
            <label>Copy 2 of Esta Activa La Ruta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Financiamiento_Enganche</name>
        <label>Financiamiento Enganche</label>
        <locationX>182</locationX>
        <locationY>3158</locationY>
        <defaultConnector>
            <targetReference>SCR002_Final</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Esta Activa La Ruta</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_7_of_Esta_Activa_La_Ruta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Financiamiento_Enganche__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_7_of_Copy_1_of_Suma_1_a_Rutas</targetReference>
            </connector>
            <label>Copy 8 of Esta Activa La Ruta</label>
        </rules>
    </decisions>
    <decisions>
        <name>FondoGarantia</name>
        <label>FondoGarantia</label>
        <locationX>182</locationX>
        <locationY>2858</locationY>
        <defaultConnector>
            <targetReference>Financiamiento_Enganche</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Esta Activa La Ruta</defaultConnectorLabel>
        <rules>
            <name>Copy_7_of_Esta_Activa_La_Ruta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Fondo_de_Garantia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Copy_1_of_Suma_1_a_Rutas</targetReference>
            </connector>
            <label>Copy 7 of Esta Activa La Ruta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Paquetes_PromocionesDuplicadas</name>
        <label>Paquetes/PromocionesDuplicadas</label>
        <locationX>182</locationX>
        <locationY>1658</locationY>
        <defaultConnector>
            <targetReference>X1RegalosMarketing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Esta Activa La Ruta</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Esta_Activa_La_Ruta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Paquetes_Promociones_de_Venta_Duplicadas__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Copy_1_of_Suma_1_a_Rutas</targetReference>
            </connector>
            <label>Copy 3 of Esta Activa La Ruta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reubicacion</name>
        <label>Reubicacion</label>
        <locationX>182</locationX>
        <locationY>2558</locationY>
        <defaultConnector>
            <targetReference>FondoGarantia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Esta Activa La Ruta</defaultConnectorLabel>
        <rules>
            <name>Copy_6_of_Esta_Activa_La_Ruta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPlanDeVenta.Reubicacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Copy_1_of_Suma_1_a_Rutas</targetReference>
            </connector>
            <label>Copy 6 of Esta Activa La Ruta</label>
        </rules>
    </decisions>
    <decisions>
        <name>VO_Menor_PrecioMinimoVenta</name>
        <label>VO_Menor_PrecioMinimoVenta</label>
        <locationX>182</locationX>
        <locationY>2258</locationY>
        <defaultConnector>
            <targetReference>Reubicacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Esta Activa La Ruta</defaultConnectorLabel>
        <rules>
            <name>Copy_5_of_Esta_Activa_La_Ruta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPlanDeVenta.VO_menor_a_P_Minimo_de_Venta_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Copy_1_of_Suma_1_a_Rutas</targetReference>
            </connector>
            <label>Copy 5 of Esta Activa La Ruta</label>
        </rules>
    </decisions>
    <decisions>
        <name>X1RegalosMarketing</name>
        <label>+1RegalosMarketing</label>
        <locationX>182</locationX>
        <locationY>1958</locationY>
        <defaultConnector>
            <targetReference>VO_Menor_PrecioMinimoVenta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Esta Activa La Ruta</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Esta_Activa_La_Ruta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPlanDeVenta.X1_Regalos_MKT2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Copy_1_of_Suma_1_a_Rutas</targetReference>
            </connector>
            <label>Copy 4 of Esta Activa La Ruta</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PLAN DE VENTA - Actualuza Valor Rutas Formula ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PLAN DE VENTA - Actualuza Valor Rutas Formula ScreenFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetPlanDeVenta</name>
        <label>GetPlanDeVenta</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCR001_Inicio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Plan_de_Venta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>TotalAprobReq_FormulaPart2_PlainField</description>
        <name>Actualiza_Cantidad_1</name>
        <label>Actualiza Cantidad = 1</label>
        <locationX>182</locationX>
        <locationY>3566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPlanDeVenta.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Calc_Precios_Bypass__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FlowOverride__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalAprobReq_FormulaPart2_PlainField__c</field>
            <value>
                <elementReference>VarRutasAprobacionRequeridas</elementReference>
            </value>
        </inputAssignments>
        <object>Plan_de_Venta__c</object>
    </recordUpdates>
    <screens>
        <name>SCR001_Inicio</name>
        <label>SCR001_Inicio</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Evalua_Formula_Rutas_2</targetReference>
        </connector>
        <fields>
            <name>MSG001_Mensaje</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mvBO?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;StagingUpdateTableIcon L.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Se van a analizar las posibler rutas de aprobación requeridaspara este Plan de Venta&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR002_Final</name>
        <label>SCR002_Final</label>
        <locationX>182</locationX>
        <locationY>3458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Actualiza_Cantidad_1</targetReference>
        </connector>
        <fields>
            <name>MSG002_Final</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mvC5?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Check - Si - Ok.png&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Se requieren {!VarRutasAprobacionRequeridas} Rutas de Aprobación&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asigna_Valores_Inciales</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarRutasAprobacionRequeridas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
