unpackaged/main/default/flows/Proceso_de_Venta_Reubicacion_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Asigna_Asesor_Actual</name>
        <label>Asigna Asesor Actual</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>VarAsesorValido</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAsesor.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valida_Cambio_Fraccionamiento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Asesor_Valido</name>
        <label>Asigna Asesor Valido</label>
        <locationX>666</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>VarAsesorValido</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SeleccionaNuevoAsesor.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Proceso_de_Venta</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DecisiondelCliente</name>
        <choiceText>Decisión del Cliente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Decisión del Cliente</stringValue>
        </value>
    </choices>
    <choices>
        <name>porDTU</name>
        <choiceText>Por DTU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Por DTU</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tramitologia</name>
        <choiceText>Tramitología</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tramitología</stringValue>
        </value>
    </choices>
    <constants>
        <name>VarListaPreciosBlankl</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Esta_en_Estatus_Reservado</name>
        <label>Esta en Estatus Reservado</label>
        <locationX>1040</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>WarningScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Estatus_Validacion</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formalizado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reubicacion</targetReference>
            </connector>
            <label>Estatus Validacion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plan_de_Venta_Exists</name>
        <label>Plan de Venta Exists</label>
        <locationX>446</locationX>
        <locationY>2030</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Plan_de_Venta</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nuevo_Plan_de_Venta</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_Cambio_Fraccionamiento</name>
        <label>Valida Cambio Fraccionamiento</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Valida_Fraccionamientos_del_Asesor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>El Fraccionamiento Cambió</defaultConnectorLabel>
        <rules>
            <name>Es_el_Mismo_Fraccionamiento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fraccionamiento.recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordId.Fraccionamiento__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Proceso_de_Venta</targetReference>
            </connector>
            <label>Es el Mismo Fraccionamiento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_Fraccionamientos_del_Asesor</name>
        <label>Valida Fraccionamientos del Asesor</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>GetAsesoresValidos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Cuenta con el Fraccionamiento</defaultConnectorLabel>
        <rules>
            <name>Asesor_Valido_en_Fraccionamiento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAsesor.FraccionamientoAutorizados__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>GetFraccionamiento.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Proceso_de_Venta</targetReference>
            </connector>
            <label>Asesor Valido en Fraccionamiento</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>prototipos</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fraccionamiento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fraccionamiento.recordId</elementReference>
            </value>
        </filters>
        <object>Prototipo__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Proceso de Venta - Reubicacion Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Proceso de Venta - Reubicacion Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Nuevo_Plan_de_Venta</name>
        <label>Nuevo Plan de Venta</label>
        <locationX>50</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen_01</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reubicacion_Aux__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Plan_de_Venta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Productos_de_Plan_de_Venta</name>
        <label>Delete Productos de Plan de Venta</label>
        <locationX>446</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Plan_de_Venta_Exists</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Plan_de_Venta_Exists</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plan_de_Venta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Plan_de_Venta.Id</elementReference>
            </value>
        </filters>
        <object>Producto_de_Plan_de_Venta__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delte_Opportunity_Line_Items</name>
        <label>Delte Opportunity Line Items</label>
        <locationX>446</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Get_Plan_de_Venta</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Plan_de_Venta</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Plan_de_Venta</name>
        <label>Get Plan de Venta</label>
        <locationX>446</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Plan_de_Venta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Plan_de_Venta__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAsesor</name>
        <label>GetAsesor</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asigna_Asesor_Actual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Asesor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAsesoresValidos</name>
        <label>GetAsesoresValidos</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCR_SeleccionaAsesorValido</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>FraccionamientoAutorizados__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>GetFraccionamiento.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ASESOR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GENERICO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFraccionamiento</name>
        <label>GetFraccionamiento</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAsesor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fraccionamiento.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fraccionamiento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>50</locationX>
        <locationY>2246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualiza_Titulaci_n</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Cobranza_Comercial</name>
        <label>Actualiza Cobranza Comercial</label>
        <locationX>50</locationX>
        <locationY>2462</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Cobranza_Comercial__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sub_Estatus_Proceso__c</field>
            <value>
                <stringValue>CANCELADO POR REUBICACION</stringValue>
            </value>
        </inputAssignments>
        <object>Cobranza_Comercial__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Titulaci_n</name>
        <label>Actualiza Titulación</label>
        <locationX>50</locationX>
        <locationY>2354</locationY>
        <connector>
            <targetReference>Actualiza_Cobranza_Comercial</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Actualiza_Cobranza_Comercial</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Titulacion__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sub_Estatus_del_Proceso__c</field>
            <value>
                <stringValue>Cancelado por Reubicación</stringValue>
            </value>
        </inputAssignments>
        <object>Titulacion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Plan_de_Venta</name>
        <label>Update Plan de Venta</label>
        <locationX>446</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Delete_Productos_de_Plan_de_Venta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Plan_de_Venta.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Chk_Formalixacion_Informaci_n_Completa__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estatus_Plan_de_venta__c</field>
            <value>
                <stringValue>Reubicado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_de_Venta_Aprobado__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Plan_de_Venta__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Proceso_de_Venta</name>
        <label>Update Proceso de Venta</label>
        <locationX>446</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Delte_Opportunity_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>VarAsesorValido</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fraccionamiento__c</field>
            <value>
                <elementReference>Fraccionamiento.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_cambio_asesor__c</field>
            <value>
                <elementReference>Motivo_Cambio_Asesor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_cambio_reubicacion__c</field>
            <value>
                <elementReference>Motivo_cambio_reubicaci_n</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prototipo__c</field>
            <value>
                <elementReference>Prototipo</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>ErrorScreen_01</name>
        <label>ErrorScreen_01</label>
        <locationX>578</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_NotEqualValidacion</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001lbve?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;warning icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(150, 150, 150); font-size: 16px;&quot;&gt;&lt;em&gt;El proceso de &quot;Reubicación&quot; no se puede ejecutar.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(150, 150, 150); font-size: 16px;&quot;&gt;&lt;em&gt; Por favor consulte a su administrador.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reubicacion</name>
        <label>Reubicacion</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reubicacion1</targetReference>
        </connector>
        <fields>
            <name>Motivo_cambio_reubicaci_n</name>
            <choiceReferences>porDTU</choiceReferences>
            <choiceReferences>DecisiondelCliente</choiceReferences>
            <choiceReferences>Tramitologia</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motivo cambio reubicación</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fraccionamiento</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Fraccionamiento__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Fraccionamiento</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reubicacion1</name>
        <label>Reubicacion</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetFraccionamiento</targetReference>
        </connector>
        <fields>
            <name>Prototipo</name>
            <choiceReferences>prototipos</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Prototipo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_SeleccionaAsesorValido</name>
        <label>SCR_SeleccionaAsesorValido</label>
        <locationX>666</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Asigna_Asesor_Valido</targetReference>
        </connector>
        <fields>
            <name>Title001</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Lista de Asesores del Fraccionamiento:   &lt;/strong&gt;&lt;em style=&quot;font-size: 14px;&quot;&gt;{!GetFraccionamiento.Name}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SeleccionaNuevoAsesor</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>User</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lista de Asesores</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetAsesoresValidos</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-eec3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Motivo_Cambio_Asesor</name>
            <dataType>String</dataType>
            <fieldText>Motivo Cambio Asesor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WarningScreen</name>
        <label>WarningScreen</label>
        <locationX>1634</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotEqualValidacion</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001lSP0?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Equis.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(150, 150, 150); font-size: 16px;&quot;&gt;&lt;em&gt;El proceso de &quot;Reubicación&quot; no se puede ejecutar. Por favor libere la vivenda reservada.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Esta_en_Estatus_Reservado</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>previousPlandeVenta</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plan_de_Venta__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>VarAsesorValido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarViviendaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
