unpackaged/main/default/flows/PROCESO_DE_VENTA_Actualiza_Datos_de_Titulacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Asigna_Opp_a_Lista</name>
        <label>Asigna Opp a Lista</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>VarListaDeOportunidades</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleOpportunityForUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualiza_Proceso_de_Venta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignaVariableOpp</name>
        <label>AsignaVariableOpp</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>SingleOpportunityForUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actualiza_Proceso_de_Venta.Registro_del_Proceso_de_Venta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOpportunityForUpdate.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actualiza_Proceso_de_Venta.Valor_del_Estatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOpportunityForUpdate.Fecha_Escrituracion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actualiza_Proceso_de_Venta.Fecha__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asigna_Opp_a_Lista</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Valida_el_Contenido_de_la_Lista</name>
        <label>Valida el Contenido de la Lista</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>SCR04_NoHayRegistros</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>La lista No tiene Registros</defaultConnectorLabel>
        <rules>
            <name>La_lista_tiene_Registros</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetStagingTableRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR01_DataTable</targetReference>
            </connector>
            <label>La lista tiene Registros</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PROCESO DE VENTA - Actualiza Datos de Titulación {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PROCESO DE VENTA - Actualiza Datos de Titulación</label>
    <loops>
        <name>Actualiza_Proceso_de_Venta</name>
        <label>Actualiza Proceso de Venta</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>GetStagingTableRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsignaVariableOpp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Proceso_de_Venta</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetStagingTableRecords</name>
        <label>GetStagingTableRecords</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valida_el_Contenido_de_la_Lista</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SCR04_NoHayRegistros</targetReference>
        </faultConnector>
        <filterLogic>(1 OR 2 ) AND 3</filterLogic>
        <filters>
            <field>Estatus_UST__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nuevo</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estatus_UST__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Falló</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Update_Statging_Table__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Proceso_de_Venta</name>
        <label>Update Proceso de Venta</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>SCR01_Exito</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SCR03_Fallo</targetReference>
        </faultConnector>
        <inputReference>VarListaDeOportunidades</inputReference>
    </recordUpdates>
    <screens>
        <name>SCR01_DataTable</name>
        <label>SCR01_DataTable</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Actualiza_Proceso_de_Venta</targetReference>
        </connector>
        <fields>
            <name>MSG01_Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Actualización de Registros&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;La siguiente tabla muestra los registros del Proceso de Venta  que serán actualizados. También se muestra el valor de la lista de selcción de &quot;Estatus del Proceso&quot; con el que el registro se va a actualizar y la fecha de Escrituración que se registrará.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UST_DataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Update_Statging_Table__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetStagingTableRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-0b44&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Update Statging Table Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Estatus_UST__c&quot;,&quot;guid&quot;:&quot;column-2ab4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Estatus UST&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Estatus_UST_Formula__c&quot;,&quot;guid&quot;:&quot;column-8e72&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Estatus UST&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Registro_del_Proceso_de_Venta__c&quot;,&quot;guid&quot;:&quot;column-3a7d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Registro a Actualizar&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Registro del Proceso de Venta&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Valor_del_Estatus__c&quot;,&quot;guid&quot;:&quot;column-c48f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;El Estatus se Actualiza a..&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Valor del Estatus&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-6329&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Actualizar Registros</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR01_Exito</name>
        <label>SCR01_Exito</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MSG01_Exito</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mRJ6?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Ok Icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Los registros del Proceso de Venta se han actualizado correctamente&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Salir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR03_Fallo</name>
        <label>SCR03_Fallo</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_MSG01_Exito</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mRJB?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;warning icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Los registros del Proceso de Venta presentan un error y no ha sido posible actualizarlos.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Salir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR04_NoHayRegistros</name>
        <label>SCR04_NoHayRegistros</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_MSG01_Exito</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mRJG?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Equis.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;No se encontraron registros del Proceso de Venta para actualizar.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Revise los registros de actualización en el siguiente link:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://javer--preprod.sandbox.lightning.force.com/lightning/o/Update_Statging_Table__c/list?filterName=Recent&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;/lightning/o/Update_Statging_Table__c/list?filterName=Recent&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Salir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetStagingTableRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SingleOpportunityForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>VarListaDeOportunidades</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
