unpackaged/main/default/flows/PROCESO_DE_VENTA_Actualiza_Datos_de_Titulaci_n_SCHEDULED.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>A_adeOppIdProcesado</name>
        <label>AñadeOppIdProcesado</label>
        <locationX>314</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>VarListaOpportunidadesProcesdas</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Actualiza_Proceso_de_Venta.Opportunity_Id__c}, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualiza_Proceso_de_Venta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Opp_a_Lista</name>
        <label>Asigna Opp a Lista</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>VarListaDeOportunidades</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleOpportunityForUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignaUpdateUST</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignaListaActualizaci_nUST</name>
        <label>AsignaListaActualizaciónUST</label>
        <locationX>314</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>VarUST_TableRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarUST_SingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>A_adeOppIdProcesado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignaUpdateUST</name>
        <label>AsignaUpdateUST</label>
        <locationX>314</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>VarUST_SingleRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actualiza_Proceso_de_Venta.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarUST_SingleRecord.Estatus_UST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Actualizado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignaListaActualizaci_nUST</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignaVariableOpp</name>
        <label>AsignaVariableOpp</label>
        <locationX>314</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>SingleOpportunityForUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actualiza_Proceso_de_Venta.Opportunity_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOpportunityForUpdate.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actualiza_Proceso_de_Venta.Valor_del_Estatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOpportunityForUpdate.Fecha_Escrituracion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actualiza_Proceso_de_Venta.Fecha__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asigna_Opp_a_Lista</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Valida_el_Contenido_de_la_Lista</name>
        <label>Valida el Contenido de la Lista</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>La lista No tiene Registros</defaultConnectorLabel>
        <rules>
            <name>La_lista_tiene_Registros</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetStagingTableRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Proceso_de_Venta</targetReference>
            </connector>
            <label>La lista tiene Registros</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_Opportunity_Id_Unico</name>
        <label>Valida Opportunity Id Unico</label>
        <locationX>226</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>AsignaVariableOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Id_Repetido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarListaOpportunidadesProcesdas</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Actualiza_Proceso_de_Venta.Opportunity_Id__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Proceso_de_Venta</targetReference>
            </connector>
            <label>Opportunity Id Repetido</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PROCESO DE VENTA - Actualiza Datos de Titulación SCHEDULED {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PROCESO DE VENTA - Actualiza Datos de Titulación SCHEDULED</label>
    <loops>
        <name>Actualiza_Proceso_de_Venta</name>
        <label>Actualiza Proceso de Venta</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <collectionReference>GetStagingTableRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Valida_Opportunity_Id_Unico</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Proceso_de_Venta</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetStagingTableRecords</name>
        <label>GetStagingTableRecords</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valida_el_Contenido_de_la_Lista</targetReference>
        </connector>
        <filterLogic>(1 OR 2 ) AND (3 OR 4)</filterLogic>
        <filters>
            <field>Estatus_UST__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nuevo</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estatus_UST__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Falló</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Id__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Update_Statging_Table__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdataUSTs</name>
        <label>UpdataUSTs</label>
        <locationX>50</locationX>
        <locationY>1500</locationY>
        <inputReference>VarUST_TableRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Proceso_de_Venta</name>
        <label>Update Proceso de Venta</label>
        <locationX>50</locationX>
        <locationY>1392</locationY>
        <connector>
            <targetReference>UpdataUSTs</targetReference>
        </connector>
        <inputReference>VarListaDeOportunidades</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetStagingTableRecords</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-10-05</startDate>
            <startTime>11:35:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SingleOpportunityForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>VarListaDeOportunidades</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>VarListaOpportunidadesProcesdas</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarUST_SingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Update_Statging_Table__c</objectType>
    </variables>
    <variables>
        <name>VarUST_TableRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Update_Statging_Table__c</objectType>
    </variables>
</Flow>
