unpackaged/main/default/flows/Product2_Pone_C_digo_en_Prodct_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Tiene_Codigo</name>
        <label>Tiene Codigo?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Tiene_Codigo</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProductCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Pon_Codigo_de_Producto</targetReference>
            </connector>
            <label>No Tiene Codigo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Product2 - Pone Código en Prodct Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product2 - Pone Código en Prodct Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Pon_Codigo_de_Producto</name>
        <label>Pon Codigo de Producto</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>ProductCode</field>
            <value>
                <elementReference>$Record.Codigo_de_Producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tiene_Codigo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Clonado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Codigo_Producto_Original__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
