unpackaged/main/default/flows/Rep_Legales_Roll_Up_Dictaminacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Obtener_Cuenta_Rep_Legales</name>
        <label>Obtener Cuenta Rep Legales</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>vContRepLegales</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Leer_Rep_Legales</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualiza_Dictaminacion</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Rep Legales Roll-Up Dictaminacion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rep Legales Roll-Up Dictaminacion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Leer_Rep_Legales</name>
        <label>Leer Rep Legales</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Cuenta_Rep_Legales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contrato__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contrato__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RFC__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Informacion_representante_legal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Dictaminacion</name>
        <label>Actualiza Dictaminacion</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contrato__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Rep_Legales_Count__c</field>
            <value>
                <elementReference>vContRepLegales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ya_Capturo_Representante_Legal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Leer_Rep_Legales</targetReference>
        </connector>
        <object>Informacion_representante_legal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>vContRepLegales</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
