unpackaged/main/default/flows/Seleccion_Documentos_Entregados_Perfil_Cliente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Copuia los valores del picklist que esta en Dictaminación y los pone en la variable de pantalla</description>
        <name>Copia_Picklist_a_Variable</name>
        <label>Copia Picklist a Variable</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Lista_Valores_Picklist_Docs_Cliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_informaci_n_de_Dictaminacion.Check_List_Sub_tipo_Fiscal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pantalla1</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <description>El usuario seleccion los documento que ha entregado el cliente</description>
        <name>Seleccion_de_Documento_Entregados</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Check_List_Sub_tipo_Fiscal__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Seleccion Documentos Entregados Perfil Cliente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Seleccion Documentos Entregados Perfil Cliente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obtener_informaci_n_de_Dictaminacion</name>
        <label>Obtener información de Dictaminación</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copia_Picklist_a_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Seleccion_Documentos_Perfil_Cliente</name>
        <label>Actualiza Seleccion Documentos Perfil Cliente</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Check_List_Sub_tipo_Fiscal__c</field>
            <value>
                <elementReference>Check_List_PErfil_Cliente_Group</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <screens>
        <name>Pantalla1</name>
        <label>Pantalla1</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pantalla2</targetReference>
        </connector>
        <fields>
            <name>Check_List_Perfil_Cliente</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Check_List_Perfil_Cliente</elementReference>
            </defaultValue>
            <fieldText>Check List Perfil Cliente</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Check_List_PErfil_Cliente_Group</name>
            <choiceReferences>Seleccion_de_Documento_Entregados</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Check List PErfil Cliente (Group</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pantalla2</name>
        <label>Pantalla2</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Actualiza_Seleccion_Documentos_Perfil_Cliente</targetReference>
        </connector>
        <fields>
            <name>Seleccion</name>
            <fieldText>&lt;p&gt;{!Check_List_Perfil_Cliente}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Check_List_PErfil_Cliente_Group}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_informaci_n_de_Dictaminacion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Lista_Valores_Picklist_Docs_Cliente</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
