unpackaged/main/default/flows/TITULACION_Crear_Pagares.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Asignacion_de_Ids</name>
        <label>Asignacion de Ids</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>VarTitulacionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCobranzaComercialId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetTitulacion.Cobranza_Comercial__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evalua_si_Hay_Cobranza_Comercial</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Financiemaiento</name>
        <choiceText>Financiemaiento</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Financiemaiento</stringValue>
        </value>
    </choices>
    <choices>
        <name>PAGAR_FINANCIERA</name>
        <choiceText>PAGARÉ FINANCIERA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PAGARE_FINANCIERA</stringValue>
        </value>
    </choices>
    <choices>
        <name>PAGAR_SUBSIDIO</name>
        <choiceText>PAGARÉ SUBSIDIO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PAGARE_SUBSIDIO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Subsidio</name>
        <choiceText>Subsidio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Subsidio</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Evalua_si_Hay_Cobranza_Comercial</name>
        <label>Evalua si Hay Cobranza Comercial</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>SCR02_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No. No hay Cobranza Comercial</defaultConnectorLabel>
        <rules>
            <name>Si_Si_hay_Cobranza_Comercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCobranzaComercialId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCobranzaComercial</targetReference>
            </connector>
            <label>Si, Si hay Cobranza Comercial</label>
        </rules>
    </decisions>
    <description>Screen Flow que permite crear pagarés de tipo Financiera y Subsidio al Perfil de titulación</description>
    <environments>Default</environments>
    <interviewLabel>TITULACION - Crear Pagares {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TITULACION - Crear Pagares</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CrearPagare</name>
        <label>CrearPagare</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>SCR04_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SCR03_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Cobranza_Comercial__c</field>
            <value>
                <elementReference>VarCobranzaComercialId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estatus__c</field>
            <value>
                <stringValue>ABIERTO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Vencimiento__c</field>
            <value>
                <elementReference>Fecha_de_Vencimiento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>Importe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <elementReference>Tipo_de_Pagare</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Titulacion__c</field>
            <value>
                <elementReference>VarTitulacionId</elementReference>
            </value>
        </inputAssignments>
        <object>Documento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCobranzaComercial</name>
        <label>GetCobranzaComercial</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCR01_SelectPagareType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCobranzaComercialId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cobranza_Comercial__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTitulacion</name>
        <label>GetTitulacion</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignacion_de_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Titulacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>SCR01_SelectPagareType</name>
        <label>SCR01_SelectPagareType</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CrearPagare</targetReference>
        </connector>
        <fields>
            <name>MSG01_Titulo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mZeG?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Pagaré Icon - s.jpg&quot;&gt;  Creación de Pagarés&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SCR01_SelectPagareType_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR01_SelectPagareType_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SCR01_SelectPagareType_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR01_SelectPagareType_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tipo_de_Pagare</name>
                    <choiceReferences>PAGAR_FINANCIERA</choiceReferences>
                    <choiceReferences>PAGAR_SUBSIDIO</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo de Pagaré</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Fecha_de_Vencimiento</name>
                    <dataType>Date</dataType>
                    <fieldText>Fecha de Vencimiento</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Importe</name>
                    <dataType>Currency</dataType>
                    <fieldText>Importe</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Crear Pagaré</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR02_Error</name>
        <label>SCR02_Error</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MSG02_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mZkK?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;warning icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;No hay un registro de Cobranza Comercial relacionado, por lo tanto, no es posible crear el pagaré. Una opción es dar clic en el botón &quot;Relacionar Cobranza Comercial&quot;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10px;&quot;&gt;Si el problema persiste comuníquese con su administrador.&lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR03_Error</name>
        <label>SCR03_Error</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_MSG02_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mZkK?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;warning icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(68, 68, 68);&quot;&gt;Surgió un error. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(68, 68, 68);&quot;&gt;No es posible crear el pagaré.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR04_Success</name>
        <label>SCR04_Success</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_MSG02_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mZkg?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Ok Icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(68, 68, 68);&quot;&gt;El pagaré fue creado exitosamente.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetTitulacion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarCobranzaComercialId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarTitulacionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
