unpackaged/main/default/flows/Titulacion_Vincula_objetos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Se_puede_Relacionar_con_Cobranza</name>
        <label>Se puede Relacionar con Cobranza?</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Titulacion.Ya_tiene_Cobranza__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmar_Escritura</targetReference>
            </connector>
            <label>Si</label>
        </rules>
        <rules>
            <name>Ya_esta_relacionado_a_Cobranza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Datos_de_Titulacion.Ya_tiene_Cobranza__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ya_se_valido_antes</targetReference>
            </connector>
            <label>Ya esta relacionado a Cobranza</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FechaActual</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Titulación - Vincula objetos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Titulación - Vincula objetos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obtiene_Datos_de_Cobranza_Comercial</name>
        <label>Obtiene Datos de Cobranza Comercial</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Se_puede_Relacionar_con_Cobranza</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtiene_Datos_del_Proceso_de_Venta.Cobranza_Comercial__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cobranza_Comercial__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_Datos_de_Titulacion</name>
        <label>Obtiene Datos de Titulación</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtiene_Datos_del_Proceso_de_Venta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Titulacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_Datos_del_Proceso_de_Venta</name>
        <label>Obtiene Datos del Proceso de Venta</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtiene_Datos_de_Cobranza_Comercial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtiene_Datos_de_Titulacion.Proceso_de_Venta__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Id_de_Cobranza_en_Titulacion</name>
        <label>Actualiza Id de Cobranza en Titulación</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtiene_Datos_de_Titulacion.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cobranza_Comercial__c</field>
            <value>
                <elementReference>Obtiene_Datos_de_Cobranza_Comercial.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ya_tiene_Cobranza__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Titulacion__c</object>
    </recordUpdates>
    <screens>
        <name>Confirmar_Escritura</name>
        <label>Confirmar Escritura</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Actualiza_Id_de_Cobranza_en_Titulacion</targetReference>
        </connector>
        <fields>
            <name>MensajeConfirmacion</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001Xsfo?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Ok Icon.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(199, 191, 192); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Se va a relacionar este registro de Titulación &quot;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(220, 10, 40); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!Obtiene_Datos_de_Titulacion.Name}&lt;/strong&gt;&lt;strong style=&quot;color: rgb(199, 191, 192); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&quot; &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(199, 191, 192); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;con el registro de Cobranza Comercial &quot;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(220, 10, 40); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!Obtiene_Datos_de_Cobranza_Comercial.Name}&lt;/strong&gt;&lt;strong style=&quot;color: rgb(199, 191, 192); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&quot;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(199, 191, 192); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;que aparece en el Proceso e Venta &quot;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(220, 10, 40); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!Obtiene_Datos_del_Proceso_de_Venta.Name}&lt;/strong&gt;&lt;strong style=&quot;color: rgb(199, 191, 192); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&quot; &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Aceptar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ya_se_valido_antes</name>
        <label>Ya se validó antes</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_MensajeNoActualiza</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001Y3Iv?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Equis.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(150, 150, 150); background-color: rgb(255, 255, 255);&quot;&gt;Ya existe un registro de Cobrnza Comercial relacionado con el registro de Titulación&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Aceptar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtiene_Datos_de_Titulacion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
