unpackaged/main/default/flows/Titulacion_Llamar_EBS_en_Escrituracion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Insert_Integracion_EBS</name>
        <label>Insert Integracion EBS</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>Integracion_EBS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ClaveRequisicion</name>
            <value>
                <stringValue>6</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PlanVentaId</name>
            <value>
                <elementReference>vPlanDeVentaID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>fTipoRequisicion</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Exigible__c}, &quot;7&quot;, &quot;6&quot;)</expression>
    </formulas>
    <interviewLabel>Llamar EBS en Escrituracion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Titulacion-Llamar EBS en Escrituracion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Plan_de_Venta_Id</name>
        <label>Get Plan de Venta Id</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Insert_Integracion_EBS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Proceso_de_Venta__c</elementReference>
            </value>
        </filters>
        <object>Plan_de_Venta__c</object>
        <outputAssignments>
            <assignToReference>vPlanDeVentaID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Plan_de_Venta_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estatus_Proceso__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Estatus_Proceso__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Escriturado</stringValue>
            </value>
        </filters>
        <object>Titulacion__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>vPlanDeVentaID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
