unpackaged/main/default/flows/UnlockRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetRecordLockStatus</name>
        <label>GetRecordLockStatus</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <actionName>GetRecordLockStatus</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IsecordLocked</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>UnlockRecord</name>
        <label>UnlockRecord</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>UnlockRecord</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SCR_Success</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>IsecordLocked</name>
        <label>IsecordLocked?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>SCR_NotLocked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Not Locked</defaultConnectorLabel>
        <rules>
            <name>Yes_Locked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRecordLockStatus.locked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnlockRecord</targetReference>
            </connector>
            <label>Yes, Locked</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>UnlockRecord {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UnlockRecord</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>SCR_NotLocked</name>
        <label>SCR_NotLocked</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MSG_02</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mOii?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Equis.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;El registro no esta bloqueado&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR_Success</name>
        <label>SCR_Success</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MSG_01</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://javer--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/06823000001mOid?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Ok Icon.jpg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;El registro se desbloqueo correctamente&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordLockStatus</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
