unpackaged/main/default/flows/UST_Actualiza_Registros_de_Plan_de_Venta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>UST - Actualiza Registros de Plan de Venta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UST - Actualiza Registros de Plan de Venta</label>
    <loops>
        <name>ActualizaProcesoDeVenta</name>
        <label>ActualizaProcesoDeVenta</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Select_UST_DataTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateProceso_de_Venta</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetUST_Pending_Records</name>
        <label>GetUST_Pending Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Registros_de_la_Tabla_Intermedia_Pendientes_de_Procesar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estatus_UST__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nuevo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Update_Statging_Table__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateProceso_de_Venta</name>
        <label>UpdateProceso de Venta</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>UpdateUST</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActualizaProcesoDeVenta.Opportunity_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Escriturado</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateUST</name>
        <label>UpdateUST</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>ActualizaProcesoDeVenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActualizaProcesoDeVenta.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estatus_UST__c</field>
            <value>
                <stringValue>Actualizado</stringValue>
            </value>
        </inputAssignments>
        <object>Update_Statging_Table__c</object>
    </recordUpdates>
    <screens>
        <name>Registros_de_la_Tabla_Intermedia_Pendientes_de_Procesar</name>
        <label>Registros de la Tabla Intermedia Pendientes de Procesar</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ActualizaProcesoDeVenta</targetReference>
        </connector>
        <fields>
            <name>Select_UST_DataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Update_Statging_Table__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Plan de Venta Staging Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetUST_Pending_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-95ba&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Update Statging Table Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Estatus_UST__c&quot;,&quot;guid&quot;:&quot;column-b990&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Estatus UST&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Link_Proceso_de_Venta__c&quot;,&quot;guid&quot;:&quot;column-ae38&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Link Proceso de Venta&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-aa20&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Registro_de_Titulacion__c&quot;,&quot;guid&quot;:&quot;column-ef6c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Registro de Titulación&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetUST_Pending_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
